{{#> accordion title=(t titleKey) small=true}}
  {{#if descriptionKey}}
    {{#if (isDandTSection descriptionKey)}}
      <p>
        {{{__
          descriptionKey
          "<a href='https://github.com/participedia/api'>"
          "</a>"
          "<a href='https://www.ecuad.ca/academics/faculties-and-departments/research-area/chair-in-art-design-technology'>"
          "</a>"
          "<a href='https://www.ecuad.ca/'>"
          "</a>"
        }}}
      </p>
    {{else}}
      <p>{{t descriptionKey}}</p>
    {{/if}}
  {{/if}}
  {{#each members}}
    <dl class="people">
      <dt>{{name}}{{#if titleKey}}, {{t titleKey}}{{/if}}</dt>
      {{# each descriptors}}
        <dd>{{this}}</dd>
      {{/each}}
    </dl>
  {{/each}}
{{/accordion}}

{{> quick-btn }}

