<li
  class="article-card"
  data-featured="{{featured}}"
  {{#if latitude}}
    data-lat-lng="{{latitude}}, {{longitude}}"
  {{/if}}
>
  <a href="/{{type}}/{{id}}">
    <div
      class="article-card-img"
      style="background-image: url('{{lookup images 0}}')"
    ></div>

    <div class="article-card-content">
      <div class="article-card-meta">
        <h5>{{toUpperCase (t type)}}</h5>
        <h3 class="article-card-title">{{title}}</h3>

        {{#if description}}
          <p class="article-card-description">{{description}}</p>
        {{/if}}
        <p class="small">{{t "Submitted"}} {{formatDate this "updated_date" "MMMM M, YYYY"}}</p>
      </div>
      <a
        href="#"
        class="bookmark-btn js-bookmark-button"
        data-bookmarked="{{bookmarked}}"
        data-type="{{type}}"
        data-thing-id="{{id}}"
      >
        <span class="is-bookmarked">
          <span class="sr-only">{{t "Remove Bookmark"}}</span>
          {{> icon-bookmark-fill}}
        </span>
        <span class="is-not-bookmarked">
          <span class="sr-only">{{t "Add Bookmark"}}</span>
          {{> icon-bookmark}}
        </span>
      </a>
    </div>

    <button type="button" class="icon-only close-card-btn js-close-card-btn">
      <span class="sr-only">{{t "Close Card"}}</span>
      {{> icon-close}}
    </button>
  </a>
</li>
