<div class="banner-notice js-banner-notice">
  <div class="banner-notice__content">
<!--    <span class="banner-notice__text-with-link">{{{ getBannerText "withLink" }}}</span>-->
<!--    <span class="banner-notice__text">{{{ getBannerText "withoutLink" }}}</span>-->
    NOTICE: We are working to fix an issue with publishing and editing entries on Participedia. Please do not attempt to publish or edit until this banner is removed. We apologize for any inconvenience.
<!--    <a href="/collection/6501" class="button button-red banner-notice__cta-button">{{t "View collection"}}</a>-->
  </div>
  <div class="banner-notice__close-button js-banner-notice__close-button">
    <a href="#">
      <span class="sr-only">{{t "close banner"}}</span>
      {{> icon-close }}
    </a>
  </div>
</div>
