{{#> three-column-row }}
  {{#> three-column-column}}
    <div class="js-blog-post-column"></div>
  {{/ three-column-column}}
  {{#> three-column-column}}
    <div class="js-blog-post-column"></div>
  {{/ three-column-column}}
  {{#> three-column-column}}
    <div class="js-blog-post-column"></div>
  {{/ three-column-column}}
{{/ three-column-row }}

<script type="text/template" id="js-blog-post-card-template">
  <div>
    <div class="js-blog-post-card__image blog-post-card__image u-margin-bottom--small"></div>
    <h3 class="js-blog-post-card__title u-margin-bottom--small"></h3>  
    <div class="js-blog-post-card__description u-margin-bottom--small"></div>  
  </div>
  <a 
    href="#" 
    target="_blank" 
    rel="noopener" 
    class="js-blog-post-card__link u-extra-bold"
  >
    {{t "Read More"}} ->
  </a>
</script>
