{{#if cards}}
  {{#if (isCollectionView req)}}        
    <div class="u-margin-bottom--small">
      {{getCollectionSummaryString article numArticlesByType}}      
    </div>
  {{/if}}

  <div class="tab-panel-header">
    {{#if (isNotCollectionView req)}} 
      {{#if totalResults}}
        {{> pagination-string }}
      {{/if}}
    {{/if}}
    {{> search-filter-button }}
  </div>

  <ul class="unstyled-list cards-container js-cards-container">
    {{#each cards }}
      {{> article-card req=../req}}
    {{/each}}
  </ul>
  {{#if totalResults}}
    {{> pagination-tab }}
  {{/if}}
{{else}}
  <div class="no-result-container u-margin-bottom--large">
    <span>{{t "no_items"}}</span>
    {{> search-filter-button }}
  </div>
  
{{/if}}
