{{#if cards}}
  <!-- TODO: Remove this -->
  {{#if includeSearchFilters}}
    <!-- {{> search-filters type=type }} -->
  {{/if}}

  {{#if (isCollectionView req)}}        
    <div class="u-margin-bottom--small">
      {{getCollectionSummaryString article numArticlesByType}}      
    </div>
  {{/if}}

  {{#if totalResults}}
    {{> pagination-string }}
  {{/if}}
  <ul class="unstyled-list cards-container js-cards-container">
    {{#each cards }}
      {{> article-card req=../req}}
    {{/each}}
  </ul>
  {{#if totalResults}}
    {{> pagination-tab }}
  {{/if}}
{{else}}
  <!-- TODO: Remove this -->
  {{#if includeSearchFilters}}
    <!-- {{> search-filters type=type }} -->
  {{/if}}

  {{#if (isCollectionView req)}}        
    <div class="u-margin-bottom--small">
      {{getCollectionSummaryString article numArticlesByType}}      
    </div>
  {{/if}}
  
  <div class="u-margin-bottom--large">{{t "no_items"}}</div>
{{/if}}
