{{#if cards}}

  {{#if (isCollectionView req)}}        
    <div class="u-margin-bottom--small">
      {{getCollectionSummaryString article numArticlesByType}}      
    </div>
  {{/if}}

  <div class="tab-panel-header">
    {{#if (isNotCollectionView req)}} 
      <div class="tab-panel-header-content"> 
        {{> download-csv-button-mobile }}
        {{> search-filter-button }}
        {{#if (includeMapsView req)}}
          {{> search-map-button }}
        {{else}}
          {{> search-entries-button }}
        {{/if}}
      </div>
      <div class="tab-panel-header-content">
        {{#if totalResults}}
            {{> pagination-string }}
          {{/if}}
      </div>
    {{/if}}
  </div>

  <ul class="unstyled-list cards-container js-cards-container">
    {{#each cards }}
      {{> article-card req=../req}}
    {{/each}}
  </ul>

  <ul class="unstyled-list cards-container js-cards-container">
    {{#each cardsDraft }}
      {{> article-card req=../req}}
    {{/each}}
  </ul>

  {{#if totalResults}}
    {{> pagination-tab }}
  {{/if}}
{{else}}
  <div class="no-result-container u-margin-bottom--large">
    <span>{{t "no_items"}}</span>
    {{> search-filter-button }}
  </div>
  
{{/if}}
