
<div class="chat-ai js-chat-ai">
  <button id="message-us-btn" class="chat-ai-button fab" type="button">
      Chat AI
      <span class="beta">BETA</span>
  </button>
  <div id="chat-popup" class="chat-popup">
    <div class="chat-welcome-msg" id="js-chat-welcome-msg">
      <div class="chat-welcome-img">
        <img src="/images/assistance.png" alt="welcome chat" />
      </div>
      <div class="chat-welcome-text">
        <p> {{t "Welcome to Participedia's AI search assistant (BETA). This bot is here to help you find information about democratic innovations, and it will do its best to provide examples from our database. Please excuse any errors, as the bot is still being tested, and be sure to review responses for accuracy."}}</p>
      </div>
    </div>
    <div class="chat-container">
      <div id="chat-box"></div>
      <!-- <div class="chat-placeholder"></div> -->
      <div class="input-container">
          <textarea type="text" id="user-input" placeholder="{{t "Type your message"}}..." autofocus></textarea>
          <button id="send-btn">
            {{t "Send"}}
            <div id="spinner"></div>
          </button>
      </div>
    </div>
    <span class="close" id="close-popup">{{> icon-close}}</span>
  </div>
</div>
