
<div class="chat-ai js-chat-ai">
  <button id="message-us-btn" type="button" class="fab button button-red">
    Chat AI
  </button>
  <div id="chat-popup" class="chat-popup">
    <div class="chat-container">
      <div id="chat-box"></div>
      <!-- <div class="chat-placeholder"></div> -->
      <div class="input-container">
          <textarea type="text" id="user-input" placeholder="Type your message..."></textarea>
          <button id="send-btn">Send</button>
      </div>
    </div>
    <span class="close" id="close-popup">{{> icon-close}}</span>
  </div>
</div>
