<div class="contact-help-faq-container js-contact-help-faq-container" style="display: none;">
  <div class="header">
    <button class="icon-only back-btn js-back">{{> icon-back-arrow}}</button>
    <h3>Participedia Help</h3>
    <button class="icon-only close-btn js-close">{{> icon-close}}</button>
  </div>
  <div class="content-area js-content-area">
    <div class="contact">
      <h3>Contact Us</h3>
      <a href="mailto: info@participedia.net" class="js-mail-link">Email Support Team</a>
    </div>
    <div class="faq-list js-faq-list">
      <h3>FAQ</h3>
      <ul class="unstyled-list">
        <li>
          <a href="#">What is a case?</a>
          <div class="faq-answer js-faq-answer">
            Cases are events and instances of participatory politics and governance of all shapes and sizes.
          </div>
        </li>

        <li>
          <a href="#">What is a method?</a>
          <div class="faq-answer js-faq-answer">
            Methods are the processes and procedures used to guide participatory politics and governance.
          </div>
        </li>

        <li>
          <a href="#">What is an organization?</a>
          <div class="faq-answer js-faq-answer">
            Organizations are profiles of formal and informal groups that design, implement, or support innovations in participatory politics and governance.
          </div>
        </li>

        <li>
          <a href="#">What is a survey?</a>
          <div class="faq-answer js-faq-answer">
            Surveys are supplementary to Participedia’s current data and narrative descriptions and are intended to gain further insight on the outcomes and effects of cases. Completed surveys are linked to corresponding cases. See the research page for more information about surveys.
          </div>
        </li>

        <li>
          <a href="#">How do I create a user account?</a>
          <div class="faq-answer js-faq-answer">
            Click “sign in” on the main menu and register with an email address or sign in with Google, Facebook or LinkedIn.
          </div>
        </li>

        <li>
          <a href="#">How do I create content?</a>
          <div class="faq-answer js-faq-answer">
            Once you are signed in, you can create content by clicking the “quick submit” button from the main menu and choosing the type of article you would like to create.
          </div>
        </li>

        <li>
          <a href="#">What is Quick Submit?</a>
          <div class="faq-answer js-faq-answer">
            Clicking quick submit allows you to publish a case, method or organization in minutes, without completing a full entry.
          </div>
        </li>

        <li>
          <a href="#">How do I edit content?</a>
          <div class="faq-answer js-faq-answer">
            While viewing a case, method or organization article, click the edit button to jump in and add to or amend the current entry.
          </div>
        </li>

        <li>
          <a href="#">How do I create content in another language?</a>
          <div class="faq-answer js-faq-answer">
            If you create an article in a language other than English, please indicate the language in parenthesis right after the name of the article - e.g. “Orcamento Participativo (Portuguese)”.
          </div>
        </li>

        <li>
          <a href="#">How do I search for content?</a>
          <div class="faq-answer js-faq-answer">
            <p>By default, the homepage search results section displays a curated set of featured content. Explore the homepage map to find content by location.</p>

            <p>Use the search bar at the top of any page to conduct a site-wide search using one or more keywords. Once your search results are displayed, sort the results by content type such as cases, methods or organizations.</p>

            <p>To conduct an advanced search, use the following syntax:</p>

            <p>AND: bicycle and rally (this is the default, so the same as bicycle rally) will return items which match both words</p>

            <p>OR: bicycle or rally will match items with either or both words</p>

            <p>NOT: bicycle not rally will match items which contain bicycle, but only if they do not also contain rally</p>

            <p>QUOTES: womens rights will return items that have womens followed by rights</p>

            <p>PARENTHESES: (bicycle or rally) and (womens rights and UK) will will group logical operations inside the parentheses as a group before applying the operators joining groups</p>
          </div>
        </li>

        <li>
          <a href="#">How do I access my bookmarked content?</a>
          <div class="faq-answer js-faq-answer">
            Visit your personal profile page to access your bookmarked content.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
