<!-- <tr>
    <td>{{id}}</td>
    <td>{{formatArticleDate this "requested_timestamp" "MMMM DD, YYYY"}}</td>
    <td>{{formatArticleDate this "finished_timestamp" "MMMM DD, YYYY"}}</td>
    <td class="word-wrap"><a class="" href="{{download_url}}" target="_blank"> Download Here </a></td>
    <td>{{type}}</td>
    <td>{{status}}</td>
</tr> -->

<tr>
    <td>24324234</td>
    <td>234234234234234</td>
    <td>234234234234234234</td>
    <td>WEEW234233234234</td>
    <td>23452fdwfdf24r2fddsf222r</td>
    <td>
        <a class="entries-action entry-approve button button-red" href="#">
          {{t "download"}}
        </a> 
        <a class="entries-action entry-reject button button-dark-grey" href="#">
          {{t "delete"}}
        </a>
    </td>
</tr>