<tr>
    <td>{{csvid}}</td>
    <td>{{type}}</td>
    <td data-order="{{requested_timestamp_iso}}">{{formatArticleDate this "requested_timestamp" "MMMM DD, YYYY HH:mm:ss"}}</td>
    <td data-order="{{finished_timestamp_iso}}">
      {{#if finished_timestamp}}
        {{formatArticleDate this "finished_timestamp" "MMMM DD, YYYY HH:mm:ss"}}
      {{else}}
        <span>Processing</span>
      {{/if}}
    </td>
    <td>
      {{#if finished_timestamp}}
        <a class="entries-action button button-red" href="{{download_url}}" target="_blank">
          {{t "download"}}
        </a> 
        <a class="entries-action delete-export button button-dark-grey" href="#" entry-id="{{csvid}}">
          {{t "delete"}}
        </a>
      {{/if}}
    </td>
</tr>