<tr>
    <td>{{csvid}}</td>
    <td>{{type}}</td>
    <td>{{formatArticleDate this "requested_timestamp" "MMMM DD, YYYY HH:mm:ss"}}</td>
    <td>
      {{#if finished_timestamp}}
        {{formatArticleDate this "finished_timestamp" "MMMM DD, YYYY HH:mm:ss"}}
      {{else}}
        <span>Processing</span>
      {{/if}}
    </td>
    <td>
      {{#if finished_timestamp}}
        <a class="entries-action entry-approve button button-red" href="{{download_url}}">
          {{t "download"}}
        </a> 
        <a class="entries-action entry-reject button button-dark-grey" href="#">
          {{t "delete"}}
        </a>
      {{/if}}
    </td>
</tr>