<div class="edit-form-author-info">
  {{#if req.user.isadmin}}
    <a class="button button-red edit-submission-details-btn js-edit-submission-details-btn">
      {{t "Edit Submission Details"}}
    </a>
  {{/if}}

  {{#if req.user.isadmin}}
    <div class="js-admin-edit-submission-details" style="display: none;">
      <div class="form-group">
        <label for="creator">{{t "First Submitted By"}}</label>
        <input
          type="text"
          id="js-creator-name"
          value="{{article.creator.name}}"
          autocomplete="false"
          autocomplete="off"
        />
        <input
          type="hidden"
          name="creator"
          value="{{article.creator.user_id}}"
        />
      </div>
      <div class="form-group">
        <label for="post_date">{{t "First Submitted Date"}}</label>
        <input
          type="date"
          value="{{formatArticleDate article "post_date" "YYYY-MM-DD"}}"
          name="post_date"
        />
      </div>

      <div class="form-group">
        <label for="last_updated_by">{{t "Most Recent Changes By"}}</label>
        <input
          type="text"
          id="js-last-updated-by-name"
          value="{{user.name}}"
          autocomplete="false"
          autocomplete="off"
        />
        <input
          type="hidden"
          name="last_updated_by"
          value="{{user.id}}"
        />
      </div>
      <div class="form-group">
        <label for="updated_date">{{t "Most Recent Change"}}</label>
        <input
          type="date"
          value="{{formatCurrentDate "YYYY-MM-DD"}}"
          name="updated_date"
        />
      </div>
    </div>
    <ul class="js-author-list" style="display: none;">
      {{#each static.authors}}
        <li data-user-id="{{id}}">{{title}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
