<!-- should be a text field, with js add autocomplete (need to determine which api to use) -->
<!--
"location_name": "",
"address1": "",
"address2": "",
"city": "Grenoble",
"province": "",
"postal_code": "",
"country": "France",
"latitude": "45° 11' 18.7044\" N",
"longitude": "5° 43' 28.2864\" E",
-->
{{> edit-text name="location_name" }}
{{> edit-text name="address1" }}
{{> edit-text name="address2" }}
{{> edit-text name="city" }}
{{> edit-text name="province" }}
{{> edit-text name="postal_code" }}
{{> edit-text name="country" }}
{{> edit-text name="latitude" }}
{{> edit-text name="longitude" }}
