<div class="edit-buttons">
    
  {{# if (isNotPublished article)}}
  <a href="/{{article.type}}/{{article.id}}/edit" class="button button-reader-preview button-reader-white-border" data-cy="main-form-preview">
     {{t "Continue Editing"}}
  </a>
  

  <button type="submit" class="button button-light-grey"  id="submitButton" data-datatype="draft" data-cy="main-form-submit">
      {{> icon-submit }} 
      {{#if req.user.accepted_date}}
        {{t "Publish"}}
      {{else}}
        {{t "Request For Approval"}}
      {{/if}}
    </button>
  {{/if}}
  </div>