{{#> case-edit-form-group quick-submit=quick-submit name=name is_required=is_required}}
  <ul class="unstyled-list edit-link-list js-edit-link-list-{{name}}">
    {{#if (isEmptyArray article name)}}
      <li>
        <input
          type="url"
          placeholder="{{placeholder static name}}"
          name="{{name}}[0]"
          value=""
        />
      </li>
    {{else}}
      {{#each (getvalue article name)}}
        <li>
          <input
            type="url"
            placeholder="{{placeholder ../static ../name}}"
            name="{{../name}}[{{@index}}]"
            value="{{this}}"
          />
        </li>
      {{/each}}
    {{/if}}
  </ul>
  <a href="#" class="js-add-link-list-item" data-for="{{name}}">+ Add another link</a>
  <script type="text/template" class="js-edit-link-list-item-template-{{name}}">
    <input
      type="url"
      placeholder="{{placeholder static name}}"
      name="{{name}}[0]"
      value=""
    />
  </script>
{{/ case-edit-form-group}}
