<div
  class="form-group form-group-{{name}}"
  {{#if quick-submit}}data-quick-submit="{{quick-submit}}"{{/if}}
>
  <label for="{{name}}" {{#if is_required}}data-required={{is_required}}{{/if}}>
    {{label article name}}
  </label>
  {{#if (hasInstructional article name)}}
    <p>
      {{{instructional article name}}}
      {{#if (hasInfo article name)}}
        {{> info-icon-to-modal 
            modalHeader=(label article name) 
            modalText=(info article name) 
        }}
      {{/if}}
    </p>
  {{/if}}
  {{> @partial-block }}
</div>
