<div
  class="form-group js-edit-media-link-form-group"
  {{#if quick-submit}}data-quick-submit="{{quick-submit}}"{{/if}}
>
  <label for="{{name}}" {{#if is_required}}data-required={{is_required}}{{/if}}>
    {{mediaLinkLabel static name 'link'}}
  </label>
  {{#if (mediaLinkInstructional static name 'link')}}
    <p>{{mediaLinkInstructional static name 'link'}}</p>
  {{/if}}

  {{#if (isEmptyArray article name)}}
    {{> edit-media-link-inputs
      name=name
      article=article
      static=static
      index=0
    }}
  {{else}}
    {{#each (getvalue article name)}}
      {{> edit-media-link-inputs
        name=../name
        article=../article
        static=../static
        index=@index
      }}
    {{/each}}
  {{/if}}
  <a href="#" class="js-add-media-link-set" data-for="{{name}}">+ Add another {{name}} link</a>

  <script type="text/template" class="js-edit-media-link-inputs-template-{{name}}">
    {{> edit-media-link-inputs
      name=name
      article=article
      static=static
      index=0
    }}
  </script>
</div>
