<div class="edit-link-set-container js-edit-link-set-container">
  <ul class="unstyled-list edit-link-set">
    <li>
      <input
        type="text"
        placeholder="{{linkSetPlaceholder article name 'url'}}"
        name="{{linkSetFieldName name index 'url'}}"
        value="{{getLinkSetValue article name index 'url'}}"
      />
    </li>
    <li>
      <p>{{linkSetInstructional article name 'attribution'}}</p>
      <input
        type="text"
        placeholder="{{linkSetPlaceholder article name 'attribution'}}"
        name="{{linkSetFieldName name index 'attribution'}}"
        value="{{getLinkSetValue article name @index 'attribution'}}"
      />
    </li>
    <li>
      <p>{{linkSetInstructional article name 'title'}}</p>
      <input
        type="text"
        placeholder="{{linkSetPlaceholder article name 'title'}}"
        name="{{linkSetFieldName name index 'title'}}"
        value="{{getLinkSetValue article name index 'title'}}"
      />
    </li>
  </ul>
  <button class="icon-only">{{> icon-close}}</button>
</div>
