<div class="edit-buttons">
    
  {{# if (isNotPublished article)}}
  <button type="submit" class="button button-preview button-white-border" data-cy="main-form-preview">
    {{> icon-preview }} {{t "Preview"}}
  </button>
  {{/if}}

  <!-- <button type="submit" class="button button-light-grey" id="submitButton" data-cy="main-form-submit" disabled="disabled">
      {{> icon-submit }} {{t "Publish"}}
    </button> -->
    <!-- Disable Publish Button for awhile  -->

    {{# if (isNotCollection article)}}
      <a href="?full=1" class="button button-dark-grey quickonly js-do-full-version">{{t "Do Full Version"}}</a>
    {{/if}}
  </div>

  <div class="something-missing-prompt">
    <h3>{{t "Something Missing?"}}</h3>
    <p>{{t "Suggest edits..."}} <a target="_blank" rel="noopener" href="mailto:info@participedia.net?subject=Suggested form edits - {{../article.type}}">info@participedia.net</a></p>
  </div>