<div class="full-width-container edit-form">
  <div class="left-col">&nbsp;</div>
  <div class="middle-col">
    <article
      class="edit-form"
      data-submit-type="{{getCaseEditSubmitType req}}"
      {{#if (isEditView req)}}
        data-view-edit
      {{else}}
        data-view-new
      {{/if}}
    >
          <form
            {{#if (isEditView req)}}
              action="/{{article.type}}/{{article.id}}"
            {{else}}
              action="new"
            {{/if}}
            method="post"
            enctype="application/x-www-form-urlencoded"
            class="js-edit-form"
          >
            <input type="hidden" name="user" value="{{req.user.id}}" />
            <input type="hidden" name="locale" value="{{req.locale}}" />
            <input type="hidden" name="supportedLangs" value="{{toJSON (getLanguageSelectorTabs)}}">

            {{#if (isEditView req)}}
              <input type="hidden" name="article_id" value="{{article.id}}" />
              <input type="hidden" name="article_data" value="{{toJSON articles}}" />
            {{/if}}

            <input type="hidden" name="original_language" value="{{getOriginalLanguageValueForEditForm article}}" />

            {{#if req.user.isadmin}}
              <fieldset class="admin-only">
                <div class="edit-form-admin-only-section">
                  <h2 class="fieldset-header">{{t "Admin Only"}}</h2>
                  {{> edit-boolean article=article name="featured" quick-submit=true}}
                  {{> edit-boolean article=article name="hidden" quick-submit=true}}
                  {{# if (isNotCollection article)}}
                    {{> article-edit-select article=article static=static name="completeness" quick-submit=true}}
                    {{> edit-autocomplete article=article static=static name="collections" multi=true }}
                  {{/if}}
                  {{> edit-submission-details article=article }}
                </div>
              </fieldset>
            {{/if}}

            {{> original-language-alert article=article}}
            {{> @partial-block article=article __=__ static=static}}

          </form>
      {{> edit-form-submit-button article=article}}

    </article>
  </div>
  <div class="right-col">
    <button type="submit" class="button button-red floating-action-button" title="Publish">
      <span class="sr-only">{{t "Publish"}}</span>
      {{> icon-submit }}
    </button>
  </div>
</div>

<script type="text/template" class="js-input-language-select-tooltip-template">
  <div>
    {{t "new-entry-input-language-select-tooltip__text"}}
  </div>
  <div class="language-select-tooltip__actions">
    <a href="#" class="js-input-language-select-tooltip__got-it-link">{{t "Got it"}}</a>
  </div>
</script>


