<div class="edit-media-link-set-container js-edit-media-link-set-container">
  <ul class="unstyled-list edit-media-link-set">
    <li>
      <input
        type="text"
        placeholder="{{mediaLinkPlaceholder static name 'link'}}"
        name="{{mediaLinkFieldName name index 'link'}}"
        value="{{getMediaLinkValue article name index 'link'}}"
      />
    </li>
    <li>
      <p>{{mediaLinkInstructional static name 'attribution'}}</p>
      <input
        type="text"
        placeholder="{{mediaLinkPlaceholder static name 'attribution'}}"
        name="{{mediaLinkFieldName name index 'attribution'}}"
        value="{{getMediaLinkValue article name @index 'attribution'}}"
      />
    </li>
    <li>
      <p>{{mediaLinkInstructional static name 'title'}}</p>
      <input
        type="text"
        placeholder="{{mediaLinkPlaceholder static name 'title'}}"
        name="{{mediaLinkFieldName name index 'title'}}"
        value="{{getMediaLinkValue article name index 'title'}}"
      />
    </li>
  </ul>
  <button class="icon-only">{{> icon-trash}}</button>
</div>
