{{#> edit-form-group quick-submit=quick-submit name=name is_required=is_required}}
  <input
    type="text"
    placeholder="{{placeholder static name}}"
    name="{{name}}"
    {{#if value}}
      {{!-- if a value is passed into the partial, use that --}}
      {{!-- value="{{getValue model key}}" , but then would have to pass in model to every component --}}
      value="{{value}}"
    {{else}}
      {{!-- if no value is passed in, assume this is for use with articles --}}
      value="{{getvalue article name}}"
    {{/if}}
  />
{{/ edit-form-group}}
