<ul class="unstyled-list">
  {{#> faq-item
    id="faq_q1"
    withAnswer=withAnswer
    question=(t "faq_q1")
  }}
    {{{__
      "faq_a1"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    id="faq_q2"
    withAnswer=withAnswer
    question=(t "faq_q2")
  }}
    {{{__
      "faq_a2"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q3")
  }}
    {{{__
      "faq_a3"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q4")
  }}
    {{{__
      "faq_a4"
      "<a href='/research'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q5")
  }}
    {{t "faq_a5"}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q11")
  }}
    {{{__
      "faq_a11"
      "<a href='mailto:info@participedia.net'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q6")
  }}
    {{{__
      "faq_a6"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q7")
  }}
    {{t "faq_a7"}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q8")
  }}
    {{t "faq_a8"}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q9")
  }}
    {{{__
      "faq_a9"
       "<a href='mailto:info@participedia.net'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q10")
  }}
    <p>{{t "faq_a10_p1"}}</p>
    <p>{{t "faq_a10_p2"}}</p>
    <p>{{t "faq_a10_p3"}}</p>
    {{{__ "faq_a10_p4" "<pre>" "</pre>"}}}<br/><br/>
    {{{__ "faq_a10_p5" "<pre>" "</pre>"}}}<br/><br/>
    {{{__ "faq_a10_p6" "<pre>" "</pre>"}}}<br/><br/>
    {{{__ "faq_a10_p7" "<pre>" "</pre>"}}}<br/><br/>
    {{{__ "faq_a10_p8" "<pre>" "</pre>" "<pre>" "</pre>"}}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q12")
  }}
    {{t "faq_a12"}}
  {{/faq-item}}
</ul>