<ul class="unstyled-list">
  {{#> faq-item
    id="faq_q1"
    withAnswer=withAnswer
    question=(t "faq_q1")
  }}
    {{{__
      "faq_a1"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    id="faq_q2"
    withAnswer=withAnswer
    question=(t "faq_q2")
  }}
    {{{__
      "faq_a2"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q3")
  }}
    {{{__
      "faq_a3"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    id="faq_q13"
    withAnswer=withAnswer
    question=(t "faq_q13")
  }}
    {{{__ "faq_a13"}}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q4")
  }}
    {{{__
      "faq_a4"
      "<a href='/research'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q5")
  }}
    {{t "faq_a5"}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q11")
  }}
    {{{__
      "faq_a11"
      "<a href='mailto:info@participedia.net'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q6")
  }}
    {{{__
      "faq_a6"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing' target='_blank'>"
      "</a>"
      "<a href='mailto:info@participedia.net' target='_blank'>"
      "</a>"
    }}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q7")
  }}
    {{t "faq_a7"}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q8")
  }}
    {{t "faq_a8"}}
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q14")
  }}
    <p>{{t "faq_a14_p1"}}</p>
    <p>{{t "faq_a14_p2"}}</p>
    <p>{{t "faq_a14_p3"}}</p>
    <p>{{t "faq_a14_p4"}}</p>
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q9")
  }}
    <p>{{t "faq_a9_p1"}}<p>
    <p>{{{__
      "faq_a9_p2"
      "<a href='mailto:info@participedia.net'>"
      "</a>"
    }}}</p>
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q10")
  }}
    <p>{{{__ "faq_a10_p1" "<a href='/search'>" "</a>"}}}</p>
    <p>{{t "faq_a10_p2"}}</p>
    <p>{{{__ "faq_a10_p4" "<span class='u-code'>" "</span>"}}}</p>
    <p>{{{__ "faq_a10_p5" "<span class='u-code'>" "</span>"}}}</p>
    <p>{{{__ "faq_a10_p6" "<span class='u-code'>" "</span>"}}}</p>
    <p>{{{__ "faq_a10_p7" "<span class='u-code'>" "</span>"}}}</p>
    <p>{{{__ "faq_a10_p8" "<span class='u-code'>" "</span>" "<span class='u-code'>" "</span>"}}}</p>
  {{/faq-item}}

  {{#> faq-item
    question=(t "faq_q12")
  }}
    {{t "faq_a12"}}
  {{/faq-item}}
</ul>
