<footer>
  <section>
    <nav class="footer-main-nav">
      <ul class="nav-list">
        <li><a href="/about">About</a></li>
        <li><a href="/research">Research</a></li>
        <li><a href="/teaching">Teaching</a></li>
      </ul>
      <ul class="nav-list">
        <li><a href="/cases">Cases</a></li>
        <li><a href="/methods">Methods</a></li>
        <li><a href="/organizations">Organizations</a></li>
      </ul>
      <ul class="nav-list">
        <li><a href="/help">Help & Contact</a></li>
        <li><a href="/legal">Terms of Use</a></li>
      </ul>
    </nav>

    <div class="footer-description">
      <h3>Participedia</h3>
      <p>A global community sharing knowledge and stories about public participation</p>
    </div>

    <nav class="footer-social-nav">
      <ul class="nav-list">
        <li>
          <a
            target="_blank"
            href="https://www.facebook.com/Participedia/"
          >
            {{> icon-facebook }}
            <span class="sr-only">Particpedia on Facebook</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://twitter.com/participedia"
          >
            {{> icon-twitter }}
            <span class="sr-only">Participedia on Twitter</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/participedia"
          >
            {{> icon-linkedIn }}
            <span class="sr-only">Participedia on LinkedIn</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="footer-copyright-area">
    <span>&#169; Participedia 2019</span>
  </section>
</footer>
