<footer>
  <section>
    <nav class="footer-main-nav">
      <ul class="nav-list">
        <li><a href="/">{{t "Home"}}</a></li>
        <li><a href="/search">{{t "Search"}}</a></li>
        <li><a href="/about">{{t "About"}}</a></li>
        <li><a href="/research">{{t "Research"}}</a></li>
        <li><a href="/teaching">{{t "Teaching"}}</a></li>
      </ul>
      <ul class="nav-list">
        <li><a href="/search?selectedCategory=case">{{t "Cases"}}</a></li>
        <li><a href="/search?selectedCategory=method">{{t "Methods"}}</a></li>
        <li><a href="/search?selectedCategory=organizations">{{t "Organizations"}}</a></li>
        <li><a href="/search?selectedCategory=collections">{{t "Collections"}}</a></li>
      </ul>
      <ul class="nav-list">
        <li><a href="/getting-started">{{t "Getting Started"}}</a></li>
        <li><a href="https://medium.com/@participediaproject" target="_blank" rel="noopener">{{t "News"}}</a></li>
        <li><a href="/help">{{t "Help & Contact"}}</a></li>
        <li><a href="/legal">{{t "Terms of Use"}}</a></li>
      </ul>
    </nav>

    <div class="footer-description">
      <h3>Participedia</h3>
      <p>{{t "main_tagline"}}</p>
    </div>

    <nav class="footer-social-nav">
      <ul class="nav-list">
        <li>
          <a
            target="_blank" rel="noopener"
            href="https://medium.com/@participediaproject"
          >
            {{> icon-medium }}
            <span class="sr-only">{{t "Particpedia Blog on Medium"}}</span>
          </a>
        </li>
        <li>
          <a
            target="_blank" rel="noopener"
            href="https://github.com/participedia"
          >
            {{> icon-github }}
            <span class="sr-only">{{t "Particpedia on GitHub"}}</span>
          </a>
        </li>
        <li>
          <a
            target="_blank" rel="noopener"
            href="https://www.facebook.com/Participedia/"
          >
            {{> icon-facebook }}
            <span class="sr-only">{{t "Particpedia on Facebook"}}</span>
          </a>
        </li>
        <li>
          <a
            target="_blank" rel="noopener"
            href="https://twitter.com/participedia"
          >
            {{> icon-twitter }}
            <span class="sr-only">{{t "Participedia on Twitter"}}</span>
          </a>
        </li>
        <li>
          <a
            target="_blank" rel="noopener"
            href="https://www.linkedin.com/company/participedia"
          >
            {{> icon-linkedIn }}
            <span class="sr-only">{{t "Participedia on LinkedIn"}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>

  <section>
    {{> language-select }}
  </section>

  <section class="footer-creativecommons-logo">
    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" rel="noopener">{{> icon-creative-commons}}</a>
  </section>
</footer>
