<header>
  <nav class="sidebar-menu js-sidebar-menu" id="sidebar-menu">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/teaching">Teaching</a></li>
      <li><a href="/research">Research</a></li>
      <li><a href="/help">Help & Contact</a></li>
      <li><a href="/legal">Terms of Use</a></li>
    </ul>
  </nav>
  <nav class="horizontal-menu">
    <ul class="nav-list">
      <li class="menu-icon-container">
        <a href="#sidebar-menu" class="sidebar-menu-closed">
          <span class="sr-only">open menu</span>
          {{> icon-hamburger }}
        </a>
        <a href="#" class="sidebar-menu-open">
          <span class="sr-only">close menu</span>
          {{> icon-hamburger }}
        </a>
      </li>
      <li class="header-logo-container"><a href="/">Participedia</a></li>
      <li class="header-search-container">
        <form action="/">
          <input name="query" type="text" placeholder="Search" />
          <div class="icon-container">
            {{> icon-search }}
          </div>
        </form>
      </li>
      <li class="quick-submit-container">
        <a href="/new" class="button white-button">
          {{> icon-add }} Quick Submit
        </a>
      </li>
      <li>
        <a
          href="https://participedia.auth0.com/login"
          class="button dark-grey-button"
        >
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>
