<header class="js-header">
  <nav class="sidebar-menu js-sidebar-menu" id="sidebar-menu">
    <div class="sidebar-menu-inner-container">
      <ul class="nav-list sidebar-menu-main-menu">
        <li><a href="/">{{t "Home"}}</a></li>
        <li><a href="/search">{{t "Search"}}</a></li>
        <li><a href="/about">{{t "About"}}</a></li>
        <li><a href="/teaching">{{t "Teaching"}}</a></li>
        <li><a href="/school">{{t "Participedia School"}}</a></li>
        <li><a href="/research">{{t "Research"}}</a></li>
        <li><a href="/getting-started">{{t "Getting Started"}}</a></li>
        <li><a href="https://medium.com/@participediaproject" target="_blank" rel="noopener">{{t "News"}}</a></li>
        <li><a href="/help-faq-contact">{{t "Help & Contact"}}</a></li>
        <li><a href="/legal">{{t "Terms of Use"}}</a></li>
      </ul>

      <ul class="nav-list sidebar-menu-additional-nav">
       <li>
         <a href="/content-chooser" class="button button-red">
           {{> icon-add }} {{t "Quick Submit"}}
         </a>
       </li>
        <li>
          {{#if req.user}}
            <a href="/user/{{req.user.id}}" class="button button-dark-grey">
              {{t "Profile"}}
            </a>
          {{else}}
            <a href="/login" class="button button-dark-grey">{{t "Login"}}</a>
          {{/if}}
        </li>
        <li>
          <a href="https://mailchi.mp/participedia/subscribe" target="_blank" rel="noopener" class="button button-light-grey">
            {{t "Newsletter Sign Up"}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="full-width-container">
    <div class="left-col">
      <div class="menu-icon-container js-menu-icon-container">
        <a href="#sidebar-menu" class="sidebar-menu-close" data-menu-is-open>
          <span class="sr-only">{{t "close menu"}}</span>
          {{> icon-hamburger }}
        </a>
        <a href="#" class="sidebar-menu-open" data-menu-is-closed>
          <span class="sr-only">{{t "open menu"}}</span>
          {{> icon-hamburger }}
        </a>
        <a href="/" class="header-logo">Participedia</a>
      </div>
    </div>
    <div class="middle-col">
      <div class="header-search-container">
        <form action="/search" class="js-query-search-form">
          <input name="query" type="text" placeholder={{t "Search"}} value="{{req.query.query}}" class="js-query-search-input" />
          <div class="icon-container">
            {{> icon-search }}
          </div>
          <div class="icon-container">
            <button type="button" class="js-search-query-clear-button hidden">{{> icon-close }}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="right-col">
      <div class="header-buttons">
        {{> language-select showTwoLetterCode=true showBoth=true}}
       <a href="/content-chooser" class="button button-white quick-submit-button">
         {{> icon-add }} {{t "Quick Submit"}}
       </a>
        {{#if req.user}}
          <div class="profile-dropdown-button-container js-profile-dropdown-button-container">
            <button class="button button-with-icon profile-dropdown-button-trigger js-profile-dropdown-button-trigger">
              <div class="header-user-profile-image-initial user-profile-image-initial">
                {{getInitials req.user.name}}
              </div>
              {{#if (getGravatarUrl req.user.email)}}
                <img
                  src="{{getGravatarUrl req.user.email}}?s=40&d=blank"
                  alt="{{t "profile_picture"}}"
                  width="40"
                  height="40"
                />
              {{/if}}
            </button>
            <div class="profile-dropdown-button-items js-profile-dropdown-button-items">
              <a href="/user/{{req.user.id}}">{{t "Profile"}}</a>
              <a href="/exports/csv">{{t "csv_exports"}}</a>
              <a href="/logout">{{t "Sign out"}}</a>
            </div>
          </div>
        {{else}}
          <a href="/login" class="button button-dark-grey js-header-login-button">{{t "Login"}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</header>
