<header>
  <nav class="sidebar-menu js-sidebar-menu" id="sidebar-menu">
    <div class="sidebar-menu-inner-container">
      <ul class="nav-list sidebar-menu-main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/teaching">Teaching</a></li>
        <li><a href="/research">Research</a></li>
        <li><a href="/help">Help & Contact</a></li>
        <li><a href="/legal">Terms of Use</a></li>
      </ul>

      <ul class="nav-list sidebar-menu-additional-nav">
        <li>
          <a href="/new" class="button button-red">
            {{> icon-add }} Quick Submit
          </a>
        </li>
        <li>
          {{#if user}}
            <a href="/user/{{user.id}}" class="button button-dark-grey">
              Profile
            </a>
          {{else}}
            <button
              type="button"
              class="button button-dark-grey js-login-button"
            >
              Login
            </button>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
  <nav class="horizontal-menu">
    <ul class="nav-list">
      <li class="menu-icon-container">
        <a href="#sidebar-menu" class="sidebar-menu-closed">
          <span class="sr-only">open menu</span>
          {{> icon-hamburger }}
        </a>
        <a href="#" class="sidebar-menu-open">
          <span class="sr-only">close menu</span>
          {{> icon-hamburger }}
        </a>
      </li>
      <li class="header-logo-container"><a href="/">Participedia</a></li>
      <li class="header-search-container">
        <form action="/">
          <input name="query" type="text" placeholder="Search" />
          <div class="icon-container">
            {{> icon-search }}
          </div>
        </form>
      </li>
      <li class="quick-submit-container">
        <a href="/new" class="button button-white">
          {{> icon-add }} Quick Submit
        </a>
      </li>
      <li>
        {{#if user}}
          <a href="/user/{{user.id}}" class="header-profile-link">
            <span class="sr-only">goto profile</span>
            <img src="{{user.picture_url}}" width="40" height="40" alt="profile picture" />
          </a>
        {{else}}
          <button
            type="button"
            class="button button-dark-grey js-login-button"
          >
            Login
          </button>
        {{/if}}
      </li>
    </ul>
  </nav>
</header>
