<select name="locale" class="language-select js-language-select" style="display:none;">
  {{#if showTwoLetterCode}}
  {{else}}
    <option value="">{{t "Select Language"}}</option>
  {{/if}}
  {{#each (getLanguageOptions)}}
    {{#if ../showTwoLetterCode}}
      {{> language-select-option key=twoLetterCode value=(toUpperCase twoLetterCode)}}
    {{else}}
      {{> language-select-option key=twoLetterCode value=(t name)}}
    {{/if}}
  {{/each}}
</select>

<select name="locale" class="language-slim-select js-language-slim-select">
  {{#each (getLanguageOptions)}}
    {{> language-select-option key=twoLetterCode value=(t name)}}>
  {{/each}}
</select>


