<div class="language-selector js-language-selector">
  <label class="selected-language">{{getLocale}}</label>
  <select name="locale" class="language-select js-language-select">
    {{#if showTwoLetterCode}}
    {{else}}
      <option value="">{{t "Select Language"}}</option>
    {{/if}}
    {{#each (getLanguageOptions)}}
      {{#if ../showBoth}}
        {{> language-select-option key=twoLetterCode showBoth=../showBoth value=(t name)}}
      {{else}}
        {{#if ../showTwoLetterCode}}
          {{> language-select-option key=twoLetterCode showBoth=../showBoth value=(toUpperCase twoLetterCode)}}
        {{else}}
          {{> language-select-option key=twoLetterCode showBoth=../showBoth value=(t name)}}
        {{/if}}
      {{/if}}
    {{/each}}
  </select>
</div>

<script 
  type="text/template" 
  class="js-language-select-modal-content"
  data-header="{{t 'faq_q14'}}"
>
  <p>{{t "faq_a14_p1"}}</p>
  <p>{{t "faq_a14_p2"}}</p>
  <p>{{t "faq_a14_p3"}}</p>
  <p>{{t "faq_a14_p4"}}</p>
</script>

<script type="text/template" class="js-language-select-tooltip-template">
  <div>
    To ensure accurate translation, please enter text in 
    <strong>{{getLocalizedLanguageLabel}}</strong>, 
    or change selected language here.
  </div>
  <div class="language-select-tooltip__actions">
    <a href="#" class="js-language-select-tooltip__more-link">Tell me more...</a>
    <a href="#" class="js-language-select-tooltip__got-it-link">Got it</a>
  </div>
</script>
