<div class="map-container">
  <div class="map-inner js-map-inner" data-i18n={{mapArticleCardPhrases}}></div>

  <div class="map-legend js-map-legend">    
    <ul class="unstyled-list map-legend__list">
      <li>{{> icon-map-marker }} {{t "Cases & Organizations"}}</li>
      <li class="map-legend-featured-icon u-margin-right--small">{{> icon-map-marker }} {{t "Featured Entries"}}</li>
    </ul>
  </div>

  <div>
    <div class="map-controls js-map-controls">
      <button class="button icon-only map-zoom-control-in js-map-zoom-control-in">
        <span class="sr-only">{{t "Zoom Map In"}}</span>
        {{> icon-add}}
      </button>
      <button class="button icon-only map-zoom-control-out js-map-zoom-control-out">
        <span class="sr-only">{{t "Zoom Map Out"}}</span>
        {{> icon-minus}}
      </button>
    </div>
  </div>
</div>

<script type="text/template" id="js-map-article-card-template">
  {{> article-card }}
</script>
