<div class="map-container">
  <div class="map-legend js-map-legend" style="display: none;">
    <div class="map-legend-inner">
      <ul class="unstyled-list">
        <li>{{> icon-map-marker }} {{t "Cases & Organizations"}}</li>
        <li class="map-legend-featured-icon">{{> icon-map-marker }} {{t "Featured Entries"}}</li>
        <li>
          <button class="button icon-only js-map-overlay-trigger">
            <span class="sr-only">{{t "map information"}}</span>
            {{> icon-info }}
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="map-inner js-map-inner"></div>

  <button class="map-overlay js-map-overlay" style="display: none;">
    <span class="sr-only">{{t "Click anywhere to activate map"}}</span>
    <div class="map-overlay-inner">
      <div class="map-overlay-tagline">
        <div class="map-overlay-tagline-inner">
          <h1>{{t "home.tagline"}}</h1>
        </div>
      </div>

      <div class="map-overlay-footer">
        <div>
          {{#if (isNotLoggedIn req)}}
            <a href="/login" class="button button-red">{{t "Join Now"}}</a>
          {{/if}}
        </div>
        <div class="map-overlay-info">
          <div class="map-overlay-info-inner">
            {{t "Click anywhere to activate map"}} {{> icon-map-marker }}
          </div>
        </div>
      </div>
    </div>
  </div>
</button>

<div style="display: none;">
  <div class="map-controls js-map-controls">
    <button class="button icon-only map-zoom-control-in js-map-zoom-control-in">
      <span class="sr-only">{{t "Zoom Map In"}}</span>
      {{> icon-add}}
    </button>
    <button class="button icon-only map-zoom-control-out js-map-zoom-control-out">
      <span class="sr-only">{{t "Zoom Map Out"}}</span>
      {{> icon-minus}}
    </button>
  </div>
</div>
