<div class="pagination">
  <div class="pagination-string">
    {{paginationNumResults cards req}} results of {{total}}
    {{#if searchTerm}} for ${searchTerm} {{/if}}
    (page {{getCurrentPage req}} of {{pages}})
  </div>
  <ul class="unstyled-list pagination-nav">
    <li>
      <a href="/?page=1" class="icon-only">
        <span class="sr-only">first page</span>
        {{> icon-double-arrow-left}}
      </a>
    </li>
    <li>
      <a href="/?page={{getPrevPageNum req}}" class="icon-only">
        <span class="sr-only">previous</span>
        {{> icon-arrow-left}}
      </a>
    </li>
    <li>
      <a href="/?page={{getNextPageNum req pages}}" class="icon-only">
        <span class="sr-only">next</span>
        {{> icon-arrow-right}}
      </a>
    </li>
    <li>
      <a href="/?page={{pages}}" class="icon-only">
        <span class="sr-only">last page</span>
        {{> icon-double-arrow-right}}
      </a>
    </li>
  </ul>
</div>
