<tr>
    <td>{{formatArticleDate this "updated_date" "MMMM DD, YYYY"}}</td>
    <td class="hidden">{{formatArticleDate this "updated_date" "YYYYMMDD"}}</td>
    <td>{{title}}</td>
    <td>{{type}}</td>
    <td>{{name}}</td>
    <td>
      <a class="entries-action entry-approve" href="#" entry-id="{{thingid}}" class="button button-red">
        {{t "approve_entry"}}
      </a> 
      <a class="entries-action entry-reject" href="#" entry-id="{{thingid}}" class="button button-dark-grey">
        {{t "block_entry"}}
      </a>
    </td>
</tr>