<tr>
    <td>{{formatArticleDate this "updated_date" "MMM DD, YYYY"}}</td>
    <td class="hidden">{{formatArticleDate this "updated_date" "YYYYMMDD"}}</td>
    <td class="word-wrap"><a class="" href="/{{type}}/{{thingid}}?canEdit=false" target="_blank"> {{checkAndGetValue title}} </a></td>
    <td>{{type}}</td>
    <td>{{#if name}}{{name}}{{else}}-{{/if}}</td>
    <td>
      <a class="entries-action entry-approve button button-red" href="#" entry-id="{{thingid}}">
        {{t "approve_entry"}}
      </a> 
      <a class="entries-action entry-reject button button-dark-grey" href="#" entry-id="{{thingid}}">
        {{t "block_entry"}}
      </a>
    </td>
</tr>