<tr>
    <td>{{formatArticleDate this "updated_date" "MMMM DD, YYYY"}}</td>
    <td class="hidden">{{formatArticleDate this "updated_date" "YYYYMMDD"}}</td>
    <td>{{title}}</td>
    <td>{{type}}</td>
    <td>{{name}}</td>
    <td>
      <a class="entries-action entry-approve" href="#" entry-id="{{thingid}}" >
        <i data-feather="check"></i>
      </a> 
      <a class="entries-action entry-reject" href="#" entry-id="{{thingid}}" >
        <i data-feather="x-circle"></i>
      </a>
    </td>
</tr>