<li class="article-card">
  <a href="/{{type}}/{{id}}">
    <img src="{{lookup images 0}}" alt="article main image" width="280" height="200" />
    <div class="article-card-meta">
      <h5>{{toUpperCase type}}</h5>
      <button type="button" class="icon-only">
        {{#if bookmarked }}
          {{> icon-bookmark-filled}}
        {{else}}
          {{> icon-bookmark}}
        {{/if}}
      </button>
    </div>

    <h3 class="article-card-title">{{truncateText title}}</h3>
    <p>Submitted {{formatDate this "updated_date" "MMMM M, YYYY"}}</p>
  </a>
</li>
