<li class="article-card" data-featured="{{featured}}" data-lat-lng="{{parseLatLng latitude longitude}}">
  <a href="/{{type}}/{{id}}">
    <div
      class="article-card-img"
      style="background-image: url('{{lookup images 0}}')"
    ></div>
    <div class="article-card-meta">
      <h5>{{toUpperCase type}}</h5>
      <button type="button" class="icon-only bookmark-btn">
        {{#if bookmarked }}
          <span class="sr-only">Remove Bookmark</span>
          {{> icon-bookmark-filled}}
        {{else}}
          <span class="sr-only">Add Bookmark</span>
          {{> icon-bookmark}}
        {{/if}}
      </button>
    </div>

    <h3 class="article-card-title">{{truncateText title}}</h3>
    <p>Submitted {{formatDate this "updated_date" "MMMM M, YYYY"}}</p>

    <button type="button" class="icon-only close-card-btn js-close-card-btn">
      <span class="sr-only">Close Card</span>
      {{> icon-close}}
    </button>
  </a>
</li>
