<div id="search-filter-modal" data-modal>
  <div class="aria-modal-document" data-modal-document>
    <div class="aria-modal-content" data-modal-content>
      <h2>Search Filters</h2>
      <!-- content to be inserted via JS before opening modal -->
      {{> search-filter-list type=type}}
    </div>
    <div class="aria-modal-footer" data-modal-footer>
      <button type="button" class="search-filter-modal-clear-btn">Clear all</button>
      <button type="button" class="search-filter-modal-show-results-btn button button-red" aria-label="Close" data-modal-close>
        Show Results
      </button>
    </div>
  </div>
</div>
