<a href="/{{type}}/{{id}}">
  <article class="card">
    <img src="{{lookup images 0}}" alt="article main image" />
    <button type="button" class="bookmark">
      {{#if bookmarked }}
        <img width="32px" src="/images/bookmark-ribbon.png" alt="bookmarked" />
      {{else}}
        <img width="32px" src="/images/bookmark-outline.png" alt="not bookmarked" />
     {{/if}}
    </button>
    <h2>{{type}}</h2>
    <h1>{{this.title}}</h1>
    <p>{{static.updated_date_label}} <time datetime="{{updated_date}}">{{updated_date}}</time></p>
  </article>
</a>
