<form class="search-filter-list js-search-filter-list">
	<div class="search-filter-list-item">
		<div class="filter-label">
			<label for="country">Country</label>
		</div>
		<div class="filter-input">
			{{> search-filter-autocomplete name="country"}}
		</div>
  </div>
  {{#each (searchFiltersSections type)}}
    {{#each fieldNameKeys}}
      <div class="search-filter-list-item">
    		<div class="filter-label">
    			<label>{{searchFilterLabel ../../type this}}</label>
    		</div>
        {{#> accordion-show-all title='Show All' key=(getRandomKey)}}
          <div class="accordion-summary-content unstyled-list keys-list js-keys-list" data-field-name="{{../this}}">
            {{#each (getOptionsForFilterKeyNew ../this true)}}
              <div class="keys-list-item">
                <input
                  type="checkbox"
                  data-field-name="{{../../this}}"
                  data-section-key="{{../sectionKey}}"
                  name="{{key}}"
                  id="{{../../this}}[{{key}}]"
                  >
                <label for="{{../../this}}[{{key}}]">{{value}}</label>
              </div>
            {{/each}}
          </div>

          <div class="accordion-full-content unstyled-list keys-list js-keys-list" data-field-name="{{../this}}">
            {{#each (getOptionsForFilterKeyNew ../this false)}}
              <div class="keys-list-item">
                <input
                  type="checkbox"
                  data-field-name="{{../../this}}"
                  data-section-key="{{../sectionKey}}"
                  name="{{key}}"
                  id="{{../../this}}[{{key}}]"
                  >
                <label for="{{../../this}}[{{key}}]">{{value}}</label>
              </div>
            {{/each}}
          </div>
          <!-- <div class="filter-show-all-container">
            <button
              class="filter-list-item-show-all-btn js-filter-list-item-show-all-btn"
              type="button"
              data-list-key="{{this}}"
            >
              Show all
            </button>
          </div> -->
        {{/accordion-show-all}}
      </div>
    {{/each}}
  {{/each}}
</form>