<select name={{name}} class="js-edit-select" id="js-edit-select-{{name}}{{idSuffix}}">
  {{#if (booleanCheck placeholder_txt) }}
  <option  data-placeholder="true" value="">{{placeholder_txt}}</option>
  {{/if}}

  {{#if (booleanCheck isLanguage)}}
  <option {{#if (isEqual req.locale "en" )}}selected{{/if}} value="en">{{t 'name:en'}}</option>
  <option {{#if (isEqual req.locale "fr" )}}selected{{/if}} value="fr">{{t 'name:fr'}}</option>
  <option {{#if (isEqual req.locale "es" )}}selected{{/if}} value="es">{{t 'name:es'}}</option>
  <option {{#if (isEqual req.locale "pt" )}}selected{{/if}} value="pt">{{t 'name:pt'}}</option>
  <option {{#if (isEqual req.locale "zh" )}}selected{{/if}} value="zh">{{t 'name:zh'}}</option>
  <option {{#if (isEqual req.locale "de" )}}selected{{/if}} value="de">{{t 'name:de'}}</option>
  <option {{#if (isEqual req.locale "it" )}}selected{{/if}} value="it">{{t 'name:it'}}</option>
  {{else}}
  {{#each options}}
  <option value="{{this}}" {{#if (isEqual ../selectedValue this)}}selected{{/if}}>
    {{i18nEditFieldValue ../name this ../locale noKey}}
  </option>
  {{/each}}
  {{/if}}
</select>