<div class="dropdown-button-container js-dropdown-button-container">
  <button class="button button-with-icon dropdown-button-trigger js-dropdown-button-trigger">
    {{"t Sort By"}}
    {{> icon-dropdown-arrow}}
  </button>
  <div class="dropdown-button-items js-sort-by-items js-dropdown-button-items">
    <a href="/{{req.pathname}}/?sortby=created_at" data-sortby="created_at">{{t "Date Submitted"}}</a>
    <a href="/{{req.pathname}}/?sortby=updated_at" data-sortby="updated_at">{{t "Last Edited"}}</a>
  </div>
</div>
