<div class="js-form-language-selector-container">
    <span class="js-form-language-selector" data-language="en">English</span>
    <span class="js-form-language-selector" data-language="fr">French</span>
    <span class="js-form-language-selector" data-language="de">German</span>
    <span class="js-form-language-selector" data-language="es">Spanish</span>
    <span class="js-form-language-selector" data-language="zh">Chinese</span>
    <span class="js-form-language-selector" data-language="it">Italian</span>
    <span class="js-form-language-selector" data-language="pt">Portugese</span>
    <span class="js-form-language-selector" data-language="nl">Dutch</span>
</div>