<nav class="tabs">
  <label>{{static.all_tab_label}}<input type="radio" name="tab" value="{{static.all_tab_label}}" /></label>
  <label>{{static.cases_tab_label}}<input type="radio" name="tab" value="{{static.cases_tab_label}}" /></label>
  <label>{{static.methods_tab_label}}<input type="radio" name="tab" value="{{static.methods_tab_label}}" /></label>
  <label>{{static.tools_tab_label}}<input type="radio" name="tab" value="{{static.tools_tab_label}}" /></label>
  <label>{{static.organizations_tab_label}}<input type="radio" name="tab" value="{{static.organizations_tab_label}}" /></label>
  <label>{{static.resources_tab_label}}<input type="radio" name="tab" value="{{static.resources_tab_label}}" /></label>
  <label>{{static.news_tab_label}}<input type="radio" name="tab" value="{{static.news_tab_label}}" /></label>
  <label>{{static.users_tab_label}}<input type="radio" name="tab" value="{{static.users_tab_label}}" /></label>

  <label><img width="32px" src="/images/grid.png" /><input type="radio" name="searchlayout" value="{{static.grid_layout}}" /></label>
  <label><img width="32px" src="/images/list.png" /><input type="radio" name="searchlayout" value="{{static.list_layout}}" /></label>
  <button type="button" name="download" value="{{static.download_label}}">
    <img width="32px" src="/images/download.png" alt="{{static.download_label}}" />
  </button>
</nav>
