<div data-card-layout="{{cardLayoutType req}}">
  <div class="tab-buttons-container">
    {{#if (includeSearchFilters req)}}
      {{> search-filter-button }}
    {{/if}}

    {{#if (showCsvButton req)}}
      {{> download-csv-button }}
    {{/if}}
    
    <a href="/search?selectedCategory=all&layout=maps" class="js-stats-link" data-stats-tracking-name="maps">
      <button class="icon-only js-card-layout-btn" data-type="maps">
        <span class="sr-only">{{t "maps_button"}}</span>
        {{> icon-map-marker}}
      </button>
    </a>
    <button class="icon-only toggle-list-layout-btn js-card-layout-btn" data-type="list">
      <span class="sr-only">{{t "list view"}}</span>
      {{> icon-list}}
    </button>
    <button class="icon-only toggle-grid-layout-btn js-card-layout-btn" data-type="grid">
      <span class="sr-only">{{t "grid view"}}</span>
      {{> icon-grid}}
    </button>
    
  </div>

  <!-- select for navigating to different tabs in mobile view -->
  <div class="tab-select-container js-tab-select-container">
    <select>
      {{#each getTabs}}
        {{#if (isNotMapView ../req key)}}
          <option value="{{key}}">{{title}}</option>
        {{/if}} 
      {{/each}}
    </select>
  </div>
  <div class="tab-container js-tab-container">
    <div class="js-tab-items">
      {{#each getTabs}}
        {{#if (isNotMapView ../req key)}}
          <input id="{{key}}" type="radio" name="tabs" data-local={{isLocalNav key}} {{isTabActive ../req key}} class="tab-container-input">
          <label for="{{key}}" class="tab-container-label">{{title}}</label>
        {{/if}} 
      {{/each}}
    </div>
    
    <div class="tab-panels">
      {{> @partial-block }}
    </div>
  </div>
</div>

{{#if (includeSearchFilters req)}}
  {{> search-filter-modal type=(getSelectedCategory req)}}
{{/if}}