<div data-card-layout="{{cardLayoutType req}}">
  <div class="tab-buttons-container">
    {{#if (includeSearchFilters req)}}
    <button type="button" class="tab-buttons-button-filter js-tab-buttons-button-filter button button-bordered-grey">
      <span>{{t "more filters"}}</span>
      <span class="tab-buttons-total-filter-badge js-total-filter-badge"></span>
    </button>
    {{/if}}
    <ul class="unstyled-list card-layout-btns js-card-layout-btns">
      <li>
        <button class="icon-only toggle-list-layout-btn" data-type="list">
          <span class="sr-only">{{t "list view"}}</span>
          {{> icon-list}}
        </button>
      </li>
      <li>
        <button class="icon-only toggle-grid-layout-btn" data-type="grid">
          <span class="sr-only">{{t "grid view"}}</span>
          {{> icon-grid}}
        </button>
      </li>
    </ul>
  </div>

  <!-- select for navigating to different tabs in mobile view -->
  <div class="tab-select-container js-tab-select-container">
    <select>
      {{#each getTabs}}
        <option value="{{key}}">{{title}}</option>
      {{/each}}
    </select>
    {{#if (isCollectionView req)}}
      <div class="u-margin-top--small">
        <a href="/?selectedCategory=collections">{{t "All Collections"}}</a>
      </div>
    {{/if}}
  </div>
  <div class="tab-container js-tab-container">
    {{#each getTabs}}
      <span class="tab-container-item-divider tab-container-item-divider--{{key}}"></span>
      <input id="{{key}}" type="radio" name="tabs" {{isTabActive ../req key}} class="tab-container-input">
      <label for="{{key}}" class="tab-container-label">{{title}}</label>
    {{/each}}

    {{#if (isCollectionView req)}}
      <span class="tab-container-item-divider tab-container-item-divider--collections"></span>
      <a href="/?selectedCategory=collections" class="tab-container-label--collections">{{t "All Collections"}}</a>
    {{/if}}

    <div class="tab-panels">
      {{> @partial-block }}
    </div>
  </div>
</div>

{{#if (includeSearchFilters req)}}
  {{> search-filter-modal type=(getSelectedCategory req)}}
{{/if}}