<!-- select for navigating to different tabs in mobile view -->
<div class="tab-select-container js-tab-select-container">
  <select>
    {{#each getTabs}}
      <option value="{{key}}">{{title}}</option>
    {{/each}}
  </select>
</div>
<div class="tab-container js-tab-container">
  {{#each getTabs}}
    <input id="{{key}}" type="radio" name="tabs" {{isTabActive ../req key}}>
    <label for="{{key}}">{{title}}</label>
  {{/each}}

  <div class="tab-panels">
    {{> @partial-block }}
  </div>
</div>
