<div data-card-layout="{{cardLayoutType req}}">
  <ul class="unstyled-list card-layout-btns js-card-layout-btns">
    <li>
      <button class="icon-only toggle-list-layout-btn" data-type="list">
        <span class="sr-only">{{t "list view"}}</span>
        {{> icon-list}}
      </button>
    </li>
    <li>
      <button class="icon-only toggle-grid-layout-btn" data-type="grid">
        <span class="sr-only">{{t "grid view"}}</span>
        {{> icon-grid}}
      </button>
    </li>
  </ul>

  <!-- select for navigating to different tabs in mobile view -->
  <div class="tab-select-container js-tab-select-container">
    <select>
      {{#each getTabs}}
        <option value="{{key}}">{{title}}</option>
      {{/each}}
    </select>
  </div>
  <div class="tab-container js-tab-container">
    {{#each getTabs}}
      <span class="tab-container-item-divider tab-container-item-divider--{{key}}"></span>
      <input id="{{key}}" type="radio" name="tabs" {{isTabActive ../req key}} class="tab-container-input">
      <label for="{{key}}" class="tab-container-label">{{title}}</label>
    {{/each}}

    {{#if (isCollectionView req)}}
      <span class="tab-container-item-divider tab-container-item-divider--collections"></span>
      <a href="/?selectedCategory=collections" class="fake-tab-container-label">{{t "All Collections"}}</a>
    {{/if}}

    <div class="tab-panels">
      {{> @partial-block }}
    </div>
  </div>
</div>
