<h1>使用的使用</h1>
<h2><strong>条款Participedia.net条款/隐私政策</strong></h2>
<h3>简介</h3>
<p>
  请仔细阅读本隐私政策和使用条款（此处统称为“<strong>政策</strong>”）。通过使用Participedia.net（“<strong>网站</strong>”），您作为本网站的用户同意受本政策条款的约束，并声明并保证您是您所在地区的成年年龄。如果您代表公司或其他法律实体接受这些条款，那么您声明并保证您有权将该实体与这些条款绑定。
</p>
<p>
  本网站由加拿大不列颠哥伦比亚大学（“主办<strong>UBC</strong>”）在其他机构（“合作机构”）的行政和政策支持下，UBC和合作机构在此统称为“<strong>Participedia</strong>”，“<strong>us</strong>”或“<strong>we</strong>”。
</p>
<h3>隐私和个人信息的收集/使用</h3>
<p>
  我们已采用本隐私政策来解释可能在本网站上收集哪些信息，我们如何使用这些信息，以及在何种情况下我们可能会将信息透露给第三方。我们尊重您的隐私，并致力于保护您通过本网站向我们提供的个人身份信息，除非您同意其披露。
</p>
<p>
  我们从本网站收集的信息类型如下：
</p>
<p>
  <strong>Cookies -</strong> 与其他网站类似，Participedia.net使用cookie来改善您在本网站上的体验并收集有关您如何使用本网站的匿名信息。此信息将编译为匿名流量分析，并且不向公众提供。但是，使用本网站不需要cookie。如果您的浏览器配置为不接受cookie，您仍然可以访问本网站及其内容。
</p>
<p>
  <strong>帐户信息和活动 -</strong> 我们记录的IP地址 <strong>未注册用户。</strong>
</p>
<p>
  <strong>对于注册用户，</strong> 除了IP地址日志外，我们还会记录他们在网站上的登录，注销和活动。我们保留电子邮件地址，用户名以及他们选择在其提供的所有公开信息 <strong>用户帐户中</strong> （如此处所定义），包括：全名，传记， 图片，IP地址，传记。
</p>
<p>
  一旦用户创建或编辑内容，就会记录贡献，时间/日期和用户名，并且可以无限期地向公众提供。删除文本不会删除文稿的记录，并且以前版本的条目可以无限期使用。注册用户可以编辑自己的用户名。根据您的要求，您可以通过请求网站管理员 <a href="mailto:info@participedia.net">info@participedia.net</a> 取消/停用您的帐户。取消用户帐户时，站点管理员可自行决定是否具有以下选项：
</p>
<ul>
  <li>禁用帐户并保留其内容。 （默认）
  <li>禁用该帐户并将其内容标记为属于该站点的通用用户名“匿名”。
  <li>禁用该帐户并取消发布其内容。
  <li>禁用该帐户并删除其内容。
  </li>
</ul>
<p>
  通过披露您的联系信息或本网站可用的任何其他个人身份信息，即表示您同意将此信息披露给PBC，合作机构及其各自的第三方服务提供商（其中一些位于加拿大境外）的授权人员。与管理本网站有关的目的。除非我们在法律上有权这样做，否则我们不会向其他任何人提供此信息。
</p>
<p>
  除上述内容外，我们还收集某些匿名（非个人身份识别）信息，以帮助我们改进本网站并评估Participedia资料和本网站的访问，使用和影响：
</p>
<ul>
  <li>我们收集您提供的有关您使用和通过您发送给我们的电子邮件以及通过网站调查对本网站的满意度，无论您是否自愿包含您的联系信息。有时，我们会报告用户引用的反馈。除非我们获得使用该人姓名和反馈的许可，否则我们不会将反馈归因于特定个人。
  <li>当我们报告有关网站访问，使用和影响的信息时，我们会报告汇总的非个人身份识别数据。
  </li>
</ul>
<p>
  <strong>确保您的信息安全 -</strong> 我们已经实施了我们认为合理且适当的安全措施，以防止我们控制下的信息丢失，误用和更改。但是，请注意，尽管我们努力保护您的个人身份信息和隐私，但我们无法保证或保证您在线披露或传输给我们的任何信息的安全性，我们对盗窃，破坏或无意中不承担任何责任。披露您的个人身份信息。
</p>
<p>
  <strong>公共论坛的使用 -</strong> 我们可能会提供您和本网站的其他用户可以进行通信的博客，留言板，公告板或类似的公共论坛。当您提供与您使用这些公共论坛相关的信息（包括个人信息）时，本隐私政策中描述的保护不适用。您在公共论坛中分享的任何信息都是公共信息，任何人（包括不遵守我们隐私政策的第三方）都可能会看到或收集这些信息。对于您选择通过本网站公开发布或分享的任何信息的分发，我们概不负责。
</p>
<p>
  <strong>立法机关 -</strong> 我们根据不列颠哥伦比亚省“信息自由和隐私保护法”（第26（c）条的规定收集上述个人信息<strong>“FIPPA”</strong>），我们将根据要求使用，披露和保护这些信息。 FIPPA。如果您对收集，使用，披露和保护您的个人信息有任何疑问，请联系 <a href="mailto:info@participedia.net">info@participedia.net</a>。
</p>
<h3>使用条款</h3>
<h4><strong>1. Creative Commons License</strong></h4>
<p>
  本网站的内容受Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported许可（CC BY-NC-SA 3.0）（“Creative Commons License”）的管辖。以下是知识共享许可的摘要，可在找到 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">http://creativecommons.org/licenses/by-nc-sa/3.0/</a>。
</p>
<p>
  您是免费的：
</p>
<ul>
  <li><strong>共享</strong> - 将材料以任何媒介或格式复制并重新分发
  <li><strong>到混音</strong> -重新混合，转换和构建材料
  </li>
</ul>
<p>
  在以下条件下：
</p>
<ul>
  <li><strong>归因。</strong> 您必须提供适当的信用，提供许可证的链接，并指出是否进行了更改。您可以以任何合理的方式这样做，但不得以任何方式表明许可人认可您或您的使用。
  <li><strong>非商业性使用。</strong> 您不得将该材料用于商业用途。
  <li><strong>分享相似。</strong> 如果您重新混合，转换或构建材料，您必须使用与原始版本相同的许可证分发您的贡献。
    <p>
      <strong>没有其他限制</strong> - 您可能不会使用法律条款或技术措施来合法地限制他人做许可证所允许的任何事情。
    </p>
  </li>
</ul>
<p>
  理解为：
</p>
<ul>
  <li><strong>豁免。</strong> 如果您获得版权所有者的许可，则可以免除上述任何条件。
  <li><strong>公共区域。</strong> 对于任何重用或分发，您必须向其他人说明此工作的许可条款。执行此操作的最佳方法是使用此网页的链接。
  <li><strong>其他权利。</strong> 以下任何权利均不受许可证影响：
    <ul>
      <li>您的公平交易或合理使用权利，或其他适用的版权例外和限制;
      <li>作者的精神权利，取决于授予他人的混音权利;
      <li>其他人可能在工作本身或工作方式上拥有的权利，例如宣传或隐私权。
      </li>
    </ul>
  </li>
</ul>
<h4><strong>2.条款的</strong></h4>
<p>
  修改我们可能会不时修改本政策。如果我们这样做，我们会通知你。在修改此类政策后继续使用本网站即表示您确认并同意受此类更改的约束。
</p>
<h4><strong>3.帐户信息和用户内容</strong></h4>
<p>
  对于本网站的某些用途，Participedia可能会要求您提供有关您自己的信息以创建用户帐户（“<strong>用户帐户</strong>”）。您同意与您的用户帐户相关的任何此类信息始终是正确，完整和最新的。您将对您的用户帐户下发生的所有活动负责，因此您同意密码保密。您同意立即通知我们未经授权使用您的用户帐户或您的用户帐户的安全性受到损害。您不得：（a）提供与您的用户帐户或本网站相关的任何虚假信息; （b）为除您以外的任何人创建用户帐户; （c）在任何特定时间创建或使用多个用户帐户; （d）将您的用户帐户转让给其他人; （e）允许他人使用您的用户帐户;或（f）使用或访问其他人的用户帐户。
</p>
<p>
  未经相应权利人明确许可，您不得提交受版权，商标，专利，商业秘密，道德权利或其他知识产权或所有权保护的任何内容。您对因未能获得此类许可而造成的任何损害或您在本网站上提交的内容所造成的任何其他损害承担全部责任。
</p>
<p>
  您同意根据上的知识共享许可协议的条款，将在本网站上提交或发布的任何内容许可给Participedia。 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">http://creativecommons.org/licenses/by-nc-sa/3.0/</a><span style="text-decoration:underline;"> </span>并且您承认，您的任何内容都不会从我们那里得到任何赔偿。
</p>
<p>
  您同意不会提交任何内容：
</p>
<ol>
  <li>以任何方式侵犯或侵犯他人的权利，包括但不限于任何版权，商标，专利，商业秘密，道德权利，信托或不披露义务，或任何个人或实体的其他知识产权或所有权;
  <li>是非法的，包括但不限于骚扰威胁或辱骂;诽谤或诽谤;侵犯或侵犯隐私权或宣传权;淫秽，亵渎或色情;或以其他方式违反适用法律;
  <li>鼓励构成刑事犯罪的行为，引起民事责任或包含公式，包含可能对他人或财产造成伤害或伤害的指示或建议，或以其他方式违反任何法律;
  <li>是商品或服务广告或募集资金;
  <li>不符合有关向加拿大或其他相关国家/地区输出数据或软件的任何适用法律或法规;
  <li>包括个人信息，如识别电话号码，社会安全号码，帐号，地址或雇主参考的消息;
  <li>被视为链接邮件，垃圾邮件或垃圾邮件给本网站的其他用户;
  <li>包含可能损害本网站技术基础设施的病毒，恶意代谢，恶意代码或其他设备;或
  <li>对与本网站相关的技术系统或网络造成不应有的负担。
  </li>
</ol>
<p>
  此外，我们不允许任何由用户自行决定 - 限制或禁止任何其他用户使用或享用本网站的行为。
</p>
<h4><strong>4.第三方网站和资源</strong></h4>
<p>
  本网站可能包含指向其他网站的链接，包括受第三方控制和维护的网站。这些链接是方便的参考，可帮助您识别和定位可能感兴趣的其他Internet资源。第三方独立开发和维护这些其他站点。因此，我们不对此类网站所含信息的准确性或适当性承担责任。在提供指向其他网站的链接时，我们不会充当这些其他网站上包含的内容的执行者，发布者或传播者，也不会试图控制此类网站的内容或对其进行任何类型的编辑控制。您对链接网站的使用可能受这些网站上包含的条款和条件的约束，您应该查找和查看这些条款和条件。
</p>
<h4><strong>5.第三方网站和资源</strong></h4>
<p>
  <strong>令人反感或错误的内容。</strong> 本网站提供由用户制作和收集的各种内容。您可能会遇到令人反感，错误，误导，错误标记或其他令人反感的内容。因此，我们要求您在使用我们的网站时自行决定。
</p>
<p>
  <strong>一般信息目的。</strong> 本网站提供的所有内容均为仅供一般参考之用。在对本网站提供的内容中包含的任何信息，意见或建议采取行动之前，请咨询合格主题的独立专业人士。
</p>
<h4><strong>6.商标本网站上使用的</strong></h4>
<p>
  某些词语，徽章，徽章，名称，设计或徽标可能构成他人的商标，服务标记，商品名称或其他知识产权。在本网站上显示任何此类标记或名称并不意味着我们已授予使用此类标记或名称的任何种类的许可或授权。未经适用的所有者明确许可，您不得使用本网站上显示的任何此类标记或名称。
</p>
<h4><strong>7.侵权通知</strong></h4>
<p>
  我们严肃对待侵犯版权的行为，并将根据适用法律回应涉嫌侵犯版权的通知。我们合理确定侵犯第三方版权的任何材料将从本网站中删除。如果您认为本网站的全部或部分内容侵犯了他人的版权，请发送电子邮件至与我们联系 <a href="mailto:info@participedia.net">info@participedia.net</a>。
</p>
<p>
  如果您未在索赔中附上电子签名，可能会要求您发送或传真带有签名的后续副本。要提交通知，您必须是作品的版权所有者或有权代表版权所有者行事的个人。您的通知必须包括：
</p>
<ol>
  <li>识别您真诚相信受到本网站作品侵犯的受版权保护作品，或者如果本网站上有多件作品，则代表此类作品的清单。
  <li>识别声称侵权或成为侵权活动主体的材料。您必须包含足够的信息，例如特定URL或其他特定标识，以便我们找到材料。
  <li>我们能够与您联系的信息（例如，电子邮件地址，邮政地址，电话号码）。
  <li>声明您确信材料的使用未经版权所有者，其代理人或法律授权。
  <li>声明通知中的信息准确无误并且您是或有权代表版权所有者行事。
  </li>
</ol>
<h4><strong>8.违反条款</strong></h4>
<p>
  如果您违反本政策的任何条款或本网站上发布的其他用户指南，或者我们认为您的行为或内容具有冒犯性或非法性，则侵犯第三方的权利，危害或威胁伤害第三方或者可能对Participedia或第三方造成责任，我们保留自行决定调查和采取适当法律行动的权利（但没有义务），包括从网站上删除内容，通知相关当局有关此类内容的来源禁止您访问本网站，并终止您的用户帐户。
</p>
<h4><strong>9.帐户终止</strong></h4>
<p>
  根据本节的规定，本政策及其条款在您使用本网站或维护用户帐户时仍将完全有效。您可以通过联系随时以任何理由终止您的用户帐户 <a href="mailto:info@participedia.net">info@participedia.net</a>。我们保留在您通过您的用户帐户提供的电子邮件地址向您发送通知后立即终止您的用户帐户的权利。您同意，对于因终止您的用户帐户，您访问和使用本网站或本政策而产生或与之相关的任何费用，开支，损失，损害或责任，我们不承担任何责任。本节将在您的用户帐户终止或您访问和使用本网站后继续有效。
</p>
<h4><strong>10.赔偿</strong></h4>
<p>
  您同意赔偿并使UBC，合作机构，其各自的高级职员，代理人，员工，董事，董事，州长和参议员免于因任何第三方到期的任何索赔或要求（包括合理的律师费）而受到损害。您通过本网站提交，发布，传输，修改或以其他方式提供的任何内容，您对本网站的使用，您违反本政策的任何条款，或侵犯他人的任何权利。本部分在您的用户帐户终止或您访问或使用本网站后继续有效。
</p>
<h4><strong>11.免责声明</strong></h4>
<p>
  本网站上的任何信息，无论是由我们提供还是由第三方提供，均“按原样”提供，不附带任何明示或暗示的担保，包括但不限于适销性或适用性的暗示担保。出于特定目的。我们不保证本网站信息的质量，准确性，完整性或不侵权。虽然可以努力验证所提供的信息，但本网站可能包含错误，不应假设没有错误。此外，本网站上的一些信息由第三方提供，未必经过我们的验证。
</p>
<h4><strong>12.概述</strong></h4>
<p>
  本政策的条款以及您对本网站的访问和使用受不列颠哥伦比亚省法律和适用的加拿大法律管辖。您特此不可撤销地无条件地授予不列颠哥伦比亚省法院的专属管辖权以及所有有权审理上诉的法院。我们未能严格执行本政策的任何条款，不得解释为对任何条款或权利的放弃。如果本政策的任何条款被视为无效或不可执行，则本政策的其余条款将根据其条款强制执行。
</p>
<p>
  本政策的条款以及您对本网站的访问和使用受不列颠哥伦比亚省法律和适用的加拿大法律管辖。您特此不可撤销地无条件地授予不列颠哥伦比亚省法院的专属管辖权以及所有有权审理上诉的法院。我们未能严格执行本政策的任何条款，不得解释为对任何条款或权利的放弃。如果本政策的任何条款被视为无效或不可执行，则本政策的其余条款将根据其条款强制执行。
</p>
