{{#if (hasPhoto article)}}
  <div
    class="carousel carousel-main"
    data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "fullscreen": true, "lazyLoad": 1 }'
  >
    {{#each article.photos}} {{log this}}
    <div class="carousel-cell">
      <img
        class="carousel-cell-image"
        data-flickity-lazyload="{{url}}"
        alt="{{title}}"
      />
      {{#if title}}
        <div class="carousel-cell-image-title">
          <span>
            {{#if source_url}}
              <a href="{{source_url}}" target="_blank">{{title}}</a>
            {{else}}
              {{title}}
            {{/if}}
            {{#if attribution}} - {{attribution}} {{/if}}
          </span>
        </div>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <div
    class="carousel carousel-nav"
    data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "wrapAround": true }'
  >
    {{#each article.photos}}
      <div class="carousel-cell">
        <img class="carousel-cell-image" src="{{url}}" alt="{{title}}" />
      </div>
    {{/each}}
  </div>
{{/if}}
