<div class="author-info">
  <h4>
    <strong>First Submitted By</strong>
    <a href="/user/{{article.creator.user_id}}">{{sanitizeName article.creator.name}}</a>
    <time datetime="{{article.post_date}}">
      {{formatDate article "post_date" "LL"}}
    </time>
  </h4>
  <h4>
    <strong>Most Recent Changes By</strong>
    <a href="/user/{{article.last_updated_by.user_id}}">
      {{sanitizeName article.last_updated_by.name}}
    </a>
    <time datetime="{{article.updated_date}}">
      {{formatDate article "updated_date" "LL"}}
    </time>
  </h4>
</div>
