<div class="reader-view">
  <aside>
    <!-- Data and Metadata -->
    <h2>{{static.data_sectionlabel}}</h2>

    {{> @partial-block }}
  </aside>

  <article>
    <hgroup>
      <h2>{{toUpperCase article.type}}</h2>
      <h1>{{article.title}}</h1>
    </hgroup>
    {{> view-socialmedia }}
    {{> view-slideshow }}
    {{> view-authors }}

    {{#> accordion title=(articleDataTitle article)}}
      {{> @partial-block }}
    {{/accordion}}

    <div class="body-content">
      {{# if article.description}}
        <p>{{ article.description }}</p>
      {{/if}}
      {{{ article.body }}}
    </div>
  </article>
</div>

<a
  href="/{{article.type}}/{{article.id}}/edit"
  class="button button-red floating-action-button"
  title="Edit Article"
>
  <span class="sr-only">Edit Article</span>
  {{> icon-edit }}
</a>
