{{#if (hasPhoto article)}}
  <div
    class="carousel carousel-main"
    data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "fullscreen": true, "lazyLoad": 1 }'
  >
    {{#each article.photos}}
      <div class="carousel-cell">
        <div class="carousel-cell-image-container" style="background-image: url({{url}})"></div>
        {{#if (hasCaptionText ../article)}}
          <div class="carousel-cell-image-title">
            <span>
              {{#if source_url}}
                <a href="{{source_url}}" target="_blank" rel="noopener">
                  {{#if title}}
                    {{title}}
                  {{else}}
                    {{source_url}}
                  {{/if}}
                </a>
              {{else}}
                {{title}}
              {{/if}}
              {{#if attribution}} – <small>{{t "Credit"}}: {{attribution}}</small>{{/if}}
            </span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
