<div class="full-width-container reader-view">
  <div class="left-col data-column">
    <div class="data-column-inner">
      <!-- Data and Metadata -->
      <h2>{{t "Data"}}</h2>

      {{> @partial-block }}
    </div>
  </div>
  <div class="middle-col">
    <article>
      <hgroup>
        <h2>{{toUpperCase (t article.type)}}</h2>
        <h1 id="entry-title">{{article.title}}</h1>
      </hgroup>
      
      {{# if (isPublished article)}}
      {{> view-socialmedia }}
      {{/if}}

      {{> view-slideshow }}

      {{# if (isPublished article)}}
      {{> view-authors }}
      {{/if}}

      <div class="article-data-accordion">
        {{#> accordion title=(articleDataTitle article)}}
          {{> @partial-block }}
        {{/accordion}}
      </div>

      <div class="body-content article-body-content">

        {{> original-language-alert}}

        {{#if (shouldShowCompletenessPrompt article) }}
          <div class="alert">
            <span>
              {{{getCompletenessPrompt article}}}
              {{> info-icon-to-modal modalHeader=(getCompletenessModalHeader article) modalText=(getCompletenessModalText article) }}
            </span>
          </div>
        {{/if}}


        {{# if article.description}}
          <p id="entry-title">{{ article.description }}</p>
        {{/if}}
        <div id="entry-body">{{{ article.body }}}</div>
      </div>

      {{# if (isNotPublished article)}}
      <div class="g-recaptcha recaptcha-reader" data-sitekey="{{getReCaptchaSiteKey}}"></div>
      {{/if}}
      <div class="u-margin-top--med"></div>
      {{> edit-form-submit-button-draft article=article}}
    </article>
  </div>
  <div class="right-col show-verified-info-container js-show-verified-info-container">

    {{# if (isPublished article)}}
    {{> view-socialmedia }}
    {{/if}}
    {{#if article.verified}}
    <img src="/images/icon-verified.svg" class="image-svg-action floating-action-image show-verified-info-trigger js-show-verified-info-trigger">
    
  </img>
    {{else}}
    <a
      href="/{{article.type}}/{{article.id}}/edit"
      class="button button-red floating-action-button"
      title="{{t 'Edit'}} {{t article.type}}"
    >
      <span class="sr-only">{{t "Edit"}} {{t article.type}}</span>
      {{> icon-edit }}
    </a>
    {{/if}}
  </div>
  <input type="hidden" name="verifiedInfoMessage" id="verifiedInfoMessage" class="js-verified-message" value="{{{__ 'reviwed_popup_message' '&lt;a href=\'mailto:info@participedia.net\'&gt;' '&lt;/a &gt;'}}}" />
  <input type="hidden" name="captcha_error" class="js-captcha-error" value="{{t 'recaptcha_error'}}" />
  <input type="hidden" name="recaptcha_issues" class="js-captcha-issue" value="{{t 'recaptcha_issues'}}" />
  {{#if req.user}}
  <input type="hidden" name="isAdmin" id="isAdmin" class="js-is-admin" value="{{req.user.isadmin}}">
  {{/if}}
</div>