{{#if (getvalue article name) }}
<dl>
  <dt>{{label article name}}</dt>
  {{#if (isArray article name)}}
    {{#each (getLocalizedValuesForKeys article name) }}
      {{#if (isLinkableTerm ../article ../name)}}
        <dd>
          <a
            href="{{getSearchLinkForTerm ../article ../name key}}"
          >
            {{localizedValue}}
          </a>
        </dd>
      {{else}}
        <dd>{{localizedValue}}</dd>
      {{/if}}
    {{/each}}
  {{else}}
    {{#if (isLinkableTerm article name)}}
      <dd>
        <a
          href="{{getSearchLinkForTerm article name (lookup article name)}}"
        >
          {{getArticleSelectValue article name}}
        </a>
      </dd>
    {{else}}
      <dd>{{getArticleSelectValue article name}}</dd>
    {{/if}}
  {{/if}}
</dl>
{{/if}}
