<ul class="unstyled-list">
  <li>
    <a
      href="#"
      class="bookmark-link js-bookmark-link"
      data-bookmarked="{{article.bookmarked}}"
      data-type="{{article.type}}"
      data-thing-id="{{article.id}}"
      {{#if user}}data-user-id="{{user.id}}"{{/if}}
    >
      {{> icon-bookmark-fill}}
    </a>
  </li>
  <li>
    <a href="{{shareLink 'facebook' req}}" target="_blank">
      {{> icon-facebook}}
    </a>
  </li>
  <li>
    <a href="{{shareLink 'twitter' req}}" target="_blank">
      {{> icon-twitter}}
    </a>
  </li>
  <li>
    <a href="{{shareLink 'linkedIn' req}}" target="_blank">
      {{> icon-linkedIn}}
    </a>
  </li>
</ul>
