<ul class="unstyled-list reader-view-social-links">
  <li>
    <a
      href="#"
      class="js-bookmark-button"
      data-bookmarked="{{article.bookmarked}}"
      data-type="{{article.type}}"
      data-thing-id="{{article.id}}"
    >
      <span class="is-bookmarked">
        <span class="sr-only">{{t "Remove Bookmark"}}</span>
        {{> icon-bookmark-fill}}
      </span>
      <span class="is-not-bookmarked">
        <span class="sr-only">{{t "Add Bookmark"}}</span>
        {{> icon-bookmark}}
      </span>
    </a>
  </li>
  <li>
    <a href="{{shareLink 'facebook' article req}}" target="_blank" rel="noopener">
      {{> icon-facebook}}
    </a>
  </li>
  <li>
    <a href="{{shareLink 'twitter' article req}}" target="_blank" rel="noopener">
      {{> icon-twitter}}
    </a>
  </li>
  <li>
    <a href="{{shareLink 'linkedIn' article req}}" target="_blank" rel="noopener">
      {{> icon-linkedIn}}
    </a>
  </li>
  <li>
    <a href="{{shareLink 'instagram' article req}}" target="_blank" rel="noopener">
      {{> icon-instagram}}
    </a>
  </li>
</ul>
