{
  "extends": [
    "airbnb",
    "plugin:jasmine/recommended",
    "prettier"
  ],
  "plugins": [
    "jasmine",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": "off",
    "react/prop-types": "off",
    "camelcase": "off",
    "prettier/prettier": "warn"
  }
}
