language: node_js
sudo: false
node_js:
- '6'
cache: yarn
notifications:
  slack:
    secure: P3d36qfC1cM/0G03VqZXrjbWT1ByBePul+0QAIykrG2H9UUBZpt/OQTNJWHdzMvtJKRE5vFllckDGdJZCJO5OSlczQz7w1QUhTqrK3iTP/FClHpW2qyl+PfTUXEsl0lVQMotoNEk6MOsGJEgrY7CkzEObkGE53QmWmwojXvKJn+5AGsz14f0lXvfqTep4M96GyAZlye7Xm3DHenBTGoemlkIhA+yl6ua6SVefwm3/XD90ZyYz+YOK6hCrVJIrMDrp7zVZ1w88QPcoYupduhghIAh7wjbMjSGxikzQYNbWcvrwgzevAK9JKNfflKyWnu4zppaYL2zO9gyE3eZlN2eSpHsKi9VM4FlM04ZK82YLVHeWZBKMm4Pj4jde2yDqax+AJnFDW0zeYJk/XU7NV2DByyFFzzd70bStUu1HilCC7A9NM4EgVVxHrsx8ubpOMFcsOew1Ow8qLC9N96gTazkXfCosic2uxUreF++mGzXQBfv4kgIiUw1p3uZ2QlqcjYbdvHv2Uo8CQMG2s4dcO55Rzd47bnYqudwqXzcDBwdung+5WrbM3llygpDl+mnS7eguH4DX95AspX7eiL1+QDgiqoqZQwt6iulXfyBpJVnAA7NrrJNDXkIGACDnKjJFhvpaZET5TbZQYp/2MA4hN/h/hASlQDkvDr/Nx2NKOMH+bc=
services:
- postgresql
before_script:
- psql -a -U postgres -c 'create database travis_ci_test;' -f setup.sql 
deploy:
  api_key:
    secure: wuFmZVBMUvopTcWRnG6ZrLspQTuBhVLgYeSP3cj2HHH3RNOuQpGLFSXeWYA1ufJPVhV4WoWm+XND3AqvKeZ+JFtKJUG7jODGJxNmj103bwFO5ySIUnbNWYSNdRmEzi43lVO4wQOQL5GIVPsCjy9IxXLDKusk+10G+FQXZMnCB1QJp4GVD0EHTSaU2a5p2oT0HnGvTk+lyj1XBMoStO+Gb2YyiRjdb4CczVYjvej0okuz75fqudsPJwLiBUGlFmBjL3/tWp9cyQSD0exlol9k8RviVQ5N+c4lDy8LyTEYDzrJG5QY+WRnkldQSg9aGfdrQQY4tjnPG6+t776fUwP+TayNqhKUq1UY5DMGxqJ9QfEt3Ct+5+CIjV6fV1lrjNseHC/jKxa0BL+BfJNC+Rymz4Ii25a5sK907y9C06cGyVGFwI1N2VIT853frATu6FVatR2Ui5n+lgDlXmQg49RJwe1m6SdmBzXud+m0fjwnQAGqPqrKkS9ddkPNDEZ3nwAFthEdmf7K9H7q7JH4NnrkBdQnlTugnEcSWw3//IQZK90VL/Gsz6BBdWS8tNS9CLBpXh63hkjz11NvysiiVvliUvMEu8sDQJfFqPjWuEUu62Mr3JNqdifI4k2j96nlD9TgpmWTfOfdBmjt0CnX8boChC+JUVepTL5Y6j7io2tLvxc=
