<!DOCTYPE html>
<html lang="{{getLocale}}" class="no-focus-outline">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YFH69P7J7K"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YFH69P7J7K');
  </script>
  <!-- End Google Analytics -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

  {{{socialTagsTemplate article req}}}

  <title>{{getPageTitle req article}}</title>
</head>

{{!--
  We are using JS to make the html element visible when the fonts are loaded.
  In the case that the browser does not use JS, then just show the html element now.
--}}
<noscript><style>html { visibility: visible; }</style></noscript>

{{> modal }}

<body data-view="{{params.view}}">
  {{> header }}
  <main class="main-content">
    {{!-- {{> banner-notice }} --}}
    {{{ body }}}
  </main>
  {{> footer }}

  {{> contact-help-faq-popover }}

  {{> script-tag-with-cache-key filepath="/build/js/app.bundle.js"}}
  
  {{#if (isHomeView req)}}
    {{!-- import google api for the map widget --}}
    <script type="text/javascript" src="/js/vendor/markerclustererplus.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&language={{getLocale}}"></script>
    {{> script-tag-with-cache-key filepath="/build/js/home-view.bundle.js"}}
    <!-- Begin Inspectlet Asynchronous Code -->
    <script type="text/javascript">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 929677093]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=929677093&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
    </script>
    <!-- End Inspectlet Asynchronous Code -->
  {{/if}}

  {{#if (isSearchView req)}}
    {{> script-tag-with-cache-key filepath="/build/js/search-view.bundle.js"}}
  {{/if}}

  {{#if (isCollectionView req)}}
    {{> script-tag-with-cache-key filepath="/build/js/collection-view.bundle.js"}}
  {{/if}}

  {{#if (isReviewView req)}}
    {{!-- import google api for the autocomplete widget --}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&language={{getLocale}}"></script>
    <script type="text/javascript" src="/js/polyfills/DragDropTouch.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl={{getLocale}}" async defer></script>
    {{> script-tag-with-cache-key filepath="/build/js/review-entries.bundle.js"}}
  {{/if}}

  {{#if (isExportCSVView req)}}
    {{!-- import google api for the autocomplete widget --}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&language={{getLocale}}"></script>
    <script type="text/javascript" src="/js/polyfills/DragDropTouch.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl={{getLocale}}" async defer></script>
    {{> script-tag-with-cache-key filepath="/build/js/csv-exports.bundle.js"}}
  {{/if}}

  {{#if (isEditView req)}}
    {{!-- import google api for the autocomplete widget --}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&language={{getLocale}}"></script>
    <script type="text/javascript" src="/js/polyfills/DragDropTouch.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl={{getLocale}}" async defer></script>
    {{> script-tag-with-cache-key filepath="/build/js/edit-view.bundle.js"}}
  {{/if}}

  {{#if (isNewView req)}}
    {{!-- import google api for the autocomplete widget --}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&language={{getLocale}}"></script>
    <script type="text/javascript" src="/js/polyfills/DragDropTouch.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl={{getLocale}}" async defer></script>
    {{> script-tag-with-cache-key filepath="/build/js/edit-view.bundle.js"}}
  {{/if}}

  {{#if (isReaderView req)}}
    <script type="text/javascript" src="/js/vendor/flickity@2.2.0-flickity.pkgd.js"></script>
    <script type="text/javascript" src="/js/vendor/flickity-fullscreen@1.1.1-fullscreen.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl={{getLocale}}" async defer></script>
    {{> script-tag-with-cache-key filepath="/build/js/reader-view.bundle.js"}}
  {{/if}}

  {{#if (isUserView req)}}
    {{> script-tag-with-cache-key filepath="/build/js/user-view.bundle.js"}}
  {{/if}}

  {{!-- initialize usersnap   --}}
  <script>
    window.onUsersnapCXLoad = function(api) {
      api.init();
    }
    var script = document.createElement('script');
    script.defer = 1;
    script.src = 'https://widget.usersnap.com/global/load/4f3f25bd-811e-4d48-a50d-7332c052b5da?onload=onUsersnapCXLoad';
    document.getElementsByTagName('head')[0].appendChild(script);
  </script>

  {{#if (useInspectlet)}}
  <!-- Begin Inspectlet Asynchronous Code -->
  <script type="text/javascript">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 929677093]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=929677093&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
  </script>
  <!-- End Inspectlet Asynchronous Code -->
  {{/if}}

  <script type="text/javascript" src="/js/vendor/aria.modal.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  <script>
    feather.replace()
  </script>
</body>

</html>
