<!DOCTYPE html>
<html lang="en" class="js-document">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_TRACKING_ID}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "{{GA_TRACKING_ID}}");
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">

  {{#if (isReaderPage params)}}
    {{{socialTagsTemplate article req}}}
  {{/if}}

  <title>Participedia</title>
</head>

{{!--
  We are using JS to make the html element visible when the fonts are loaded.
  In the case that the browser does not use JS, then just show the html element now.
--}}
<noscript><style>html { visibility: visible; }</style></noscript>

{{> modal }}

<body data-view="{{params.view}}">
  {{> header }}
  <main class="main-content">
    {{{ body }}}
  </main>
  {{> footer }}

  {{> contact-help-faq }}

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYi8w5HOVTr3HyioFkAKUK_PofGow_7uA&libraries=places&language={{static.language}}"></script>
  <script type="text/javascript" src="/js/polyfills/DragDropTouch.js"></script>
  <script type="text/javascript" src="/build/js/app.bundle.js"></script>
  <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
  <script src="/js/authservice.js"></script>

  {{!-- initialize usersnap   --}}
  <script type="text/javascript">
  (function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/80049ef3-8aba-45c2-9a72-88b56bb1b342.js';
  var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
  </script>
</body>

</html>
