<div class="static-view-container">

  <h1>Welcome to Participedia</h1>
  <h2>A global community sharing knowledge and stories about public participation</h2>

  <div class="video-embed-container">
    <iframe src='https://player.vimeo.com/video/219546454' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <section>
    <h2>Get Involved</h2>
    <p>Anyone can <a href="/login">join the Participedia community</a> and help crowdsource, catalogue and compare participatory political processes around the world. All content on Participedia is collaboratively produced and open-source under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons License</a>.</p>

    <h3>Explore</h3>
    <p>Search, read, download and gain insight from our database of <a href="/cases">Cases</a>, <a href="/methods">Methods</a>, <a href="/organizations">Organizations</a>, surveys, teaching resources and external data sets.</p>

    <h3>Contribute</h3>
    <p>Help improve the quality of this knowledge resource by editing existing content or publishing your own.</p>

    <h3>Teach</h3>
    <p>Use Participedia in the classroom as a tool to engage students and showcase their research.</p>
  </section>

  <section>
    <h2>Community</h2>
    <p>Participedia’s searchable database of democratic innovations is made up of three distinct content types including Cases, Methods and Organizations. Bolstering this knowledge base are added resources, including surveys, teaching tools and external data sets.</p>

    <p>The initial vision for Participedia was developed by Archon Fung (Kennedy School of Government, Harvard University) and Mark E. Warren (Department of Political Science, University of British Columbia), and is guided by a set of standing committees.</p>
  </section>

  {{#> accordion title="Members"}}
    <p>Community members include policy analysts, democratic theorists, scholars, teachers, practitioners, activists, government officials, journalists and more. Anyone can join and help to build this growing resource by editing existing content or publishing new examples of public participation.</p>

    <p><a href="/login">Join now</a></p>
  {{/ accordion}}

</div>
