<div class="static-view-container">
  <h1>{{t static "Welcome to Participedia"}}</h1>
  <h2>{{t static "about.tagline"}}</h2>

  <div class="video-embed-container">
    <iframe src='https://player.vimeo.com/video/219546454' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <section>
    <h2>{{t static "Get Involved"}}</h2>
    <p>{{{t static "about.get_involved.p1"}}}</p>

    <h3>{{t static "Explore"}}</h3>
    <p>{{{t static "about.explore.p1"}}}</p>

    <h3>{{t static "Contribute"}}</h3>
    <p>{{t static "about.contribute.p1"}}</p>

    <h3>{{t static "Teach"}}</h3>
    <p>{{t static "about.teach.p1"}}</p>
  </section>

  <section>
    <h2>{{t static "Community"}}</h2>
    <p>{{t static "about.community.p1"}}</p>
    <p>{{t static "about.community.p2"}}</p>
  </section>

  <section>
    {{#> accordion title=(t static "Members")}}
      <p>{{t static "about.members.p1"}}</p>

      <p><a href="/login">{{t static "Join now"}}</a></p>
    {{/accordion}}

    {{#> accordion title=(t static "Partners")}}
      <p>{{t static "about.partners.p1"}}</p>

      {{#each (getPartnersData)}}
        {{> about-section static=../static}}
      {{/each}}
    {{/accordion}}

    {{#> accordion title=(t static "Committees")}}
      <p>{{about.committees.p1}}</p>
      {{#each (getCommitteesData)}}
        {{> about-section static=../static}}
      {{/each}}
    {{/accordion}}

    {{#> accordion title=(t static "Funders")}}
      <p>{{t static "about.funders.p1"}}</p>
    {{/accordion}}

    {{#> accordion title=(t static "Staff")}}
      <p>{{t static "about.staff.p1"}}</p>

      {{#each (getStaffData)}}
        <dl class="people">
          <dt>{{name}}{{#if titleKey}}, {{t static titleKey}}{{/if}}</dt>
          {{# each descriptors}}
            <dd>{{this}}</dd>
          {{/each}}
        </dl>
      {{/each}}

    {{/accordion}}
  </section>

  <section>
    <h2>{{t static "Content"}}</h2>
    <p>{{t static "about.content.p1"}}</p>

    {{#> accordion title=(t static "Cases")}}
      <p>{{t static "about.cases.p1"}}</p>
    {{/accordion}}

    {{#> accordion title=(t static "Methods")}}
      <p>{{t static "about.methods.p1"}}</p>
    {{/accordion}}

    {{#> accordion title=(t static "Organizations")}}
      <p>{{t static "about.organizations.p1"}}</p>
    {{/accordion}}
  </section>
</div>
