<div class="static-view-container">
  <h1>{{t "Welcome to Participedia"}}</h1>
  <h2>{{t "about.tagline"}}</h2>

  <div class="video-embed-container">
    <iframe src="https://player.vimeo.com/video/219546454" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <section>
    <h2>{{t "Get Involved"}}</h2>
    <p>{{{t "about.get_involved.p1"}}}</p>

    <h3>{{t "Explore"}}</h3>
    <p>{{{t "about.explore.p1"}}}</p>

    <h3>{{t "Contribute"}}</h3>
    <p>{{t "about.contribute.p1"}}</p>

    <h3>{{t "Teach"}}</h3>
    <p>{{t "about.teach.p1"}}</p>
  </section>

  <section>
    <h2>{{t "Community"}}</h2>
    <p>{{t "about.community.p1"}}</p>
    <p>{{t "about.community.p2"}}</p>
  </section>

  <section>
    {{#> accordion title=(t "Members")}}
      <p>{{t "about.members.p1"}}</p>
    {{/accordion}}

    {{#> accordion title=(t "Partners")}}
      <p>{{t "about.partners.p1"}}</p>

      {{#each (getPartnersData)}}
        {{> about-section static=../static}}
      {{/each}}
    {{/accordion}}

    {{#> accordion title=(t "Committees")}}
      <p>{{t "about.committees.p1"}}</p>

      {{#each (getCommitteesData)}}
        {{> about-section static=../static}}
      {{/each}}
    {{/accordion}}

    {{#> accordion title=(t "Supporters")}}
      <p>
        {{{__
          "about.supporters.p1"
          "<a href='http://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx' target='_blank'>"
          "</a>"
        }}}
      </p>

      <p>
        {{{__
          "about.supporters.p2"
          "<a href='https://www.ecuad.ca/academics/faculties-and-departments/research-area/chair-in-art-design-technology' target='_blank'>"
          "</a>"
          "<a href='http://www.chairs-chaires.gc.ca/home-accueil-eng.aspx' target='_blank'>"
          "</a>"
          "<a href='https://www.innovation.ca/'>"
          "</a>"
        }}}
      </p>

      <p>
        {{{__
          "about.supporters.p3"
          "<a href='https://phraseapp.com' target='_blank'>"
          "</a>"
        }}}
      </p>

      <p>
        {{{__
           "about.supporters.p4"
           "<a href='http://www.bfna.org/' target='_blank'>"
           "</a>"
         }}}
      </p>
    {{/accordion}}

    {{#> accordion title=(t "Staff")}}
      <p>{{t "about.staff.p1"}}</p>

      {{#each (getStaffMembers)}}
        <dl class="people">
          <dt>{{name}}{{#if titleKey}}, {{t titleKey}}{{/if}}</dt>
          {{# each descriptors}}
            <dd>{{this}}</dd>
          {{/each}}
        </dl>
      {{/each}}

    {{/accordion}}
  </section>

  <section>
    <h2>{{t "Content"}}</h2>
    <p>{{t "about.content.p1"}}</p>

    {{#> accordion title=(t "Cases")}}
      <p>{{t "about.cases.p1"}}</p>
      <ul>
        <li>{{{__ "about.cases.example" "<a href='/case/5008'>" "</a>"}}}</li>
      </ul>
    {{/accordion}}

    {{#> accordion title=(t "Methods")}}
      <p>{{t "about.methods.p1"}}</p>
      <ul>
        <li>{{{__ "about.methods.example" "<a href='/method/145'>" "</a>"}}}</li>
      </ul>
    {{/accordion}}

    {{#> accordion title=(t "Tools/Techniques")}}
      <p>{{t "about.tools_techniques.p1"}}</p>
      <ul>
        <li>
          {{{__
            "about.tools_techniques.example"
            "<a href='/method/147'>"
            "</a>"
            "<a href='/method/5507'>"
            "</a>"
            "<a href='/method/565'>"
            "</a>"
            "<a href='/method/5309'>"
            "</a>"
          }}}
        </li>
      </ul>
    {{/accordion}}

    {{#> accordion title=(t "Organizations")}}
      <p>{{t "about.organizations.p1"}}</p>
      <ul>
        <li>
          {{{__
            "about.organizations.example"
            "<a href='/organization/4997'>"
            "</a>"
          }}}
        </li>
      </ul>
    {{/accordion}}

    {{#> accordion title=(t "Teaching Resources")}}
      <p>{{t "about.teaching_resources.p1"}}</p>
      <ul>
        <li>{{{t "about.teaching_resources.example"}}}</li>
      </ul>
    {{/accordion}}
  </section>
</div>
