<div class="reader-view">
  <aside>
    <!-- Data and Metadata -->
    <h2>{{static.data_sectionlabel}}</h2>
    <!-- TODO: Identify all the section headers for view vs. edit, replace the section comments below with section headers -->

    <!-- Overview -->
    <dl>
      {{> view-list name="general_issues" }}
      {{> view-list name="specific_topics" }}
      {{> view-list name="tags" }}
    </dl>

    <!-- Location -->
    <dl>
      {{> view-location }}
      {{> view-text name="scope" }}
    </dl>

    <!-- Components -->
    <dl>
      {{> view-reference-list name="has_components" }}
      {{> view-reference name="is_component_of" }}
    </dl>

    <!-- Media -->
    <dl>
      {{> view-media-list name="links" }}
      {{> view-media-list name="files" }}
      {{> view-media-list name="audio" }}
    </dl>

    <!-- Date & Duration -->
    <dl>
      {{> view-date name="start_date" }}
      {{> view-date name="end_date" }}
      {{> view-boolean name="ongoing" }}
      {{> view-boolean name="time_limited" }}
    </dl>

    <!-- Purpose & Approach -->
    <dl>
      {{> view-list name="purpose" }}
      {{> view-list name="approach" }}
      {{> view-text name="public_spectrum" }}
    </dl>

    <!-- Participants -->
    <dl>
      {{> view-number name="number_participants" }}
      {{> view-text name="open_limited" }}
      {{> view-text name="recruitment_method" }}
      {{> view-text name="targeted_participants" }}
    </dl>

    <!-- Process -->
    <dl>
      {{> view-list name="types_of_methods" }}
      {{> view-list name="types_of_tools_techniques" }}
      {{> view-text name="specific_tools" }}
      {{> view-text name="legality" }}
      {{> view-text name="facilitators" }}
      {{> view-text name="facilitator_training" }}
      {{> view-text name="facetoface_online_or_both" }}
      {{> view-list name="participants_interactions" }}
      {{> view-list name="learning_resources" }}
      {{> view-list name="decision_methods" }}
      {{> view-list name="if_voting" }}
      {{> view-list name="insights_outcomes" }}
    </dl>

    <!-- Organizations and Supporters -->
    <dl>
      {{> view-text name="primary_organizer" }}
      {{> view-list name="organizer_types" }}
    </dl>

    <!-- Resources -->
    <dl>
      {{> view-text name="funder" }}
      {{> view-text name="type_of_funder" }}
      {{> view-boolean name="staff" }}
      {{> view-boolean name="volunteers" }}
    </dl>

    <!-- Evidence of Impact -->
    <dl>
      {{> view-list name="impact_evidence" }}
      {{> view-list name="change_types" }}
      {{> view-list name="implementers_of_change" }}
      {{> view-list name="formal_evaluation" }}
      {{> view-link-list name="evaluation_report_documents" }}
      {{> view-link-list name="evaluation_report_links" }}
    </dl>

  </aside>
  <article>
    <!-- Body of the article, description, body, images, etc. -->
    <hgroup>
      <h2>{{toUpperCase article.type}}</h2>
      <h1>{{article.title}}</h1>
    </hgroup>
    {{> view-slideshow }}
    {{> view-authors }}
    {{ article.description }}
    {{{ article.body }}}
  </article>
  <nav class="reader-view-side-nav">
    {{> view-socialmedia }}
    {{> view-editbutton }}
  </nav>
</div>
