<section>
<aside>
  <!-- Data and Metadata -->
  <h2>{{static.data_sectionlabel}}</h2>
  <!-- TODO: Identify all the data fields and types for display -->
  <!-- TODO: Identify all the section headers for view vs. edit -->
</aside>
<article>
  <!-- Body of the article, description, body, images, etc. -->
  <hgroup>
    <h2>{{thing.type}}</h2>
    <h1>{{thing.title}}</h1>
  </hgroup>
  {{> slideshow }}
  {{> authors }}
  {{ thing.description }}
</article>
<nav>
  {{> socialmedia }}
</nav>
</section>
