{{#> view-container }}
  <!-- Overview -->
  <section>
    {{> view-list name="general_issues" }}
    {{> view-list name="specific_topics" }}
    {{> view-list name="tags" }}
  </section>

  <!-- Location -->
  <section>
    {{> view-location }}
    {{> view-list name="scope_of_influence" }}
  </section>

  <!-- Components -->
  <section>
    {{> view-article-list name="has_components" }}
    {{> view-article-list name="is_component_of" }}
  </section>

  <!-- Media -->
  <section>
    {{> view-media-list name="files" }}
    {{> view-media-list name="links" }}
    {{> view-media-list name="videos" }}
    {{> view-media-list name="audio" }}
  </section>

  <!-- Date & Duration -->
  <section>
    {{> view-date name="start_date" }}
    {{> view-date name="end_date" }}
    {{> view-boolean name="ongoing" }}
    {{> view-list name="time_limited" }}
  </section>

  <!-- Purpose & Approach -->
  <section>
    {{> view-list name="purposes" }}
    {{> view-list name="approaches" }}
    {{> view-list name="public_spectrum" }}
  </section>

  <!-- Participants -->
  <section>
    {{> view-text name="number_participants" }}
    {{> view-text name="open_limited" }}
    {{> view-text name="recruitment_method" }}
    {{> view-list name="targeted_participants" }}
  </section>

  <!-- Process -->
  <section>
    {{> view-list name="types_of_methods" }}
    {{> view-list name="types_of_tools_techniques" }}
    {{> view-article-list name="specific_methods_tools_techniques" }}
    {{> view-list name="legality" }}
    {{> view-text name="facilitators" }}
    {{> view-text name="facilitator_training" }}
    {{> view-text name="facetoface_online_or_both" }}
    {{> view-list name="participants_interactions" }}
    {{> view-list name="learning_resources" }}
    {{> view-list name="decision_methods" }}
    {{> view-list name="if_voting" }}
    {{> view-list name="insights_outcomes" }}
  </section>

  <!-- Organizations and Supporters -->
  <section>
    {{> view-article-list name="primary_organizer" }}
    {{> view-list name="organizer_types" }}
  </section>

  <!-- Resources -->
  <section>
    {{> view-text name="funder" }}
    {{> view-list name="funder_type" }}
    {{> view-boolean name="staff" }}
    {{> view-boolean name="volunteers" }}
  </section>

  <!-- Evidence of Impact -->
  <section>
    {{> view-list name="impact_evidence" }}
    {{> view-list name="change_types" }}
    {{> view-list name="implementers_of_change" }}
    {{> view-list name="formal_evaluation" }}
    {{> view-media-list name="evaluation_reports" }}
    {{> view-media-list name="evaluation_links" }}
  </section>
{{/view-container}}
