{{#> static-view-container }}
  <h2>{{t "content_types.header"}}</h2>

  <ul class="unstyled-list">
    <li>
      <a href="/case/new" class="button button-red button-block">
        {{> icon-add}}
        {{t "Case"}}

      </a>
      <p>{{t "content_types.case.description"}}</p>
    </li>
    <li>
      <a href="/method/new" class="button button-red button-block">
        {{> icon-add}}
        {{t "Method"}}

      </a>
      <p>{{t "content_types.method.description"}}</p>
    </li>
    <li>
      <a href="/organization/new" class="button button-red button-block">
        {{> icon-add}}
        {{t "Organization"}}

      </a>
      <p>{{t "content_types.organization.description"}}</p>
    </li>
  </ul>

  {{#if req.user.isadmin}}
    <div class="edit-form-admin-only-section">
      <h2>{{t "Admin Only"}}</h2>
      <a href="/collection/new" class="button button-red button-block">
        {{> icon-add}}
        {{t "Collection"}}

      </a>
      <p>{{t "content_types.collection.description"}}</p>
    </div> 
  {{/if}}

    <div role="tabpanel" class="tab-drafts">
      {{#if (isSelectedContentChooserTab req "drafts")}}
        {{> cards-container-draft
          cardsDraft=(getDraftsForProfile req.user)
        }}
      {{/if}}
    </div>
  
{{/static-view-container}}
