{{#> static-view-container }}
<h1>{{t "Getting Started as a Content Contributor"}}</h1>

<section>
  <h3>
    {{t "getting-started.p1"}}
  </h3>
  <div class="u-text-align--center u-margin-top--small">
    <img src="/images/getting-started/contribute-small.svg" class="static-view-section-illustration" />
  </div>
  <!-- <div class="video-embed-container">
    <iframe
      src="https://www.youtube.com/embed/oiAwtSXFCwo"
      frameborder="0"
      webkitAllowFullScreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div> -->
</section>

<section class="u-margin-bottom--med">
  <p>
    {{t "getting-started.p2"}}
  </p>
</section>

<section class="u-margin-bottom--med">
  <h2>{{t "Publishers"}}</h2>
  <p>
    {{{
      __
      "getting-started.publishers.p1"
      "<a href='/collection/6495'>"
      "</a>"
    }}}
  </p>
  <p>
    {{t "getting-started.publishers.p2" }}
  </p>

  <h3 class="u-margin-top--small">{{t "getting-started.publishers.key_considerations"}}</h3>
  <ul>
    <li>
      {{{
        __
        "getting-started.publishers.key_considerations.p5"
        "<a href='/help-faq-contact'>"
        "</a>"
      }}}
    </li>
    <li>
      {{{
        __
        "getting-started.publishers.key_considerations.p1"
        "<strong><i>"
        "</i></strong>"
        "<a href='/help-faq-contact'>"
        "</a>"
      }}}
    </li>
    <li>
      {{t "getting-started.publishers.key_considerations.p2"}}
    </li>
    <li>
      {{t "getting-started.publishers.key_considerations.p3"}}
    </li>
    <li>
      {{t "getting-started.publishers.key_considerations.p4"}}
    </li>
    <li>{{t "getting-started.publishers.key_considerations.p6"}}</li>
    <li>
      {{{
        __
        "getting-started.publishers.key_considerations.p7"
        "<a href='/content-chooser'>"
        "</a>"
      }}}
      <a href="/content-chooser" class="button button-red small-action-button" title='{{t "Quick Submit"}}'>
        <span class="sr-only">{{t "Quick Submit"}}</span>
        {{> icon-add }}
      </a>
    </li>
  </ul>
</section>

<section class="u-margin-bottom--med">
  <h2>{{t "Editors"}}</h2>
  <p>
    {{{
      __
      "getting-started.editors.p1"
      "<a href='https://en.wikipedia.org/wiki/Machine_translation' target='_blank' rel='noopener'>"
      "</a>"
    }}}
  </p>
  <h3 class="u-margin-top--small">{{t "getting-started.editors.key_considerations"}}</h3>
  <ul>
    <li>
      {{{
        __
        "getting-started.editors.key_considerations.p0"
        "<a href='/help-faq-contact'>"
        "</a>"
      }}}
    </li>
    <li>
      {{{
        __
        "getting-started.editors.key_considerations.p1"
        '<a href="/search">'
        "</a>"
        '<a href="/search?selectedCategory=case&completeness=stub">'
        "</a>"
      }}}
    </li>

    <li>
      {{t "getting-started.editors.key_considerations.p2"}}
    </li>

    <li>
      {{t "getting-started.editors.key_considerations.p3"}}
      
    </li>
    <li>
      {{{
        __
        "getting-started.editors.key_considerations.p4"
        "<a href='/help-faq-contact'>"
        "</a>"
      }}}
      <span class="button button-red small-action-button" style="cursor: auto;">
        <span class="sr-only">{{t "Edit"}}</span>
        {{> icon-edit }}
      </span>
    </li>
  </ul>
</section>

<section>
  <p>
    {{{
      __
      "getting-started.p3"
      "<a href='/profile'>"
      "</a>"
    }}}
  </p>

  <h2 class="u-margin-top--med">{{t "Looking for more information?"}}</h2>
  <p>
    {{{
      __
      "getting-started.p4"
      "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing'>"
      "</a>"
      "<a href='/about'>"
      "</a>"
      "<a href='/research'>"
      "</a>"
      "<a href='/teaching'>"
      "</a>"
      "<a href='/help-faq-contact'>"
      "</a>" 
      "<a href='mailto: info@participedia.net'>"
      "</a>" 
    }}}
  </p>
</section>

{{/static-view-container}}
