{{#> static-view-container }}
<h1>{{t "Getting Started as a Contributor"}}</h1>

<section>
  <h3>
    {{t "getting-started.p1"}}
  </h3>
  <div style="text-align: center; margin-top: 30px">
    <img src="/images/getting-started/contribute-small.svg" width="75%" />
  </div>
  <!-- <div class="video-embed-container">
    <iframe
      src="https://www.youtube.com/embed/oiAwtSXFCwo"
      frameborder="0"
      webkitAllowFullScreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div> -->
</section>

<section class="u-margin-bottom--med">
  <p>
    {{t "getting-started.p2"}}
  </p>
</section>

<section class="u-margin-bottom--med">
  <h2>{{t "Publishers"}}</h2>
  <p>
    {{t "getting-started.publishers.p1"}}
  </p>

  <h3 class="u-margin-top--small">{{t "Key Considerations for Publishers"}}</h3>
  <ul>
    <li>
      {{{
        __
        "getting-started.publishers.key_considerations.p1"
        "<a href='/help-faq-contact'>"
        "</a>"
      }}}
    </li>
    <li>
      {{t "getting-started.publishers.key_considerations.p2"}}
    </li>
    <li>
      {{t "getting-started.publishers.key_considerations.p3"}}
    </li>
    <li>
      {{t "getting-started.publishers.key_considerations.p4"}}
    </li>
    <li>
      {{{
        __
        "getting-started.publishers.key_considerations.p5"
        '<a href="/help-faq-contact">'
        "</a>"
      }}}
    </li>
    <li>{{t "getting-started.publishers.key_considerations.p6"}}</li>
  </ul>
</section>

<section class="u-margin-bottom--med">
  <h2>Editors</h2>
  <p>
    {{t "getting-started.editors.p1"}}
  </p>

  <p>
    {{t "getting-started.editors.p2"}}
  </p>

  <h3 class="u-margin-top--small">{{t "getting-started.editors.key_considerations"}}</h3>
  <ul>
    <li>
      {{{
        __
        "getting-started.editors.key_considerations.p1"
        '<a href="/search">'
        "</a>"
        '<a href="/search?selectedCategory=case&completeness=stub">'
        "</a>"
      }}}
    </li>

    <li>
      {{t "getting-started.editors.key_considerations.p2"}}
    </li>

    <li>
      {{t "getting-started.editors.key_considerations.p3"}}
      
    </li>
    <li>
      {{{
        __
        "getting-started.editors.key_considerations.p4"
        '<a href="/help-faq-contact">'
        "</a>"
       
      }}}
    </li>
  </ul>
</section>

<section>
  <p>
    {{t "getting-started.p3"}}
  </p>

  <h2 class="u-margin-top--med">{{t "Looking for more information?"}}</h2>
  <p>
    {{{
      __
      "getting-started.p4"
      '<a href="/about">'
      "</a>"
      '<a href="/research">'
      "</a>"
      '<a href="/teaching">'
      "</a>"
      '<a href="/help-faq-contact">'
      "</a>" 
      '<a href="mailto: info@participedia.net">'
      "</a>" 
    }}}
  </p>
</section>

{{/static-view-container}}
