{{#> static-view-container }}
<h1>Getting Started as a Contributor</h1>

<section>
  <h3>
    Anyone from around the world can help document participatory initiatives by
    publishing and editing crowdsourced entries on participedia.net.
  </h3>
  <div class="video-embed-container">
    <iframe
      src="https://www.youtube.com/embed/oiAwtSXFCwo"
      frameborder="0"
      webkitAllowFullScreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>
</section>

<section class="u-margin-bottom--med">
  <p>
    Participedia is a crowdsourcing platform for researchers and practitioners
    interested in public participation. The site is home to over a thousand
    cases from nearly 70 countries and has an active community of contributors
    who use the site to study and design effective methods of citizen
    engagement. The site is currently available in 7 languages, and features two
    key types of contributors: Publishers and Editors.
  </p>
</section>

<section class="u-margin-bottom--med">
  <h2>Publishers</h2>
  <p>
    Most often people who publish new entries on Participedia are students,
    practitioners and organizers of participatory events. Students may be
    assigned course work related to Participedia, either for researching or
    documenting participatory initiatives, such as this collection contributed
    by Coady International Centre graduates. Practitioners may use the site to
    document and publicize their methods, cases and organizations. Organizers
    who publish entries on Participedia may benefit from increased
    discoverability of their work, at the same time contributing to a
    collaborative effort to document participatory initiatives and gaining
    access to a database of inspiring examples and methods.
  </p>

  <h3 class="u-margin-top--small">Key Considerations for Publishers</h3>
  <ul>
    <li>
      Participedia contains three entry types: cases, methods, and
      organizations. Read more about entry types in the
      <a href="/help-faq-contact">FAQs</a>
    </li>
    <li>
      Like Wikipedia, Participedia is focused on documentation rather than
      persuasion or opinion.
    </li>
    <li>
      All content must be cited so readers can fact-check original sources.
    </li>
    <li>
      Contributions should draw from credible sources whenever they are
      available, such as academic papers, reports, official evaluations,
      official websites of organizations involved, or news outlets.
    </li>
    <li>
      New entries are automatically translated into all supported languages, but
      only the first time they are published. Read more about how translations
      work in the <a href="/help-faq-contact">FAQs</a>.
    </li>
    <li>Write in the third person, not the first person.</li>
  </ul>
</section>

<section class="u-margin-bottom--med">
  <h2>Editors</h2>
  <p>
    Editors could be adding additional information to a case, method or
    organization such as citations, images, links to supporting documents or
    external websites. Most often, people who edit existing entries on
    Participedia are students and other researchers. Course assignments related
    to participedia often involve improving partially complete entries, or
    “stubs.” Researchers may be editors on entries that are related to their
    particular area of focus.
  </p>

  <p>
    The Participedia Team additionally includes staff editors, who review the
    content on Participedia, curate collections, and flag entries with editing
    prompts such as completeness and required citations for improvement by
    Participedia’s community of editing contributors.
  </p>

  <h3 class="u-margin-top--small">Key Considerations for Editors</h3>
  <ul>
    <li>
      On the <a href="/search">search page</a>, use the search filter called
      “entry completeness” to find entries listed as stubs or partially
      complete, as well as entries that need citations. For example
      <a href="/search?selectedCategory=case&completeness=stub"
        >here are cases that are flagged as stubs</a
      >.
    </li>

    <li>
      Add information or images related to a participatory event you attended
      (ie: protest, participatory budgeting event, etc)
    </li>

    <li>
      Use search filters to look for entries near you and conduct research to
      add more content to those entries. For example an entry might need images,
      links to supporting documents, or external websites.
    </li>
    <li>
      Use the site in your preferred language. All fixed data changes are
      applied across all languages, and text changes are applied in your
      language only. Read more about how translations works in the
      <a href="/help-faq-contact">FAQs</a>
    </li>
  </ul>
</section>

<section>
  <p>
    We look forward to welcoming you as a publisher or editor on
    Participedia.net! Once you get started, you can find all your contributions
    on your profile page.
  </p>

  <h2 class="u-margin-top--med">Looking for more information?</h2>
  <p>
    Read more <a href="/about">about Participedia</a>, learn more about our
    <a href="/research">research</a> or check out our
    <a href="/teaching">teaching resources</a>. Answers to other Frequently
    Asked Questions can be found <a href="/help-faq-contact">here</a>. If you
    need additional help,
    <a href="mailto:info@participedia.net">email our support team</a>.
  </p>
</section>

{{/static-view-container}}
