{{#> static-view-container }}
  <h1 class="u-margin-bottom--med">{{t "Help & Contact"}}</h1>

  <section>
    <h2>{{t "Contact Us"}}</h2>
    <a href="mailto: info@participedia.net" class="js-mail-link">{{t "Email Support Team"}}</a>
  </section>

  <hr class="divider u-margin-top--small u-margin-bottom--small" />
  
  <section>
    <h2>{{t "Frequently Asked Questions"}}</h2>

    <div class="help-faq-contact-view__faq-list">
      {{> faq-list withAnswer="true"}}
    </div>
  </section>
{{/static-view-container}}
