{{> map }}

<div class="home-search-body">
  {{#> tabs-with-cards req=req getTabs=(getHomeTabs)}}
    <div role="tabpanel" class="tab-all">
      {{#if (isSelectedHomeTab req "all")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
        }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-cases">
      {{#if (isSelectedHomeTab req "case")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          includeSearchFilters=true
          type="case"
        }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-methods">
      {{#if (isSelectedHomeTab req "method")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          includeSearchFilters=true
          type="method"
        }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-organizations">
      {{#if (isSelectedHomeTab req "organizations")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          includeSearchFilters=true
          type="organizations"
        }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-collections">
      {{#if (isSelectedHomeTab req "collections")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          type="collection"
        }}
      {{/if}}
    </div>
  {{/tabs-with-cards}}

  <a href="/content-chooser" class="button button-red floating-action-button" title='{{t "Quick Submit"}}'>
    <span class="sr-only">{{t "Quick Submit"}}</span>
    {{> icon-add }}
  </a>
</div>
