<div class="home-search">
  {{> map }}
  <div class="content">
    <h2 class="tagline">Participedia is a global commmunity sharing knowledge and stories about public particpation.</h2>

    <div class="tab-container js-tab-container">
      <div role="tablist" class="tab-button-list">
        <button type="button" role="tab" aria-selected="true">All</button>
        <button type="button" role="tab">Cases</button>
        <button type="button" role="tab">Methods</button>
        <button type="button" role="tab">Organizations</button>
      </div>
      <div role="tabpanel">
        <p>all</p>
        {{> cards-container
          cards=results
        }}
      </div>
      <div role="tabpanel" hidden>
        <p>cases</p>
        <!-- todo pass in cases array -->
        {{> cards-container
          cards=results
        }}
      </div>
      <div role="tabpanel" hidden>
        <p>methods</p>
        <!-- todo pass in methods array -->
        {{> cards-container
          cards=results
        }}
      </div>
      <div role="tabpanel" hidden>
        <p>organizations</p>
        <!-- todo pass in orgs array -->
        {{> cards-container
          cards=results
        }}
      </div>
    </div>
  </div>
</div>
