<!-- {{> banner-notice }} -->

<div class="home-section home-hero">
  <div
    class="home-hero-image"
    style="background-image: url('{{heroFeature.imageUrl}}')"
  ></div>
  <div class="home-hero-overlay"></div>
  <div class="u-inner-container">
    <h1 class="home-hero-header">
      {{t "main_tagline"}}
    </h1>
    <ul class="unstyled-list home-hero-stats">
      <li class="home-hero-stats__stat-item">
        <h5>{{stats.cases}}</h5>
        <h3>{{t "Cases"}}</h3>
      </li>
      <li class="home-hero-stats__stat-item">
        <h5>{{stats.methods}}</h5>
        <h3>{{t "Methods"}}</h3>
      </li>
      <li class="home-hero-stats__stat-item">
        <h5>{{stats.organizations}}</h5>
        <h3>{{t "Organizations"}}</h3>
      </li>
      <li class="home-hero-stats__stat-item">
        <h5>{{stats.countries}}</h5>
        <h3>{{t "countries"}}</h3>
      </li>
      <li class="home-hero-stats__stat-item">
        <h5>{{stats.contributors}}</h5>
        <h3>{{t "contributors"}}</h3>
      </li>
    </ul>
    <div class="home-hero-search">
      <form
        action="/search"
        class="home-hero-search__form js-home-hero-search__form"
      >
        <div class="home-hero-search__form-search-icon-container">
          {{> icon-search }}
        </div>
        <input name="query" type="text" placeholder={{t "Search"}}
        class="home-hero-search__form-input js-home-hero-search__form-input
        u-margin-right--xsmall" />
        <select
          name="type"
          class="home-hero-search__edit-select js-edit-select u-margin-right--xsmall"
          id="js-home-hero-search__edit-select"
        >
          <option value="all">
            {{t "All"}}
          </option>
          <option value="case">
            {{t "Cases"}}
          </option>
          <option value="organizations">
            {{t "Organizations"}}
          </option>
          <option value="institution">
            {{t "Institutions"}}
          </option>
          <option value="collections">
            {{t "Collections"}}
          </option>
        </select>
        <button class="button button-red" type="submit">{{t "Search"}}</button>
      </form>
      <a
        href="/search?selectedCategory=case&openFilters=1"
        class="home-hero-search__advanced-link"
        >{{t "Advanced search"}}</a
      >
      <a href="/search">{{t "Browse all entries"}}</a>
    </div>
    <div class="home-hero-image-credit">
      {{> icon-camera}}
      <a
        href="{{heroFeature.entryUrl}}"
        class="home-hero-image-credit__entry-link"
        >{{heroFeature.entryTitle}}</a
      >
      <small>{{t "Credit"}}: {{heroFeature.imageCredit}}</small>
    </div>
  </div>
</div>

<div class="home-section u-margin-bottom--large u-margin-top--med">
  <div class="u-inner-container">
    {{#> three-column-row }}
      {{#> three-column-column}}
        <div class="u-margin-bottom--small u-text-align--center">
          <img src="/images/homepage/explore.svg" width="80%" />
          <h2 class="u-extra-bold">Explore & Research</h2>
          <div>
            Explore the dataset via the search bar above, <a href="/research#data-dl">download the data in csv files</a>, or <a href="#map">explore entries by location</a>.
          </div>
        </div>

        <a href="/research" class="u-extra-bold u-text-align--center">
          Read more about our research ->
        </a>
      {{/ three-column-column}}
      {{#> three-column-column}}
        <div class="u-margin-bottom--small u-text-align--center">
          <img src="/images/homepage/contribute.svg" width="80%" />
          <h2 class="u-extra-bold">Contribute</h2>
          <div>
            Help expand our database by editing existing content or publishing
            your own.
          </div>
        </div>
        <a href="/getting-started" class="u-extra-bold u-text-align--center">
          Getting started guide ->
        </a>
      {{/ three-column-column}}
      {{#> three-column-column}}
        <div class="u-margin-bottom--small u-text-align--center">
          <img src="/images/homepage/teach.svg" width="80%" />
          <h2 class="u-extra-bold">Teach</h2>
          <div>
            Use Participedia in the classroom to engage students and showcase
            their research.
          </div>
        </div>
        <a href="/teaching" class="u-extra-bold u-text-align--center">
          Teaching resources ->
        </a>
      {{/ three-column-column}}
    {{/ three-column-row }}
  </div>
</div>

<div class="home-section">
  {{> featured-entries-carousel entries=featuredCollections title="Featured Collections"}}
</div>

<div class="home-section">
  <div class="u-inner-container">
    <div class="home-section-header">
      <h2>News</h2>
      <a
        href="https://medium.com/@participediaproject"
        target="_blank"
        rel="noopener"
      >
        View all
      </a>
    </div>
    {{> blog-posts}}
  </div>
</div>

<div class="home-section">
  {{> featured-entries-carousel 
      photoOnRight=true
      entries=featuredCasesMethodsOrgs 
      title="Featured Entries"
  }}
</div>

<div class="home-section" id="map">
  <div class="home-section-header u-inner-container">
    <h2>Explore Cases & Organizations by Location</h2>
  </div>

  {{> map }}
</div>

<div class="home-section">
  <div class="u-inner-container">
    {{#> three-column-row }}
      {{#> three-column-column}}
        <div class="u-margin-bottom--small">
          <h3 class="u-extra-bold">About Participedia</h3>
          <div>
            Participedia is built on a global partnership between organizations, institutions and individuals who share an interest in participatory politics and governance.  
          </div>
        </div>
        <a href="/about" class="u-extra-bold">Read more about us -></a>
      {{/ three-column-column}}
      {{#> three-column-column}}
        <div class="u-margin-bottom--small">
          <h3 class="u-extra-bold">Newsletter</h3>
          <div>
            Sign up for our community newsletter! We share the latest information about participatory democratic innovations around the world, stories from our wide community of partners and contributors, invitations to upcoming conferences and events, and more. 
          </div>
        </div>
        <a 
          href="https://mailchi.mp/participedia/subscribe"  
          target="_blank" 
          rel="noopener"  
          class="u-extra-bold"
        >Sign up for our newsletter -></a>
      {{/ three-column-column}}
      {{#> three-column-column}}
        <div class="u-margin-bottom--small">
          <h3 class="u-extra-bold">Supporters</h3>
          <div>
            {{{__
              "about.supporters.p1"
              "<a href='http://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx' target='_blank'>"
              "</a>"
            }}}
            {{{__
              "about.supporters.p2"
              "<a href='https://www.ecuad.ca/academics/faculties-and-departments/research-area/chair-in-art-design-technology' target='_blank'>"
              "</a>"
              "<a href='http://www.chairs-chaires.gc.ca/home-accueil-eng.aspx' target='_blank'>"
              "</a>"
              "<a href='https://www.innovation.ca/'>"
              "</a>"
            }}}
          </div>  
        </div>
        <a href="/about#supporters" class="u-extra-bold">Read more about our supporters -></a>
      {{/ three-column-column}}
    {{/ three-column-row }}
    
  </div>
</div>
