<div class="home-search js-home-search" data-layout="{{cardLayoutType req}}">
  {{> map }}
  <div class="content">
    <h2 class="tagline">Participedia is a global commmunity sharing knowledge and stories about public particpation.</h2>

    <ul class="unstyled-list card-layout-btns js-card-layout-btns">
      <li>
        <button class="icon-only toggle-list-layout-btn" data-type="list">
          <span class="sr-only">list view</span>
          {{> icon-list}}
        </button>
      </li>
      <li>
        <button class="icon-only toggle-grid-layout-btn" data-type="grid">
          <span class="sr-only">grid view</span>
          {{> icon-grid}}
        </button>
      </li>
    </ul>

    <!-- select for navigating to different tabs in mobile view -->
    <div class="article-select-container js-article-select-container">
      <select>
        <option value="all">All</option>
        <option value="cases">Cases</option>
        <option value="methods">Methods</option>
        <option value="organizations">Organizations</option>
      </select>
    </div>

    <div class="tab-container js-tab-container">
      <input id="tab-all" type="radio" name="tabs" checked>
      <label for="tab-all">All</label>

      <input id="tab-cases" type="radio" name="tabs">
      <label for="tab-cases">Cases</label>

      <input id="tab-methods" type="radio" name="tabs">
      <label for="tab-methods">Methods</label>

      <input id="tab-organizations" type="radio" name="tabs">
      <label for="tab-organizations">Organizations</label>

      <div class="tab-panels">
        <div role="tabpanel" id="tab-all">
          <p>all</p>
          {{> cards-container
            cards=results
          }}
        </div>
        <div role="tabpanel" id="tab-cases">
          <p>cases</p>
          <!-- todo pass in cases array -->
          {{> cards-container
            cards=results
          }}
        </div>
        <div role="tabpanel" id="tab-methods">
          <p>methods</p>
          <!-- todo pass in methods array -->
          {{> cards-container
            cards=results
          }}
        </div>
        <div role="tabpanel" id="tab-organizations">
          <p>organizations</p>
          <!-- todo pass in orgs array -->
          {{> cards-container
            cards=results
          }}
        </div>
      </div>
    </div>
  </div>
</div>
