{{> map }}

<div class="home-search-body">
  <h2 class="home-search-tagline">Participedia is a global commmunity sharing knowledge and stories about public particpation.</h2>

  {{#> tabs-with-cards req=req getTabs=(getHomeTabs)}}
    <div role="tabpanel" class="tab-all">
      <p>all</p>
      {{> cards-container
        totalResults=total
        totalPages=pages
        cards=results
      }}
    </div>
    <div role="tabpanel" class="tab-cases">
      <p>cases</p>
      <!-- todo pass in cases array -->
      {{> cards-container
        totalResults=total
        totalPages=pages
        cards=results
      }}
    </div>
    <div role="tabpanel" class="tab-methods">
      <p>methods</p>
      <!-- todo pass in methods array -->
      {{> cards-container
        totalResults=total
        totalPages=pages
        cards=results
      }}
    </div>
    <div role="tabpanel" class="tab-organizations">
      <p>organizations</p>
      <!-- todo pass in orgs array -->
      {{> cards-container
        totalResults=total
        totalPages=pages
        cards=results
      }}
    </div>
  {{/tabs-with-cards}}
</div>
