{{#> static-view-container }}
  <h1>Terms of Use</h1>
  <h2>Terms of Use / Privacy Policy for Participedia.net</h2>
  <h3>Introduction</h3>
  <p>
    Please read this Privacy Policy and Terms of Use carefully (collectively referred to herein as the “<strong>Policy</strong>”). By using Participedia.net (the “<strong>Site</strong>”), you as a user of the Site are agreeing to be bound by the terms of this Policy and represent and warrant that you are the age of majority in your area of residence. If you are accepting these terms on behalf of a corporation or other legal entity, then you represent and warrant that you have the authority to bind such entity to these terms
  </p>
  <p>
    The Site is hosted by The University of British Columbia, Canada (“<strong>UBC</strong>”) with administrative and policy support from other institutions (the “Collaborating Institutions”) (collectively, UBC and the Collaborating Institutions are referred to herein as “<strong>Participedia</strong>”, “<strong>us</strong>” or “<strong>we</strong>”).
  </p>
  <h3>Privacy and Collection/Use of Personal Information</h3>
  <p>We have adopted this Privacy Policy to explain what information may be collected on the Site, how we use this information, and under what circumstances we may disclose the information to third parties. We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Site unless you consent to its disclosure.</p>
  <p>Types of information we collect from the Site are as follows:</p>
  <p>
    <strong>Cookies –</strong> In a similar fashion as other websites, Participedia.net uses cookies to improve your experience on the Site and to collect anonymous information about how you use the Site. This information is compiled into anonymous traffic analytics, and is not available to the general public. However, cookies are not required for use of the Site. If your browser is configured not to accept cookies, you will still be able to access the Site and its content.
  </p>
  <p>
    <strong>Account information and Activities –</strong> We keep a log of the IP addresses of <strong>non-registered users.</strong>
  </p>
  <p>
    <strong>For registered users,</strong> in addition to a log of IP addresses we keep a record of their login and logouts, and activities on the site. We keep email address, username, and all the publically available information they choose to provide in their <strong>User Account</strong> (as herein defined), including: Full Name, Job Title, Profession, Picture, IP Addresses, Biography.
  </p>
  <p>Once a user creates or edits content, the contribution, time/date, and username are recorded and may be available to the public indefinitely. Deleting text does not delete the record of the contribution, and previous versions of articles are available indefinitely. Registered users can edit their own username. At your request, you may request the Site administrator at info@participedia.net to cancel/disable your account. When cancelling a User Account the site administrator, at its sole discretion, has the following options:</p>
  <p>
    <ul>
      <li>Disable the account and keep its content. (default)</li>
      <li>Disable the account and label its content as belonging to the site’s generic username “Anonymous.”</li>
      <li>Disable the account and unpublish its content.</li>
      <li>Disable the account and delete its content.</li>
    </ul>
  </p>
  <p>By disclosing your contact information or any other personally identifiable information available to the Site, you are consenting to the disclosure of this information to authorized personnel in UBC, the Collaborating Institutions, and their respective third party service providers, some of which are located outside Canada, for purposes connected with administering the Site. We do not make this information available to anyone else unless we are legally authorized to do so.</p>
  <p>In addition to the above, we collect certain anonymous (non-personally identifiable) information to help us improve the Site and to evaluate the access, use and the impact of Participedia materials and the Site:</p>
  <p>
    <ul>
      <li>We collect information you provide about your use of and satisfaction with the Site through emails you send us and through the Site surveys, whether or not you voluntarily include your contact information. Occasionally, we report quoted feedback from users. We do not attribute feedback to specific individuals unless we obtain permission to use that person's name along with the feedback</li>
      <li>When we report information about the Site’s access, use, and impact, we report aggregate, non-personally identifiable data.</li>
    </ul>
  </p>
  <p>
    <strong>Keeping Your Information Secure –</strong> We have implemented security measures we consider reasonable and appropriate to protect against the loss, misuse and alteration of the information under our control. Please be advised, however, that while we strive to protect your personally identifiable information and privacy, we cannot guarantee or warrant the security of any information you disclose or transmit to us online and we are not responsible for the theft, destruction, or inadvertent disclosure of your personally identifiable information.
  </p>
  <p>
    <strong>Use of Public Forums –</strong> We may offer blogs, message boards, bulletin boards, or similar public forums where you and other users of the Site can communicate. The protections described in this Privacy Policy do not apply when you provide information (including personal information) in connection with your use of these public forums. Any information you share in a public forum is public information and may be seen or collected by anyone, including third parties that do not adhere to our Privacy Policy. We are not responsible for events arising from the distribution of any information you choose to publicly post or share through this Site.
  </p>
  <p>
    <strong>Legislative Authority –</strong> We collect the foregoing personal information under the authority of section 26(c) of the Province of British Columbia’s Freedom of Information and Protection of Privacy Act (<strong>“FIPPA”</strong>) and we will use, disclose and protect this information as required under the FIPPA. If you have any questions about the collection, use, disclosure and protection of your personal information, contact info@participedia.net.
  </p>
  <h3>Terms of Use</h3>
  <h4>1. Creative Commons License</h4>
  <p>Content on this Site is governed by the Creative Commons Attribution Non-Commercial-Sharelike 3.0 Unported license (CC BY-NC-SA 3.0) (the “Creative Commons License”). The following is a summary of the Creative Commons License which can be found at http://creativecommons.org/licenses/by-nc-sa/3.0/.</p>
  <p>You are free:</p>
  <p>
    <ul>
      <li>
        <strong>to Share</strong> — to copy, distribute and transmit the work
      </li>
      <li>
        <strong>to Remix</strong> — to adapt the works
      </li>
    </ul>
  </p>
  <p>Under the following conditions:</p>
  <p>
    <ul>
      <li>
        <strong>Attribution.</strong> You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).
      </li>
      <li>
        <strong>Noncommercial.</strong> You may not use this work for commercial purposes.
      </li>
      <li>
        <strong>Share Alike.</strong> If you alter, transform, or build upon this work, you may distribute the resulting work only under the same or similar license to this one.
      </li>
    </ul>
  </p>
  <p>With the understanding that:</p>
  <p>
    <ul>
      <li>
        <strong>Waiver.</strong> Any of the above conditions can be waived if you get permission from the copyright holder.
      </li>
      <li>
        <strong>Public Domain.</strong> For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.
      </li>
      <li>
        <strong>Other Rights.</strong> In no way are any of the following rights affected by the license:
      </li>
      <ul>
        <li>Your fair dealing or fair use rights, or other applicable copyright exceptions and limitations;</li>
        <li>The author’s moral rights, subject to the remix rights granted to others;</li>
        <li>Rights other persons may have either in the work itself or in how the work is used, such as publicity or privacy rights.</li>
      </ul>
    </ul>
  </p>
  <h4>2. Modification of Terms</h4>
  <p>We may amend this Policy from time to time. If we do, we'll notify you, either through the user interface, in an email message, or through other reasonable means. Your use of the Site after the date the change becomes effective will be your consent to the changed terms. Continued use of the Site following the amendment of such Policy shall indicate your acknowledgement of, and agreement to be bound by such changes.</p>
  <h4>3. Account Information and User Content</h4>
  <p>
    1. For certain uses of the Site, Participedia may require you to provide information about yourself to create a user account (the “<strong>User Account</strong>”). You agree that any such information provided in connection with your User Account will always be correct, complete, and current. You will be responsible for all activities that occur under your User Account and therefore you agree to keep you password confidential. You agree to notify us immediately of any unauthorized use of your User Account or if the security of your User Account has been compromised. You may not: (a) provide any false information in connection with your User Account or use of the Site; (b) create a User Account for anyone other than yourself; (c) create or use more than one User Account at any given time; (d) transfer your User Account to anyone else; (e) permit others to use your User Account; or (f) use or access other persons’ User Accounts.
  </p>
  <p>You shall not submit any content protected by copyright, trademark, patent, trade secret, moral right, or other intellectual property or proprietary right without the express permission of the owner of the respective right. You are solely liable for any damage resulting from your failure to obtain such permission or from any other harm resulting from content that you submit onto the Site.</p>
  <p>
    You agree to license any content submitted or posted on the Site to Participedia in accordance with the terms of the Creative Commons License located at{" "}
    <a target="_blank" rel="noopener" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
      http://creativecommons.org/licenses/by-nc-sa/3.0/
    </a>
    and that you acknowledge that you will receive no compensation from us for any of your content.
  </p>
  <p>You agree that you will not submit any content that:</p>
  <p>a. violates or infringes in any way upon the rights of others, including, but not limited to, any copyright, trademark, patent, trade secret, moral right, fiduciary or non-disclosure obligations, or other intellectual property or proprietary right of any person or entity;</p>
  <p>b. is unlawful, including without limitation, harassing threatening or abusive; libelous or defamatory; invasive of or violates privacy or publicity rights; obscene, profane or pornographic, or otherwise violates applicable laws;</p>
  <p>c. encourages conduct that would constitute a criminal offense, give rise to civil liability or contains a formula, instruction or advice that could cause harm or injury to other persons or property, or otherwise violate any law;</p>
  <p>d. is an advertisement for goods or services or a solicitation of funds;</p>
  <p>e. non-compliant with any applicable laws or regulations regarding the export of data or software to and from Canada or other relevant countries;</p>
  <p>f. includes personal information such as messages which identify phone numbers, social security numbers, account numbers, addresses, or employer references;</p>
  <p>g. is considered chain mail, junk mail, or spam to others users of the Site;</p>
  <p>h. contains viruses, malworms, malicious code or other devices that could harm the technical infrastructure of the Site; or</p>
  <p>i. places undue burden on the technical systems or networks connected to the Site.</p>
  <p>Moreover, any conduct by a user that, in our sole discretion, restricts or inhibits any other user from using or enjoying the Site will not be permitted.</p>
  <h4>4. Third Party Websites and Resources</h4>
  <p>The Site may contain links to other sites, including those under the control and maintenance of third parties. These links are provided as convenient references to help you identify and locate other Internet resources that may be of interest. Third parties independently develop and maintain these other sites. Therefore, we do not assume responsibility for the accuracy or appropriateness of the information contained at such sites. In providing links to other sites, we are not acting as an enforcer, publisher or disseminator of the content contained on these other sites and do not seek to control the content of, or maintain any type of editorial control over, such sites. Your use of the linked sites may be subject to terms and conditions contained on such websites, which you should locate and review.</p>
  <h4>5. Third Party Websites and Resources</h4>
  <p>
    <strong>Objectionable or Erroneous Content.</strong> The Site provides a wide array of content that is produced and collected by fellow users, you may encounter content that you may find offensive, erroneous, misleading, mislabeled or otherwise objectionable. We therefore request that you use your discretion when using our Site.
  </p>
  <p>
    <strong>General Information Purposes.</strong> All content provided on the Site is content presented for general information purposes only. Please consult an independent professional qualified in the applicable subject matter before acting on any information, opinion or advice contained in the content available on the Site.
  </p>
  <h4>6. Trademarks</h4>
  <p>Certain words, coat of arms, crests, phrases, names, designs or logos used on the Site may constitute trademarks, service marks, tradenames or other intellectual property of others. The display of any such marks or names on the Site does not imply that we have granted a license or authorization of any kind to use such marks or names. You may not use any such marks or names displayed on the Site without the expressed permission of the applicable owner.</p>
  <h4>7. Infringement Notification</h4>
  <p>
    We take claims of copyright infringement seriously and will respond to notices of alleged copyright infringement in accordance with applicable law. Any material that we determine acting reasonably to be infringement of third party copyright will be removed from the Site. If you believe that all or a portion of the Site’s material infringes another's copyright, contact us via email at <a href="mailto:info@participedia.net">info@participedia.net.</a>
  </p>
  <p>If you do not include an electronic signature with your claim, you may be asked to send or fax a follow-up copy with a signature. To file the notification, you must be either the copyright owner of the work or an individual authorized to act on behalf of the copyright owner. Your notification must include:</p>
  <p>1. Identification of the copyrighted work you believe in good faith to be infringed by works on the Site or, in the case of multiple works on the Site, a representative list of such works.</p>
  <p>2. Identification of the material that is claimed to be infringing or to be the subject of infringing activity. You must include sufficient information, such as a specific URL or other specific identification, for us to locate the material.</p>
  <p>3. Information for us to be able to contact you (e.g., email address, postal address, phone number).</p>
  <p>4. A statement that you have a good faith belief that the use of the material has not been authorized by the copyright owner, its agent or the law.</p>
  <p>5. A statement that the information in the notification is accurate and that the you are , or are authorized to act on behalf of, the copyright owner.</p>
  <h4>8. Violation of Terms</h4>
  <p>If you violate any terms of this Policy or other user guidelines posted on the Site, or if we believe that your conduct or content is offensive or illegal, violates the rights of third parties, harms or threatens to harm third parties, or may create liability for Participedia or third parties, we reserve the right (but are not obligated) to investigate and take appropriate legal action in our sole discretion, including removing content from the Site, notifying the appropriate authorities regarding the source of such content, barring you from accessing the Site, and terminating your User Account.</p>
  <h4>9. Termination of Account</h4>
  <p>Subject to this Section, this Policy and its terms will remain in full force and effect while you use the Site or maintain a User Account. You may terminate your User Account at any time and for any reason by contacting info@participedia.net. We reserve the right to terminate your User Account immediately effective upon sending you notice to you at the email address you provide with your User Account. You agree that we will have no liability to you for any costs, expenses, losses, damages or liabilities arising or relating to our termination of your User Account, your access to and use of the Site, or this Policy. This Section shall survive the termination of your User Account or your access to and use of the Site.</p>
  <h4>10. Indemnity</h4>
  <p>You agree to indemnify and hold UBC, the Collaborating Institutions, their respective officers, agents, employees, directors, regents, governors and senators harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of any content you submit, post, transmit, modify or otherwise make available through the Site, your use of the Site, your violation of any terms of this Policy, or your violation of any rights of another. This Section shall survive termination of your User Account or your access to or use of the Site.</p>
  <h4>11. Disclaimer of Warranty</h4>
  <p>Any information on the Site, whether provided by us, or by third parties, is provided “as is” without warranty of any kind, either express or implied, including but not limited to, implied warranties of merchantability or fitness for a particular purpose. We do not guarantee the quality, accuracy, completeness or non-infringement of the information on the Site. While efforts may be made to verify the information provided, the Site may contain errors and should not be assumed to be error free. Furthermore, some information on the Site has been provided by third parties and has not necessarily been verified by us.</p>
  <h4>12. General</h4>
  <p>The terms of this Policy and your access to and use of the Site is governed by the laws of the Province of British Columbia and the laws of Canada applicable therein. You hereby irrevocably and unconditionally attorn to the exclusive jurisdiction of the courts of the Province of British Columbia and all courts competent to hear appeals therefrom. Our failure not to strictly enforce any of the terms of this Policy shall not be construed as a waiver of any provision or right. If any provision of this Policy is held to be invalid or unenforceable, the remaining provisions of this Policy will be enforced in accordance with their terms.</p>
  <p>The terms of this Policy and your access to and use of the Site is governed by the laws of the Province of British Columbia and the laws of Canada applicable therein. You hereby irrevocably and unconditionally attorn to the exclusive jurisdiction of the courts of the Province of British Columbia and all courts competent to hear appeals therefrom. Our failure not to strictly enforce any of the terms of this Policy shall not be construed as a waiver of any provision or right. If any provision of this Policy is held to be invalid or unenforceable, the remaining provisions of this Policy will be enforced in accordance with their terms.</p>
{{/static-view-container}}
