{{#> view-container}}
  <section>
    {{> view-list name="facetoface_online_or_both"}}
  </section>

  <section>
    {{> view-list name="method_types"}}
    {{> view-list name="purposes"}}
    {{> view-list name="public_spectrum"}}
  </section>

  <section>
    {{> view-media-list name="files"}}
    {{> view-media-list name="links"}}
    {{> view-media-list name="videos"}}
    {{> view-media-list name="audio"}}
  </section>

  <section>
    {{> view-list name="open_limited" }}
    {{> view-list name="recruitment_method" }}
    {{> view-list name="number_participants"}}
  </section>

  <section>
    {{> view-list name="participants_interactions" }}
    {{> view-list name="facilitators" }}
    {{> view-list name="decision_methods" }}
    {{> view-list name="if_voting" }}
  </section>

  <section>
    {{> view-list name="scope_of_influence" }}
    {{> view-list name="level_polarization" }}
    {{> view-list name="level_complexity" }}
  </section>
{{/view-container}}
