{{#> edit-form}}
  <fieldset>
    <h2 class="fieldset-header">{{t "overview_sectionlabel"}}</h2>
    <h2 class="fieldset-header quickonly">{{t "quick_submit_sectionlabel"}}</h2>

    {{> article-edit-text name="name" is_required=true quick-submit=true}}
    {{> article-edit-location}}
    {{> edit-multi-select name="scope" max=3}}
  </fieldset>

  <fieldset>
    <h2 class="fieldset-header">{{t "description_narrative_sectionlabel"}}</h2>

    {{> edit-textarea name="brief_description" quick-submit=true charLimit=280}}
    {{> edit-richtext
      name="body"
      value=(getvalue article "body")
      placeholderText=(placeholder static "body")
    }}
  </fieldset>

  <fieldset class="fullonly">
    <h2 class="fieldset-header">{{t "focus_areas_sectionlabel"}}</h2>

    {{> article-edit-select name="sector"}}
    {{> edit-multi-select name="general_issues" max=3}}
    {{> edit-multi-select name="specific_topics" max=3}}
  </fieldset>

  <fieldset>
    <h2 class="fieldset-header">{{t "media_sectionlabel"}}</h2>

    {{> edit-media name="files" quick-submit=true}}
    {{> edit-link-set name="links" quick-submit=true}}
    {{> edit-media name="photos" quick-submit=true}}
    {{> edit-link-set name="videos" quick-submit=true}}
    {{> edit-link-set name="audio" quick-submit=true}}
  </fieldset>

  <fieldset class="fullonly">
    <h2 class="fieldset-header">{{t "tools_techniques_sectionlabel"}}</h2>

    {{> edit-multi-select name="method_types" max=3}}
    {{> edit-multi-select name="tools_techniques_types" max=3}}
    {{> edit-multi-select name="specific_methods_tools_techniques" max=3}}
  </fieldset>
{{/ edit-form}}
