{{#> edit-form}}
{{#> tabs-with-cards req=req getTabs=(getLanguageSelectorTabs)}}

<fieldset>
  <h2 class="fieldset-header">{{t "overview_sectionlabel"}}</h2>

  {{> quick-submit-form-header }}

  {{> guidelines-info-text }}

  {{> article-edit-text name="title" is_required=true quick-submit=true}}
  {{> article-edit-location}}
  {{> edit-multi-select name="scope_of_influence" max=3}}
</fieldset>

<fieldset>
  <h2 class="fieldset-header">{{t "description_narrative_sectionlabel"}}</h2>

  {{> edit-textarea name="description" quick-submit=true charLimit=280}}
  {{> edit-richtext
  name="body"
  value=(getvalue article "body")
  placeholderText=(placeholder article "body")
  }}
</fieldset>

<fieldset class="fullonly">
  <h2 class="fieldset-header">{{t "focus_areas_sectionlabel"}}</h2>

  {{> article-edit-select name="sector"}}
  {{> edit-multi-select name="general_issues" max=3 ranked=true}}
  {{> edit-multi-select name="specific_topics" max=3 ranked=true}}
</fieldset>

<fieldset>
  <h2 class="fieldset-header">{{t "media_sectionlabel"}}</h2>

  {{> edit-media name="files" quick-submit=true}}
  {{> edit-link-set name="links" quick-submit=true}}
  {{> edit-media name="photos" type="image" quick-submit=true}}
  {{> edit-link-set name="videos" quick-submit=true}}
  {{> edit-link-set name="audio" quick-submit=true}}
</fieldset>

<fieldset class="fullonly">
  <h2 class="fieldset-header">{{t "tools_techniques_sectionlabel"}}</h2>

  {{> edit-multi-select name="type_method" max=3 ranked=true}}
  {{> edit-multi-select name="type_tool" max=3 ranked=true}}
  {{> edit-autocomplete name="specific_methods_tools_techniques" multi=true}}
</fieldset>
{{/tabs-with-cards}}

{{/ edit-form}}