{{#> static-view-container }}
  <h1>{{t "Research"}}</h1>
  <h2>{{t "research.tagline"}}</h2>

  {{#> accordion title=(t "Methodology")}}
    <p>
      {{{__
        "research.methodology.p1"
        "<a href='https://creativecommons.org/licenses/by-nc-sa/3.0/'>"
        "</a>"
      }}}
    </p>

    <p>
      {{{__
        "research.methodology.p2"
        "<a href='http://archonfung.net/docs/articles/2011/FungParticipedia201112.pdf'>"
        "</a>"
        "<a href='https://docs.google.com/document/d/19Pc9qL3H1SxSByuQY1HxLOgbbMQpnnxlicdMGuC78Wg/edit?usp=sharing'>"
        "</a>"
      }}}
    </p>
  {{/accordion}}

  {{#> accordion title=(t "Data Repository")}}
    <p><strong>{{t "research.data_repository.dataverse"}}</strong></p>

    <p>
      {{{__
        "research.data_repository.p1"
        "<a href='https://dataverse.harvard.edu/dataverse/Participedia' target='_blank'>"
        "</a>"
      }}}
    </p>

    <p>{{t "research.data_repository.p2"}}</p>

    <ul>
      <li>{{t "research.data_repository.feature.1"}}</li>
      <li>{{t "research.data_repository.feature.2"}}</li>
      <li>{{t "research.data_repository.feature.3"}}</li>
      <li>{{t "research.data_repository.feature.4"}}</li>
      <li>{{t "research.data_repository.feature.5"}}</li>
      <li>{{t "research.data_repository.feature.6"}}</li>
      <li>{{t "research.data_repository.feature.7"}}</li>
      <li>{{t "research.data_repository.feature.8"}}</li>
    </ul>

    <p>
      {{{__
        "research.data_repository.questions"
        "<a href='mailto:data@participedia.net'>"
        "</a>"
      }}}
    </p>

    <p>
      <a href="https://dataverse.harvard.edu/dataverse/Participedia" class="button button-red button-block">{{t "Browse our Data Repository"}}</a>
    </p>
  {{/accordion}}

  {{#> accordion title=(t "Surveys")}}
    <p>{{t "research.surveys.p1"}}</p>

    <p>{{t "research.surveys.p2"}}</p>

    <p>{{t "research.surveys.p3"}}</p>

    <p>{{t "research.surveys.p4"}}</p>
  {{/accordion}}
{{/static-view-container}}
