<div class="static-view-container">
  <h1>{{t static "research.header"}}</h1>
  <h2>{{t static "research.tagline"}}</h2>

  {{#> accordion title=(t static "research.methodology.header")}}
    <p>{{t static "research.methodology.p1"}}</p>

    <p>{{t static "research.methodology.p2"}}</p>
  {{/accordion}}

  {{#> accordion title=(t static "research.data_repository.header")}}
    <p>{{t static "research.data_repository.p1"}}</p>

    <p>
      <a href="http://participedia.net/en/content/brazilian-participatory-budgeting-census">
        {{t static "research.brazilian_data_set_link"}}
      </a>
    </p>
  {{/accordion}}

  {{#> accordion title=(t static "research.surveys.header")}}
    <p>{{t static "research.surveys.p1"}}</p>

    <p>{{t static "research.surveys.p2"}}</p>

    <p>{{t static "research.surveys.p3"}}</p>

    <p>{{t static "research.surveys.p4"}}</p>
  {{/accordion}}
</div>
