<div class="static-view-container">
  <h1>{{t static "Research"}}</h1>
  <h2>{{t static "research.tagline"}}</h2>

  {{#> accordion title=(t static "Methodology")}}
    <p>{{t static "research.methodology.p1"}}</p>

    <p>{{{t static "research.methodology.p2"}}}</p>
  {{/accordion}}

  {{#> accordion title=(t static "Data Repository")}}
    <p><strong>{{t static "research.data_repository.dataverse"}}</strong></p>

    <p>{{{t static "research.data_repository.p1"}}}</p>

    <p>{{t static "research.data_repository.p2"}}</p>

    <ul>
      <li>{{t static "research.data_repository.feature.1"}}</li>
      <li>{{t static "research.data_repository.feature.2"}}</li>
      <li>{{t static "research.data_repository.feature.3"}}</li>
      <li>{{t static "research.data_repository.feature.4"}}</li>
      <li>{{t static "research.data_repository.feature.5"}}</li>
      <li>{{t static "research.data_repository.feature.6"}}</li>
      <li>{{t static "research.data_repository.feature.7"}}</li>
      <li>{{t static "research.data_repository.feature.8"}}</li>
    </ul>

    <p>{{{t static "research.data_repository.questions"}}}</p>
  {{/accordion}}

  {{#> accordion title=(t static "Surveys")}}
    <p>{{t static "research.surveys.p1"}}</p>

    <p>{{t static "research.surveys.p2"}}</p>

    <p>{{t static "research.surveys.p3"}}</p>

    <p>{{t static "research.surveys.p4"}}</p>
  {{/accordion}}
</div>
