{{> review-entry-modal }}

<div class="entries-container">
    <div class="entries-main-content">
          <h2>{{t "review_entries"}}</h2>
          {{#if results}}
            <div>
              <table id="table_entries" class="display">
                <thead>
                    <tr>
                        <th class="min-width-100">Updated on</th>
                        <th class="hidden">Updated on 2</th>
                        <th class="word-wrap">Title</th>
                        <th>Type</th>
                        <th class="min-width-200">Author</th>
                        <th class="min-width-250">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                      {{> review-entries-row req=../req}}
                    {{/each}} 
                </tbody>
            </table>
            </div>
            {{else}}
            <div class="no-result-container u-margin-bottom--large">
              <span>{{t "no_entry"}}</span>
            </div>
          {{/if}}
    </div>
  </div>
  
  <script>
    $(document).ready( function () {
        $('#table_entries').DataTable({
          "pageLength": 100,
          "pagingType": "full_numbers",
          "lengthChange": false,
          "searching": false,
          order: [[1, 'desc']],
        });
    } );
  </script>