{{#> static-view-container }}
<h1>{{t "Participedia School"}}</h1>
<p>{{t "participedia.school.intro"}}</p>
<p>
  {{{__
    "participedia.school.events.cta"
    "<a href='https://participedia.org/participedia-school' target='_blank' rel='noopener'>"
    "</a>"
  }}}
</p>

<a href="https://Participedia.org" target="_blank" rel="noopener" class="button button-red">
  {{t "Visit Participedia.org"}}
</a>

<div class="image-grid u-margin-bottom--small u-margin-top--small">
  <a href="https://participedia.org/" target="_blank" rel="noopener">
    <img src="/images/school/{{pSchoolRioImg}}" class="static-view-section-illustration-full"
      alt="Participedia School 2025 Rio" />
  </a>

  <a href="https://participedia.org/" target="_blank" rel="noopener">
    <img src="/images/school/PSchool-2025-China.png" class="static-view-section-illustration-full"
      alt="Participedia School 2025 Rio - China" />
  </a>
</div>

<hr class="space-30">

<h1>
  {{t "participedia.school.past"}}
</h1>
<p>{{t "participedia.school.past.p1"}}</p>
<div>
  __<br>
  <h2>
    {{t "participedia.school.past.transnational"}}
  </h2>
</div>
<p class="font-18">2024 | {{t "participedia.school.past.places"}}</p>

<div class="u-margin-bottom--small">
  <img src="/images/school/transnationalPpediaSchool_updatedSep9.png" class="static-view-section-illustration-full" alt="Participedia School Transnational" />
</div>

<p>
  {{t "participedia.school.past.p1.first"}}
  <a href="https://www.mcmaster.ca/" target="_blank" rel="noopener">{{t "mcmaster.university"}}</a>, <a
    href="https://www.mun.ca/" target="_blank" rel="noopener">{{t "memorial.university"}}</a>, <a
    href="https://coady.stfx.ca/" target="_blank" rel="noopener">{{t "the.coady.institute"}}</a>, <a
    href="https://www.mun.ca/" target="_blank" rel="noopener">{{t "memorial.university"}}</a>, <a
    href="https://pugresearch.org.za/" target="_blank" rel="noopener">{{t "politics.urban"}}</a>, <a
    href="https://ufmg.br/" target="_blank" rel="noopener">{{t "universidade.federal.minas"}}</a>, <a
    href="https://missionspubliques.org/" target="_blank" rel="noopener">{{t "missions.publiques"}}</a>, <a
    href="https://www.democracy-international.org/" target="_blank" rel="noopener">{{t "democracy.international"}}</a>,
  {{t "participedia.school.past.p1.end"}}
</p>

<p>
  <a href="{{latestPdfUrl}}"  class="button button-dark-grey"
    target="_blank" rel="noopener">
    {{t "participedia.school.download.summary.report"}}
  </a>
</p>

<div>
  __<br>
  <h2>
    {{t "participedia.school.past.radical.democracy"}}
  </h2>
</div>


<p class="font-18">2023 | {{t "participedia.school.past.vancouver.canada"}} </p>
<img src="/images/homepage/RadDem_Eventbrite1.jpg" class="static-view-section-illustration-full" />
<p>{{t "hosted.with.partner"}} <a href="https://www.democracy-international.org/" target="_blank" rel="noopener">{{t
    "simon.fraser"}}</a> {{t "hosted.with.partner.end"}} </p>
<a href="{{pdfUrl2023}}"
  class="button button-dark-grey" target="_blank" rel="noopener">
  {{t "participedia.school.download.summary.report"}}
</a>

<h2 class="u-margin-top--small">
  {{t "participedia.school.summary.video"}}:
</h2>
<div class="video-embed-container">
  <iframe src="https://www.youtube.com/embed/WmVok0gvEgU" frameborder="0" webkitAllowFullScreen mozallowfullscreen
    allowFullScreen></iframe>
</div>

{{/static-view-container}}

{{> quick-btn }}
