{{#> static-view-container }}
<h1>{{t "Participedia School"}}</h1>
<h2>
  {{t "participedia.school.h2.1"}}
</h2>
<div class="u-margin-bottom--small">
  <img src="/images/homepage/{{headImg}}" class="static-view-section-illustration-full" />
</div>

<h2>{{t "participedia.school.h2.2"}}</h2>

<p>{{t "participedia.school.p1"}}</p>

<p>{{t "participedia.school.p2"}}</p>

<p>{{t "participedia.school.p3"}}</p>

<p>{{t "participedia.school.p4"}}</p>

<p>{{t "participedia.school.p5"}}</p>

<h3>{{t "participedia.school.h3.1"}}:</h3>
<ol>
  <li>
    <p>
      <strong>{{t "participedia.school.ol.li.1.p1"}}: </strong>
      {{t "participedia.school.ol.li.1.p1.p"}}
    </p>
  </li>
  <li>
    <p>
      <strong>{{t "participedia.school.ol.li.2.p2"}}: </strong>
      {{t "participedia.school.ol.li.2.p2.p"}}
    </p>
  </li>
  <li>
    <p>
      <strong>{{t "participedia.school.ol.li.3.p3"}}: </strong>
      {{t "participedia.school.ol.li.3.p3.p"}}
    </p>
  </li>
  <li>
    <p>
      <strong>{{t "participedia.school.ol.li.4.p4"}}: </strong>
      {{t "participedia.school.ol.li.4.p4.p"}}
    </p>
  </li>
</ol>
<p>
  <strong>{{t "Where"}}: </strong>
  {{t "participedia.school.where.answer"}}
</p>
<p>
  <strong>{{t "When"}}:</strong> {{t "participedia.school.when.date"}} 10-15, 2024
</p>
<p>
  <strong>{{t "Who"}}: </strong>
  {{t "participedia.school.who.answer"}}
</p>
<h3 class="u-margin-top--small">
  {{t "Fee Schedule"}}:
</h3>
<p>{{t "participedia.school.fee.schedule.memorial"}}</p>
<ui>
  <li class="u-margin-left--small">{{t "participedia.school.ui.1.li.1"}}</li>
  <li class="u-margin-left--small">{{t "participedia.school.ui.1.li.2"}}</li>
  <li class="u-margin-left--small">{{t "participedia.school.ui.1.li.3"}}</li>
</ui>
<p>{{t "participedia.school.university"}}</p>
<ui>
  <li class="u-margin-left--small">{{t "participedia.school.ui.2.li.1"}}</li>
  <li class="u-margin-left--small">{{t "participedia.school.ui.2.li.2"}}</li>
  <li class="u-margin-left--small">{{t "participedia.school.ui.2.li.3"}}</li>
</ui>
<p>{{t "participedia.school.federal.university"}}</p>
<ui>
  <li class="u-margin-left--small">{{t "participedia.school.ui.3.li.1"}}</li>
  <li class="u-margin-left--small">{{t "participedia.school.ui.3.li.2"}}</li>
  <li class="u-margin-left--small">{{t "participedia.school.ui.3.li.3"}}</li>
</ui>
<h3 class="u-margin-top--small">
  {{t "To Register"}}: 
</h3>
<a href="https://www.surveymonkey.com/r/participediaschool2024" class="button button-dark-grey" target="_blank" rel="noopener">
  {{t "Register Here"}}
</a>
<p>{{t "participedia.school.once.registered"}}</p>
<p>{{t "participedia.school.for.any.questions.contact"}} <a href="mailto:info@participedia.net">info@participedia.net</a></p>

<div class="divider u-margin-top--small u-margin-bottom--small"></div>

<h2 class="u-margin-top--small">
  {{t "participedia.school.h2.3"}}
</h2>
<img src="/images/homepage/RadDem_Eventbrite1.jpg" class="static-view-section-illustration-full" />

<p>{{t "participedia.school.summer.school"}} ({{t "June"}} 4-10, 2023) – {{t "participedia.school.organized"}}</p>
<a href="https://drive.google.com/file/d/1Y5XvPuYt_m3NEZkRstri8K2FZT_vnWYM/view?usp=sharing" class="button button-dark-grey" target="_blank" rel="noopener">
  {{t "participedia.school.download.summary.report"}}
</a>

<h3 class="u-margin-top--small">
  {{t "participedia.school.summary.video"}}:
</h3>
<div class="video-embed-container">
  <iframe src="https://www.youtube.com/embed/WmVok0gvEgU" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

{{/static-view-container}}
