{{#> static-view-container }}
<h1>{{t "Participedia School"}}</h1>
<p>{{t "participedia.school.intro"}}</p>
<p>{{t "participedia.school.join"}}:</p>

<h2>
  {{t "participedia.school.h2.democratic"}}
</h2>

<p>{{t "participedia.school.july"}} 27-31, 2025 | {{t "participedia.school.places"}}</p>

<!-- Images -->
<div class="participedia-images">
  <div class="image-1">
    <img src="/images/school/PSchool-2025-Rio-English.png" class="static-view-section-illustration-full"
    alt="Participedia School 2025 Rio - English" />
  </div>
  <div class="image-2">
    <img src="/images/school/PSchool-2025-Rio-Portuguese.png" class="static-view-section-illustration-full"
      alt="Participedia School 2025 Rio - Portuguese" />
  </div>
</div>

<p>{{t "participedia.school.p1.1"}}</p>
<p>
  {{t "participedia.school.p1.2.1"}}, <strong>{{t "participedia.school.p1.2.2"}}</strong> {{t
  "participedia.school.p1.2.3"}}

</p>

<div>
  {{t "participedia.school.p2.1"}}:
  <ol>
    <li>{{t "participedia.school.p2.ul.li.1"}}</li>
    <li>{{t "participedia.school.p2.ul.li.2"}}</li>
    <li>{{t "participedia.school.p2.ul.li.3"}}</li>
    <li>{{t "participedia.school.p2.ul.li.4"}}</li>
  </ol>

</div>

<div>
  <p><strong>{{t "participedia.school.week.overview"}}</strong><br>{{t "participedia.school.p3.1"}}</p>
  <p>{{t "participedia.school.when"}}: {{t "participedia.school.july"}} 27-31, 2025</p>
  <p>{{t "participedia.school.where"}}: {{t "participedia.school.places"}}</p>
  <p>{{t "participedia.school.who"}}: {{t "participedia.school.p4.p"}}</p>
  <p>{{t "participedia.school.fee.schedule"}}: {{t "participedia.school.p5.fee.schedule.p"}}</p>
</div>

<p>
  <strong>{{t "participedia.school.registration"}}</strong><br>
  {{t "participedia.school.registration.1"}} <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSe71EcdXZJmHgU7qcVI5sG2XrNoLElOpI2J8qWKMiq7wMWsjA/viewform?usp=sf_link"
    target="_blank" rel="noopener">{{t "participedia.school.registration.here"}}</a> {{t
  "participedia.school.registration.2"}} <a href="mailto:info@participedia.net">info@participedia.net</a>.
</p>
<br>

<h2>
  {{t "participedia.school.h2.digital"}}
</h2>

<p class="font-18">{{t "participedia.school.august"}} 11-15, 2025 | {{t "participedia.school.places.2"}}</p>
<div class="u-margin-bottom--small">
  <img src="/images/school/PSchool-2025-China.png" class="static-view-section-illustration-full" alt="Participedia School 2025 Rio - China" />
</div>


<p>{{t "participedia.school.p6.1"}} <strong>{{t "participedia.school.p6.2"}}</strong> {{t "participedia.school.p6.3"}}
</p>
<div>
  {{t "participedia.school.p7.summer"}}:
  <ol>
    <li><strong>{{t "participedia.school.p7.ul.li.1.strong"}}</strong>: {{t "participedia.school.p7.ul.li.1.p"}}</li>
    <li><strong>{{t "participedia.school.p7.ul.li.2.strong"}}</strong>: {{t "participedia.school.p7.ul.li.2.p"}}</li>
    <li><strong>{{t "participedia.school.p7.ul.li.3.strong"}}</strong>: {{t "participedia.school.p7.ul.li.3.p"}}</li>
  </ol>

</div>

<p><strong>{{t "participedia.school.week.overview"}}</strong><br>{{t "participedia.school.what"}}: {{t
  "participedia.school.p8.content"}}</p>

<p>{{t "participedia.school.when"}}: {{t "participedia.school.august"}} 11-15, 2025</p>

<div>
  {{t "participedia.school.where"}}:
  <ul>
    <li>{{t "participedia.school.august"}} 11-12, 2025: {{t "participedia.school.where.august.11.25"}}</li>
    <li>{{t "participedia.school.august"}} 3, 2025: {{t "participedia.school.travel"}}</li>
    <li>{{t "participedia.school.august"}} 14-15, 2025: {{t "participedia.school.where.international.university"}}</li>
  </ul>

</div>

<p>{{t "participedia.school.who"}}: {{t "participedia.school.p9.who.p"}}</p>
<p>{{t "participedia.school.fee.schedule"}}: <br> $300 {{t "participedia.school.usd"}} {{t
  "participedia.school.usd.paid"}} {{t "participedia.school.march"}} 2025</p>

<p><strong>{{t "participedia.school.registration"}}</strong> <br> {{t "participedia.school.registration.2.1"}} <a
    href="https://www.eventbrite.ca/e/participedia-school-2025-on-digital-democracy-tickets-1108581770919"
    target="_blank" rel="noopener">{{t "participedia.school.registration.here"}}</a> {{t
  "participedia.school.registration.2.2"}} <a href="mailto:info@participedia.net">info@participedia.net</a>.</p>

<hr class="space-30">

<h2>
  {{t "participedia.school.past"}}
</h2>
<p>{{t "participedia.school.past.p1"}}</p>
<div>
  __<br>
  <h2>
    {{t "participedia.school.past.transnational"}}
  </h2>
</div>
<p class="font-18">2024 | {{t "participedia.school.past.places"}}</p>

<div class="u-margin-bottom--small">
  <img src="/images/school/transnationalPpediaSchool_updatedSep9.png" class="static-view-section-illustration-full" alt="Participedia School Transnational" />
</div>

<p>
  {{t "participedia.school.past.p1.first"}}
  <a href="https://www.mcmaster.ca/" target="_blank" rel="noopener">{{t "mcmaster.university"}}</a>, <a
    href="https://www.mun.ca/" target="_blank" rel="noopener">{{t "memorial.university"}}</a>, <a
    href="https://coady.stfx.ca/" target="_blank" rel="noopener">{{t "the.coady.institute"}}</a>, <a
    href="https://www.mun.ca/" target="_blank" rel="noopener">{{t "memorial.university"}}</a>, <a
    href="https://pugresearch.org.za/" target="_blank" rel="noopener">{{t "politics.urban"}}</a>, <a
    href="https://ufmg.br/" target="_blank" rel="noopener">{{t "universidade.federal.minas"}}</a>, <a
    href="https://missionspubliques.org/" target="_blank" rel="noopener">{{t "missions.publiques"}}</a>, <a
    href="https://www.democracy-international.org/" target="_blank" rel="noopener">{{t "democracy.international"}}</a>,
  {{t "participedia.school.past.p1.end"}}
</p>

<p>
  <a href="https://drive.google.com/file/d/1Ny2dkHzMfwWcQm_3pIsDd2Fc25TDN4Fz/view" class="button button-dark-grey"
    target="_blank" rel="noopener">
    {{t "participedia.school.download.summary.report"}}
  </a>
</p>

<div>
  __<br>
  <h2>
    {{t "participedia.school.past.radical.democracy"}}
  </h2>
</div>


<p class="font-18">2023 | {{t "participedia.school.past.vancouver.canada"}} </p>
<img src="/images/homepage/RadDem_Eventbrite1.jpg" class="static-view-section-illustration-full" />
<p>{{t "hosted.with.partner"}} <a href="https://www.democracy-international.org/" target="_blank" rel="noopener">{{t
    "simon.fraser"}}</a> {{t "hosted.with.partner.end"}} </p>
<a href="https://drive.google.com/file/d/1Y5XvPuYt_m3NEZkRstri8K2FZT_vnWYM/view?usp=sharing"
  class="button button-dark-grey" target="_blank" rel="noopener">
  {{t "participedia.school.download.summary.report"}}
</a>
{{/static-view-container}}