<div class="search-body">
  {{#> tabs-with-cards req=req getTabs=(getHomeTabs)}}
    <div role="tabpanel" class="tab-all">
      {{#if (isSelectedHomeTab req "all")}}
          {{> search-map }}
          {{> cards-container
            totalResults=total
            totalPages=pages
            cards=results
          }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-cases">
      {{#if (isSelectedHomeTab req "case")}}
          {{> search-map }}
          {{> cards-container
            totalResults=total
            totalPages=pages
            cards=results
            type="case"
          }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-methods">
      {{#if (isSelectedHomeTab req "method")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          type="method"
        }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-organizations">
      {{#if (isSelectedHomeTab req "organizations")}}
          {{> search-map }}
          {{> cards-container
            totalResults=total
            totalPages=pages
            cards=results
            type="organizations"
          }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-collections">
      {{#if (isSelectedHomeTab req "collections")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          type="collection"
        }}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-collections">
      {{#if (isSelectedHomeTab req "maps")}}
        {{> search-map
        }}
      {{/if}}
    </div>
  {{/tabs-with-cards}}

 <a href="/content-chooser" class="button button-red floating-action-button floating-quick-submit-button" title='{{t "Quick Submit"}}'>
   <span class="sr-only">{{t "Quick Submit"}}</span>
   {{> icon-add }}
 </a>
</div>
