<div class="full-width-container">
  <div class="left-col">&nbsp;</div>
  <div class="middle-col">
    <h2 class="u-margin-top--med">{{t "search-error-not-available"}}</h2>
    <p>
      {{{__ 
        "search-error-working-on-solution"
        "<a href='/search?selectedCategory=case'>"
        "</a>"
        "<a href='/search?selectedCategory=method'>"
        "</a>"
        "<a href='/search?selectedCategory=organizations'>"
        "</a>"
      }}}
    </p>
  
    <p>{{t "search-error-switch-to-en"}}</p>
  </div>
  <div class="right-col">&nbsp;</div>
</div>
