<div class="search-body">
  {{#> tabs-with-cards req=req getTabs=(getHomeTabs)}}
    <div role="tabpanel" class="tab-all">
      {{#if (isSelectedHomeTab req "all")}}
          {{> cards-container
            totalResults=total
            totalPages=pages
            cards=results
          }}
          {{> search-map }}
          {{> search-chart chartTitle="search_chart_title_case"}}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-cases">
      {{#if (isSelectedHomeTab req "case")}}
          {{> cards-container
            totalResults=total
            totalPages=pages
            cards=results
            type="case"
          }}
          {{> search-map }}
          {{> search-chart chartTitle="search_chart_title_case"}}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-methods">
      {{#if (isSelectedHomeTab req "method")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          type="method"
        }}
        {{> search-chart chartTitle="search_chart_title_method" issueTitleKey="method_edit_purpose_method_label"}}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-organizations">
      {{#if (isSelectedHomeTab req "organizations")}}
          {{> cards-container
            totalResults=total
            totalPages=pages
            cards=results
            type="organizations"
          }}
          {{> search-map }}
          {{> search-chart chartTitle="search_chart_title_organization"}}
      {{/if}}
    </div>
    <div role="tabpanel" class="tab-collections">
      {{#if (isSelectedHomeTab req "collections")}}
        {{> cards-container
          totalResults=total
          totalPages=pages
          cards=results
          type="collection"
        }}
      {{/if}}
    </div>
  {{/tabs-with-cards}}

  
</div>

{{> quick-btn }}
