{{#> static-view-container }}
  <h1>{{t "teaching.tlrc.header"}}</h1>

  <section>
    <h2>{{t "teaching.What are Teaching & Learning Resources?"}}</h2>

    <p>{{t "teaching.Participedia provides open access to"}}</p>

    <a
      href="https://drive.google.com/open?id=1jF0zlBWQXjfhNML7xdKpl4eaYOmt2UiQ"
      target="_blank"
      rel="noopener"
      class="button button-dark-grey button-block"
    >
      {{t "teaching.Browse our Teaching & Learning Resource Centre"}}
    </a>

    <p>{{t "teaching.These resources can be used to:"}}</p>

    <ol>
      <li>{{t "teaching.resource.p1"}}</li>
      <li>{{t "teaching.resource.p2"}}</li>
      <li>{{t "teaching.resource.p3"}}</li>
      <li>{{t "teaching.resource.p4"}}</li>
      <li>{{t "teaching.resource.p5"}}</li>
    </ol>
  </section>

  <section>
    <h2>{{t "teaching.Discussions & Questions About Our Resources"}}</h2>
    <p>{{t "teaching.Discussion.p1"}}</p>

    <a
      href="https://www.facebook.com/groups/participedia/chats/"
      target="_blank"
      rel="noopener"
      class="button button-dark-grey button-block"
    >
      {{t "teaching.Join Group Chat About Teaching Resources"}}
    </a>
  </section>

  <section>
    <h2>{{t "teaching.Share Your Resources with the Community"}}</h2>

    <p>
      {{t "teching.Here are a few types of Teaching & Learning Resources"}}
    </p>

    <ul>
      <li>{{t "teaching.Assignments"}}</li>
      <li>{{t "teaching.Bibliographies"}}</li>
      <li>{{t "teaching.Grading Rubrics"}}</li>
      <li>{{t "teaching.Lesson Plans"}}</li>
      <li>{{t "teaching.Quizzes/Tests"}}</li>
      <li>{{t "teaching.Syllabi"}}</li>
    </ul>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSfw_F7g-99hUuBQ6k4Iak6kyVgyRVQJZgh_7aee77yIYVzbpQ/viewform?usp=sf_link"
      target="_blank"
      rel="noopener"
      class="button button-red button-block"
    >
      {{> icon-add }} {{t "Submit a Teaching Resource"}}
    </a>

    <p>
      {{{__
        "teaching.Please use this form"
        "<a
          href='https://docs.google.com/forms/d/e/1FAIpQLSfw_F7g-99hUuBQ6k4Iak6kyVgyRVQJZgh_7aee77yIYVzbpQ/viewform?usp=sf_link'
          target='_blank'
          rel='noopener'
        >"
        "</a>"
        "<a href='mailto:info@participedia.net'>"
        "</a>"
      }}}
    </p>
  </section>

  <section>
    <h2>{{t "teaching.in_the_classroom"}}</h2>

    <p>
      {{t "teaching.in_the_classroom.p1"}}

    </p>

    <p>
      {{t "teaching.in_the_classroom.p2"}}
    </p>

    <p>
      {{t "teaching.in_the_classroom.p3"}}
    </p>

    <ul>
      <li>
        <a
          href="https://docs.google.com/document/d/1qnDZmIukizEIU6SH9KWdkh1DnI-o17KoRMsi9Vz-QDo/edit"
          target="_blank"
          rel="noopener"
        >
          {{t "teaching.Sample Assignment"}}
        </a>
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1lzhV6aoslzqaj9XhOtVUOHbSJYOPK0tiXg0ALzIkN-w/edit"
          target="_blank"
          rel="noopener"
        >
          {{t "teaching.How to Write a Participedia Entry"}}
        </a>
      </li>
    </ul>
  </section>
{{/static-view-container}}
