<div class="static-view-container">
  <h1>{{t "Teaching"}}</h1>

  <section>
    <h2>{{t "teaching.in_the_classroom"}}</h2>

    <p>{{t "teaching.in_the_classroom.p1"}}</p>

    <p>{{t "teaching.in_the_classroom.p2"}}</p>

    <p>{{t "teaching.in_the_classroom.p3"}}</p>
    <p>
      <a
        href="https://docs.google.com/document/d/1qnDZmIukizEIU6SH9KWdkh1DnI-o17KoRMsi9Vz-QDo/edit"
        target="_blank"
        rel="noopener"
      >
        {{t "teaching.Sample Assignment"}}
      </a>
      <br />
      <a
        href="https://docs.google.com/document/d/1lzhV6aoslzqaj9XhOtVUOHbSJYOPK0tiXg0ALzIkN-w/edit"
        target="_blank"
        rel="noopener"
      >
        {{t "teaching.How to Write a Participedia Entry"}}
      </a>
    </p>
  </section>

  <section>
    <h2>{{t "teaching.tlrc.header"}}</h2>

    <p>{{t "teaching.tlrc.p1"}}</p>

    <p>{{t "teaching.tlrc.p2"}}</p>

    <p>{{t "teaching.tlrc.resources"}}</p>

    <ol>
      <li>{{t "teaching.tlrc.resources.1"}}</li>
      <li>{{t "teaching.tlrc.resources.2"}}</li>
      <li>{{t "teaching.tlrc.resources.3"}}</li>
      <li>{{t "teaching.tlrc.resources.4"}}</li>
      <li>{{t "teaching.tlrc.resources.5"}}</li>
    </ol>
  </section>
</div>
