<div class="static-view-container">
  <h1>{{t "Teaching"}}</h1>

  <section>
    <h2>{{t "teaching.in_the_classroom"}}</h2>

    <p>{{t "teaching.in_the_classroom.p1"}}</p>

    <p>{{t "teaching.in_the_classroom.p2"}}</p>

    <p>{{t "teaching.in_the_classroom.p3"}}</p>

    {{#> accordion title=(t "teaching.in_course")}}
      <p>
        <a href="http://participedia.net/content/participedia-sample-assignment-1-write-entry-case-method-or-organization">
          {{t "teaching.Sample Assignment"}}
        </a>
      </p>

      <p>
        <a href="http://participedia.net/content/sample-grading-rubric">
          {{t "teaching.Grading Rubric"}}
        </a>
      </p>
    {{/accordion}}
  </section>

  <section>
    <h2>{{t "teaching.tlrc.header"}}</h2>

    <p>{{t "teaching.tlrc.p1"}}</p>

    <p>{{t "teaching.tlrc.p2"}}</p>

    <p>{{t "teaching.tlrc.resources"}}</p>

    <ol>
      <li>{{t "teaching.tlrc.resources.1"}}</li>
      <li>{{t "teaching.tlrc.resources.2"}}</li>
      <li>{{t "teaching.tlrc.resources.3"}}</li>
      <li>{{t "teaching.tlrc.resources.4"}}</li>
    </ol>
  </section>
</div>
