<style type="text/css">
  .user-view-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }

  .user-image-container {
    width: 340px;
  }

  .user-image-container img {
    border-radius: 100px;
    display: block;
    margin: 0 auto;
  }

  .user-meta-container {
    width: 50%;
  }
</style>

<div class="user-view-container">
  <div class="user-image-container">
    <img src="{{data.picture_url}}" alt="profile picture" width="160" height="160" />
  </div>
  <div class="user-meta-container">
    <h2>{{data.name}}</h2>
    <p><strong>Member Since</strong> {{getYearFromDate data.join_date}}</p>
    {{#if data.bio}}<p>{{data.bio}}</p>{{/if}}
  </div>
</div>

<!--
{
  "OK": true,
  "data": {
    "id": 417689,
    "hidden": null,
    "name": "alanna.scott@gmail.com",
    "email": "alanna.scott@gmail.com",
    "language": "en",
    "language_1": "en",
    "accepted_date": null,
    "last_access_date": null,
    "login": null,
    "auth0_user_id": null,
    "join_date": "2018-11-20T21:51:09.734",
    "picture_url": "https://s.gravatar.com/avatar/d87986e91d456dfd25bdd9545d7cb51f?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fal.png",
    "bio": "",
    "isadmin": false,
    "groups": [],
    "type": "user",
    "cases": [],
    "methods": [],
    "organizations": [],
    "bookmarks": []
  }
}
 -->
