<div class="user-container user-view">
  <div class="user-profile-image">
    <div class="user-profile-image-initial">{{getInitials profile.name}}</div>
    {{#if (getGravatarUrl profile.email)}}
      <img src="{{getGravatarUrl profile.email}}?s=160&d=blank" alt="{{t "profile_picture"}}" width="160" height="160" />
    {{/if}}
  </div>
  <div class="user-main-content">
    {{!-- if user is logged in, show edit profile button --}}
    {{#if (isProfileOwner req.user profile)}}
      <div class="user-view-edit-profile-button">
        <a href="/user/{{profile.id}}/edit" class="button button-red">{{t "edit_profile"}}</a>
      </div>
    {{/if}}

    <h2 class="user-view-name">{{profile.name}}</h2>
    {{#if profile.join_date}}
      <span class="small">
        <strong>{{t "member_since"}}</strong> {{getYearFromDate profile.join_date}}
      </span>
      </br>
    {{/if}}
    {{#if profile.bio}}<p class="user-view-bio">{{{profile.bio}}}</p>{{/if}}
  </div>
</div>
<div class="user-view-body">
  {{#> tabs-with-cards req=req getTabs=(getUserTabs)}}
    <div role="tabpanel" class="tab-contributions">
      {{#if (isSelectedUserTab req "contributions")}}
        {{> cards-container
          cards=(getContributionsForProfile profile)
        }}
      {{/if}}
    </div>

    <div role="tabpanel" class="tab-bookmarks">
      {{#if (isSelectedUserTab req "bookmarks")}}
        {{> cards-container
          cards=profile.bookmarks
        }}
      {{/if}}
    </div>
  {{/tabs-with-cards}}
</div>
