<div class="user-container">
  <div class="user-profile-image">
    <img src="{{user.picture_url}}" alt="profile picture" width="160" height="160" />
  </div>
  <div class="user-main-content">
    <form
      action="/user"
      method="post"
      enctype="multipart/form-data"
      data-submit-type="full"
      class="js-edit-form"
    >
      <fieldset>
        <h2>Public Profile</h2>
        {{> edit-text name="name" value=data.name}}
        {{> edit-text name="location" value=data.location}}
        {{> edit-richtext name="bio" value=data.bio}}
      </fieldset>

      <fieldset>
        <h2>Private Settings</h2>

        {{> edit-text name="email" value=data.email}}

        {{#> edit-form-group name="password"}}
          <input
            type="password"
            placeholder="current_password_placeholder"
            name="current_password"
          />
          <input
            type="password"
            placeholder="new_password_placeholder"
            name="new_password"
          />
          <input
            type="password"
            placeholder="confirm_new_password_placeholder"
            name="confirm_new_password"
          />
        {{/edit-form-group}}

    <!--
         todo: make password partial with 2 text fields current_pw, new_pw, confirm_pw
        edit-text name="password"
-->


        <!-- edit-select name="language" -->
      </fieldset>

      <button type="submit" class="button button-light-grey">
        {{> icon-submit }} Publish
      </button>
    </form>
  </div>
</div>
