@font-face {
  font-family: "Fakt";
  src: url("/fonts/FaktWeb-Medium.woff2") format("woff2"),
       url("/fonts/FaktWeb-Medium.woff") format("woff");
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: "Fakt";
  src: url("/fonts/FaktWeb-Normal.woff2") format("woff2"),
       url("/fonts/FaktWeb-Normal.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fakt";
  src: url("/fonts/FaktWeb-Blond.woff2") format("woff2"),
       url("/fonts/FaktWeb-Blond.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: "Fakt", "Avenir", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #000;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
}

.no-focus-outline *:focus,
.no-focus-outline *:focus {
  outline: none;
}

/* Typography */
body {
  font-size: 1rem; /* 16px */
  font-weight: 300;
  line-height: 1.5; /* 24px */
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 1.1; /* 44px */
  font-weight: 600;
}
h2 {
  font-size: 1.75rem; /* 28px */
  line-height: 2.3rem;
  font-weight: 600;
}
h3 {
  font-size: 1.2rem; /* 19.2px */
  line-height: 1.4; /* 28px */
  font-weight: 600;
}
h4 {
  font-size: 1rem; /* 16px */
  line-height: 1.5; /* 24px */
  font-weight: 600;
}
h5 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 600;
}
.large {
  font-size: 1.2rem; /* 19.2px */
  line-height: 1.875rem; /* 30px */
  font-weight: 300;
}
small,
.small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 300;
}
b,
strong {
  font-weight: 600;
}

a {
  color: #000;
}

.sr-only {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.full-width-container {
  margin: 0 30px;
  width: calc(100% - 60px);
  overflow: visible;
}

.main-content .full-width-container {
  overflow: hidden;
}

.full-width-container .left-col {
  width: calc(25% - 22.5px);
  float: left;
}
.full-width-container .middle-col {
  width: calc(45% - 15px);
  float: left;
  margin-left: 30px;
}
.full-width-container .right-col {
  width: calc(30% - 22.5px);
  float: right;
}

/*
  replace nav-list class with unstyled-list in header and footer,
  since lists can be used for things that are not nav
*/
.nav-list,
.unstyled-list {
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
}


/* Buttons */
button {
  cursor: pointer;
}

.button {
  background-color: #fff;
  color: #222;
  border-radius: 2px;
  text-decoration: none;
  min-width: 60px;
  justify-content: center;
  padding: 8px 15px;
  display: inline-flex;
  border-width: 0;
  line-height: 1.5rem;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
}

.button svg {
  padding-right: .5em;
}

.button-with-icon svg {
  margin-left: 5px;
  padding-right: 0;
  width: 20px;
}

.button-block {
  display: flex;
}

.button-condensed {
  padding-top: 4px;
  padding-bottom: 4px;
}

.button-white {
  background-color: #fff;
  color: #222;
}

.button-white .icon-fill {
  fill: #222;
}

.button-dark-grey {
  background-color: #4D4D4D;
  color: #fff;
}

.button-dark-grey .icon-fill {
  fill: #fff;
}

.button-red {
  background-color: #EC2024;
  color: #fff;
}

.button-red .icon-fill {
  fill: #fff;
}

.button-light-grey {
  background-color: #A6A6A6;
  color: #fff;
}

.button-light-grey .icon-fill {
  fill: #fff;
}

.icon-only {
  border: 0px;
  padding: 8px;
  display: flex;
  background-color: #fff;
  color: #808080;
}

.icon-only svg {
  pointer-events: none;
}

.icon-only .icon-fill {
  fill: #808080;
}

.striped-bg {
  background-image: url('/images/striped-bg.png');
  background-repeat: repeat-y;
  background-position: center center;
}

pre {
  white-space: pre-wrap;
}

[data-bookmarked=true] .is-bookmarked {
  display: block;
}
[data-bookmarked=true] .is-not-bookmarked {
  display: none;
}
[data-bookmarked=false] .is-bookmarked {
  display: none;
}
[data-bookmarked=false] .is-not-bookmarked {
  display: block;
}

.loading-modal-content {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  height: 200px;
}

.error-404-container {
  /* viewport height minus header/footer */
  height: calc(100VH - 316px);
}
.error-404-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.floating-action-button {
  margin: 0;
  border-radius: 2em;
  position: fixed;
  bottom: 60px;
  box-shadow: 0px 0px 20px 1px #B3B3B3;
  height: 60px;
  width: 60px;
  padding: 0;
}

.floating-action-button svg {
  padding: 0;
  width: 16px;
  height: 16px;
}

footer .language-select {
  margin-top: 30px;
  width: 200px;
}

/* Alerts / User prompts */
.alert {
  padding: 14px 16px 12px 16px;
  font-size: 14px;
  margin: 30px 0;
  border-left: 5px solid #ec2024;
  background-color: #f1f1f1;
}
.alert svg {
  padding-left: 4px;
  width: 14px;
  height: 14px;
  margin-bottom: -2px;
}

.divider {
  border-style: none;
  border: 1px solid #ccc;
}

/* Utilities */
.u-margin-bottom--xsmall {
  margin-bottom: 15px!important;
}
.u-margin-bottom--small {
  margin-bottom: 30px!important;
}
.u-margin-bottom--med {
  margin-bottom: 60px!important;
}
.u-margin-bottom--large {
  margin-bottom: 90px!important;
}
.u-margin-top--xsmall {
  margin-top: 15px!important;
}
.u-margin-top--small {
  margin-top: 30px!important;
}
.u-margin-top--med {
  margin-top: 60px!important;
}
.u-margin-top--large {
  margin-top: 90px!important;
}

.u-inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 1200px) {
  .full-width-container .middle-col {
    width: 40%;
  }
  .full-width-container .right-col {
    width: 350px;
  }
}

@media (max-width: 1100px) {
  .full-width-container .middle-col {
    width: 35%;
  }
}

@media (max-width: 1000px) {
  .quick-submit-button {
    display: none;
  }

  .full-width-container .left-col {
    width: calc(33% - 20px);
  }
  .full-width-container .middle-col {
    width: calc(33% - 15px);
  }
  .full-width-container .right-col {
    width: calc(33% - 20px);
  }
}

@media (max-width: 850px) {
  .full-width-container .left-col {
    width: calc(50% - 15px);
  }
  .full-width-container .middle-col {
    width: calc(50% - 15px);
  }
}
