.entries-container {
    display: flex;
    flex-direction: row;
    margin: 0 30px 60px 30px;
  }

.entries-main-content {
    margin: auto;
    width: 100%;
    max-width: 80%;
    margin-bottom: 120px;
}

.entries-action {
    margin-left: 30px;
}

.min-width-100 {
    min-width: 100px;
}

.min-width-200 {
    min-width: 200px;
}

.min-width-250 {
    min-width: 250px;
}


.hidden {
    display: none;
}