.featured-entries-carousel {
  height: 585px;
  background-color: #f2f2f2;
}
.featured-entries-carousel__inner-container {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  height: 100%;
}
.featured-entries-carousel__image {
  width: 50%;
  background-size: cover;
  background-position: center;
}
.featured-entries-carousel__content {
  width: 50%;
}

.featured-entries-carousel__content-inner {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px - 60px);
}

.featured-entries-carousel__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.featured-entries-carousel__header h2 {
  width: 75%;
  margin-bottom: 0;
}

.featured-entries-carousel__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.featured-entries-carousel__navigation-arrow {
  height: 35px;
}

.featured-entries-carousel__type {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}    

.featured-entries-carousel__dots-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured-entries-carousel__dots-nav-item {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #C8C8C8;
  margin-right: 10px;
}

.featured-entries-carousel__dots-nav-item--current {
  background-color: #000;
}
