fieldset {
  background-color: #fff;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 60px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 2px;
  box-sizing : border-box;
}

input[disabled] {
  border: 1px solid #808080;
}

textarea {
  height: 5rem;
  resize: none;
}

select:not([multiple]) {
  /* hides select arrow in FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  -webkit-appearance: unset;
  background-color: #ffffff;

  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjODA4MDgwIiBjbGFzcz0iaWNvbi1maWxsIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0xMC43MzU5LjI5MjlMMTIuMTUgMS43MDcgNi4yMjEgNy42MzYzLjI5MyAxLjcwNyAxLjcwNzEuMjkzIDYuMjIxIDQuODA3N3oiLz48L3N2Zz4=') no-repeat;
  background-position: right 8px center;
}

/* always show the number up/down arrows in chrome, not just on hover of the input */
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: 600;
  display: inline-block;
}

.form-group p {
  margin-top: 8px;
  margin-bottom: 10px;
}

.form-group-password input {
  margin-bottom: 15px;
}

[data-required="true"]:before {
  content: '*';
  color: #EC2024;
  position: absolute;
  margin: 5px 0 0 -20px;
  font-weight: 600;
  font-size: 1.75rem;
}
