fieldset {
  background-color: #fff;
  border: 0;
  padding: 0;
  padding-bottom: 30px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 2px;
  box-sizing : border-box;
}

input[disabled] {
  border: 1px solid #808080;
}

textarea {
  height: 5rem;
  resize: none;
}

select:not([multiple]) {
  /* hides select arrow in FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: unset;
  background-color: #ffffff;
  background: url('data:image/svg+xml;utf8,<svg width="13" height="8" xmlns="http://www.w3.org/2000/svg"><path fill="#808080" class="icon-fill" fill-rule="nonzero" d="M10.7359.2929L12.15 1.707 6.221 7.6363.293 1.707 1.7071.293 6.221 4.8077z"/></svg>') no-repeat #fff;
  background-position: right 8px center;
}

/* always show the number up/down arrows in chrome, not just on hover of the input */
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: 600;
  display: inline-block;
}

.form-group p {
  margin-top: 8px;
  margin-bottom: 10px;
}

[data-required="true"]:before {
  content: '*';
  color: #EC2024;
  position: absolute;
  margin: 5px 0 0 -20px;
  font-weight: 600;
  font-size: 1.75rem;
}
