header {
  background-color: #242424;
  position: fixed;
  width: 100vw;
  color: #fff;
  top: 0px;
  z-index: 2;
}

header a {
  text-decoration: none;
}

.header-logo-container {
  flex: 4;
}

.header-logo-container a {
  font-size: 1.4rem;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.horizontal-menu {
  align-self: center;
  padding: 10px 30px;
}

.horizontal-menu .nav-list {
  display: flex;
  flex-direction: row;
}

.horizontal-menu .nav-list li {
  align-self: center;
}

.header-search-container {
  margin-right: 100px;
  flex-basis: 50%;
}

.header-search-container form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.header-search-container input {
  width: 100%;
  border: 0px;
  border-radius: 0px;
  background-color: #4D4D4D;
  color: #fff;
}

.header-search-container input::placeholder {
  color: #fff;
}

.header-search-container input:focus {
  background-color: #fff;
  color: #222;
  outline: 0;
}

.header-search-container input:focus + .icon-container {
  background-color: #fff;
}

/* when search input is focused, change icon color to #222 */
.header-search-container input:focus + .icon-container .icon-fill {
  fill: #222;
}

.header-profile-link {
  display: flex;
}

.header-profile-link img {
  border-radius: 24px;
  position: relative;
  margin-left: -40px;
}

.header-profile-link .user-profile-image-initial {
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  font-weight: 800;
}

.icon-container {
  background-color: #4D4D4D;
  order: -1;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.icon-container i {
  height: 18px;
}

.sidebar-menu-open .icon-fill,
.sidebar-menu-closed:hover .icon-fill {
  fill: #808080;
}

.sidebar-menu-open:hover .icon-fill,
.sidebar-menu-closed .icon-fill {
  fill: #ffffff;
}

.quick-submit-container {
  margin-right: 9px;
}

.menu-icon-container a {
  display: flex;
  font-size: 1.3em;
  margin-right: 15px;
}

.menu-icon-container a i {
  height: 1.1em;
}

.sidebar-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 60px;
  left: -99999px;
  background-color: rgba(0, 0, 0, 0.54);
}

.sidebar-menu-inner-container {
  width: 300px;
  background-color: #fff;
  position: fixed;
  top: 61px;
  left: -300px;
  height: 100%;
  margin-bottom: 272px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
  transition: all .3s ease;
}

#sidebar-menu:target {
  left: 0;
}

#sidebar-menu:target .sidebar-menu-inner-container {
  left: 0;
  transition: all .4s ease;
}

.sidebar-menu-main-menu {
  margin-top: 30px;
}

.sidebar-menu-main-menu li {
  align-self: flex-start;
}

.sidebar-menu-main-menu li a {
  color: #000;
  padding: 13px 30px;
  display: block;
}

.sidebar-menu-main-menu a:hover {
  background-color: #E6E6E6;
}

/* hamburger menu when sidebar menu is closed */
#sidebar-menu + .horizontal-menu .sidebar-menu-open {
  display: none;
}
#sidebar-menu + .horizontal-menu .sidebar-menu-closed {
  display: flex;
}

/* hamburger menu when sidebar menu is open */
#sidebar-menu:target + .horizontal-menu .sidebar-menu-open {
  display: flex;
}
#sidebar-menu:target + .horizontal-menu .sidebar-menu-closed {
  display: none;
}

.nav-list.sidebar-menu-additional-nav {
  margin: 30px 0px 0px 30px;
}

.nav-list.sidebar-menu-additional-nav li {
  margin-bottom: 30px;
  display: flex;
}

.main-content {
  padding-top: 30px;
  margin-top: 60px;
  /* make min height the height of the viewport minus height of footer, padding/margin, header, so that footer always looks fixed to bottom */
  min-height: calc(100VH - 227px - 90px - 60px);
}

/* profile img/button with dropdown menu */
.profile-dropdown-button-container {
  position: relative;
}

.profile-dropdown-button-container .profile-dropdown-button-items {
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 50px;
  left: -188px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.profile-dropdown-button-container .profile-dropdown-button-items a {
  justify-content: flex-start;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.profile-dropdown-button-container .profile-dropdown-button-items a:last-of-type {
  margin-bottom: 0;
}

.profile-dropdown-button-container .profile-dropdown-button-items a:hover {
  color: #808080;
}

.header-user-profile-image-initial {
  width: 40px;
  height: 40px;
  font-size: 1rem;
}
.profile-dropdown-button-trigger {
  padding: 0px;
  min-width: unset;
  width: 40px;
  height: 40px;
  display: block;
  background-color: transparent;
}
.profile-dropdown-button-trigger img {
  top: -40px;
  position: relative;
  border-radius: 40px;
}

@media (max-width: 1150px) {
  .header-search-container {
    flex-basis: 40%;
  }
}

@media (max-width: 950px) {
  .horizontal-menu .nav-list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1px;
  }

  .quick-submit-container {
    display: none;
  }

  .header-logo-container {
    flex-basis: 50%;
  }

  .header-search-container {
    order: 1;
    flex-basis: 100%;
    margin: 25px 0px 0px 0px;
  }

  .header-search-container:after {
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 64px;
    left: 0;
    height: 64px;
    background-color: #3A3A3A;
    z-index: -1;
  }

  .main-content {
    margin-top: 128px;
  }
}
