.home-search .content {
  margin: 30px;
}

.home-search .tagline {
  width: 75%;
}

.map-container {
  margin-top: -30px;
  height: 350px;
  background-color: #C2CACC;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-card {
  width: 280px;
  height: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.article-card img {
  display: block;
}

.article-card a {
  text-decoration: none;
}

.article-card-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.article-card-meta h5 {
  margin: 0;
}

.article-card-meta button {
  padding: 0;
}

.article-card-title {
  height: 5.1rem;
}


/* tabs */
.tab-container {
  display: block;
}

.tab-container .tab-button-list {
  border-bottom: 1px solid #E6E6E6;
}

.tab-container .tab-button-list  button {
  padding: .5rem;
  border: 0;
  background-color: transparent;
}

.tab-container .tab-button-list  button:hover,
.tab-container .tab-button-list  button[aria-selected="true"] {
  border-bottom: 2px solid #ec2024;
}
