.home-section {
  margin-bottom: 120px;
}

.home-section-header {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  overflow: hidden;
}

.home-hero {
  margin-top: -30px;
  margin-bottom: 30px;
  height: 735px;  
  color: #fff;
  text-shadow: 0px 0px 15px rgba(0,0,0,.5); 
}

.home-hero a {
  color: #fff;
  text-shadow: 0px 0px 15px rgba(0,0,0,.5); 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.home-hero-image {
  background-color: #222;
  position: absolute;
  height: 735px;
  width: 100%;
  z-index: -2;
  background-size: cover;
}

.home-hero-overlay {
  position: absolute;
  background-color: rgba(33,33,33);
  opacity: .5;
  transition: .25s opacity ease-in;
  height: 735px;
  width: 100%;
  z-index: -1;
}

.home-hero-header {
  font-size: 32px;
  line-height: 43px;
  color: #fff;
  width: 64%;
  margin-bottom: 75px;
  font-weight: 900;
  text-shadow: 0px 0px 15px rgba(0,0,0,.5); 
  padding-top: 60px;
}
.home-hero-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-hero-stats__stat-item a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.home-hero-stats__stat-item h5,
.home-hero-stats__stat-item h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  text-shadow: 0px 0px 15px rgba(0,0,0,.5); 
  font-weight: 900;
}

.home-hero-stats__stat-item h5 {
  font-size: 3.75rem;
  margin-bottom: 15px;
}
.home-hero-stats__stat-item h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.home-hero-search__advanced-link {
  padding-right: 15px;
}

.home-hero-search__form {
  margin-bottom: 15px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
}

.home-hero-search__form-search-icon-container {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: -2px;
  border-radius: 2px;
}
.home-hero-search__form-search-icon-container .icon-fill {
  fill: #222
}

.home-hero-search__form-input {
  border: 0;
  width: 30%;
  padding: 8px;
  height: 40px;
}

.home-hero-search__edit-select {
  width: 15%;
  border: 1px solid #fff;
}

.home-hero-search__edit-select.ss-main .ss-single-selected {
  border: 0;
  height: 40px;
}

.home-hero-search__edit-select.ss-main .ss-single-selected .placeholder {
  align-self: center;
}

.home-hero-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.home-hero-image-credit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .25s opacity ease-in;
}

.home-hero-image-credit svg {
  margin-top: 2px;
  margin-right: 4px;
}

.home-hero-image-credit small {
  margin-top: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.home-hero-image-credit__entry-link {
  padding-left: 5px;
}

.home-hero-image-credit__entry-link-container {
  display: flex;
  padding-right: 30px;
  max-width: 50%;
}

.home-hero__carousel-navigation {
  padding-bottom: 60px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.home-hero__carousel-navigation .carousel-navigation__dots-nav-item {
  background-color: #555;
}
.home-hero__carousel-navigation .carousel-navigation__dots-nav-item--current {
  background-color: #fff;
}

@media (max-height: 800px) {
  .home-hero-header {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .home-hero-stats__stat-item h5 {
    font-size: 3rem;
  }
  .home-hero-stats {
    margin-bottom: -30px;
  }
}

@media (max-width: 1000px) { 
  .home-hero-header {
    width: 85%
  }
}

@media (max-width: 900px) { 
  .home-hero-stats__stat-item h5 {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .home-hero-stats__stat-item h3 {
    font-size: 1rem;
  }
}


@media (max-width: 800px) { 
  .home-hero-stats {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .home-hero-header {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .home-section-column-image {
    width: 30%;
  }
  .home-hero-stats__stat-item a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-left: 0;
    flex-grow: unset;
    padding-right: .5em;
  }

  .home-hero-stats__stat-item h5, 
  .home-hero-stats__stat-item h3 {
    font-size: 1rem;
    margin-bottom: 0;
  } 
  .home-hero-stats__stat-item h5 {
    padding-right: .25em; 
  }
  .home-hero-stats__stat-item h5:last-child {
    padding-right: 0;
  }
  .home-section {
    margin-bottom: 60px;
  }
}

@media (max-width: 750px) { 
  .home-hero-header {
    width: 100%
  }
}

@media (max-width: 500px) { 
  .home-hero-header {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .home-hero-stats__stat-item h5, 
  .home-hero-stats__stat-item h3 {
    font-size: 0.875rem;
    line-height: 1.1rem;
    font-weight: 300;
  } 
  .home-hero-search__edit-select {
    display: none;
  }
  .home-hero-image-credit {
    flex-direction: column;
  }
  .home-hero-image-credit__entry-link {
    padding-left: 0;
  }
}