@font-face {
  font-family: "participedia-icons";
  src: url("/fonts/participedia-icons.ttf");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "participedia-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\61";
}
.icon-hamburger:before {
  content: "\62";
}
.icon-search:before {
  content: "\63";
}
