.language-select-tooltip__actions a {
  color: #fff;
}
.language-select-tooltip__actions {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 12px;
}

.language-select-container {
  display: none;
}

.disabled-language-select-note {
  color: #ec2024;
  font-size: 14px;
}

.language-select-container.is-visible {
  display: block;
}

select.js-edit-select[name=languages] {
  margin-bottom: 10px;
}

.js_other_lang_select {
  margin-bottom: 10px;
  display: block;
}