.c-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, .75);
}

.c-dialog__box {
  max-width: 48rem;
  margin: auto;
  background-color: #fff;
  width: 50vw;
  padding: 2.5rem;
}

.c-dialog[aria-hidden="true"] {
  display: none;
}

.c-dialog__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
