.reader-view {
  margin-bottom: 120px;
}

.reader-view article .article-data-accordion {
  display: none;
}

.reader-view article a {
  overflow-wrap: break-word;
}

.reader-view dt {
  font-weight: 600;
}

.reader-view dd {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

article .reader-view-social-links {
  display: none;
}

.reader-view-social-links {
  text-align: center;
  width: 24px;
}

.reader-view-social-links li {
  align-self: center;
}

.reader-view .body-content,
.reader-view .data-column-inner {
  word-break: break-word;
}

.reader-view .body-content h2 {
  font-size: 1.75rem;
  line-height: 1.875rem;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0;
}

.reader-view .body-content img {
  width: 100%;
}
.reader-view .body-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 10px;
}

/* bookmark link */
.reader-view .bookmark-link {
  display: none;
}

.reader-view .bookmark-link[data-user-id] {
  display: inline-block;
}

.reader-view .bookmark-link[data-bookmarked='false'] .icon-fill:first-of-type {
  fill: #ffffff;
}

.reader-view .bookmark-link[data-bookmarked='true'] .icon-fill:first-of-type {
  fill: #808080;
}

.reader-view .language-select {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 200px;
}

.reader-view article .language-select {
  display: none;
}

.reader-view .data-column-inner {
  max-width: 270px;
}

.edit-history-accordion {
  margin-bottom: 20px;
}
.edit-history-accordion__table {
  margin-bottom: 20px;
}
.edit-history-accordion__table td {
  padding-bottom: 5px;
}
.edit-history-accordion__timestamp {
  padding-right: 20px;
}

@media (max-width: 850px) {
  .reader-view .language-select {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .reader-view-social-links {
    display: none;
  }

  article .reader-view-social-links {
    display: flex;
    margin-bottom: 30px;
  }

  .reader-view-social-links li {
    margin-right: 8px;
  }

  .reader-view .middle-col {
    width: 50%;
  }

  .floating-action-button {
    right: 32px;
  }

  .reader-view.full-width-container .right-col {
    float: right;
    display: unset;
  }

  .reader-view .middle-col {
    width: 100%;
    margin-left: 0px;
  }

  .reader-view article .article-data-accordion {
    display: block;
    margin-bottom: 30px;
  }

  .reader-view .data-column {
    display: none;
  }
  .reader-view article .language-select {
    display: block;
  }
}
