.reader-view {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
}

.reader-view aside {
  width: 27%;
  margin: 0 90px 0 30px;
}

.reader-view article {
  width: 46%;
  margin-right: 27%;
  display: flex;
  flex-direction: column;
}

.reader-view article .article-data-accordion {
  display: none;
}

.reader-view article a {
  overflow-wrap: break-word;
}

.reader-view dt {
  font-weight: 500;
}

.reader-view dd {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.reader-view .social-links {
  order: -1;
  width: 30px;
  position: absolute;
  margin-left: 46%;
  text-align: center;
}

.reader-view .social-links li {
  align-self: center;
}

.reader-view .body-content {
  word-break: break-word;
}

.reader-view .body-content h3 {
  /* style h3 tags as h2 tags within body content only */
  font-size: 1.75rem;
  line-height: 1.875rem;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0;
}

/* bookmark link */
.reader-view .bookmark-link {
  display: none;
}

.reader-view .bookmark-link[data-user-id] {
  display: inline-block;
}

.reader-view .bookmark-link[data-bookmarked='false'] .icon-fill:first-of-type {
  fill: #ffffff;
}

.reader-view .bookmark-link[data-bookmarked='true'] .icon-fill:first-of-type {
  fill: #808080;
}

@media (max-width: 850px) {
  .reader-view .social-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin-left: 0;
    order: 0;
    margin-bottom: 30px;
  }
  .reader-view .social-links li {
    margin-right: 8px;
  }

  .reader-view .social-links svg {
    display: flex;
  }

  .reader-view article {
    width: 100%;
    margin: 0 30px;
  }

  .reader-view article .article-data-accordion {
    display: block;
    margin-bottom: 30px;
  }

  .reader-view aside {
    display: none;
  }
}
