.search-filters {
  margin-bottom: 20px;
}
.search-filters-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.search-filters-chip-list li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.search-filters-chip {
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  padding: 6px 12px;
  font-weight: 600;
}
.search-filters-chip:focus {
  outline: none;
}
.search-filters-chip-selected, .search-filters-chip-open {
  background-color: #e6e6e6;
  outline: 0;
}
.filter-list-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.filter-list-display .case-item {
  margin-bottom: 5px;
}
.filter-list-display .case-item .label {
  padding-right: 14px;
  margin-right: 3px;
}
.filter-list-display .case-item .icon {
  position: absolute;
  right: 5px;
  top: 4px;
}
.filter-list-display .case-item button {
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 14px;
  position: relative;
  margin-bottom: 5px;
}
.filter-list-display .case-item strong {
  margin-left: 1em;
  margin-right: 5px;
}
.filter-list-display .case-item:first-child strong {
  margin-left: 0 !important;
}
.filter-list-pop-over {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.filter-list-pop-over-inner {
  border-top: 25px solid #fff;
  border-bottom: 25px solid #fff;
  border-left: 25px solid #fff;
  height: 250px;
  overflow: scroll;
}
.keys-list {
  margin-bottom: 20px;
}
.keys-list li {
  overflow: auto;
}
.keys-list input {
  margin-top: 5px;
  margin-right: 5px;
  width: 20px;
  float: left;
}
.keys-list label {
  float: left;
  width: 90%;
}
.show-filter-list-popover {
  display: block;
  z-index: 1;
}
.clear-all-link, .clear-section-link {
  color: #aaa;
  text-decoration: none;
}
.clear-all-link {
  margin-left: 15px;
}
.filter-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
}
.filter-list-header h4 {
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .filter-list-pop-over {
    width: calc(100% - 60px);
    left: 30px;
  }
  .keys-list label {
    width: 85%;
  }
  .filter-list-header {
    flex-direction: column;
  }
  .filter-list-header h4 {
    margin-bottom: 0;
  }
  .clear-section-link {
    margin-top: 6px;
    margin-bottom: 16px;
  }
}
