#search-filter-modal .aria-modal-document .aria-modal-footer {
  display: flex !important;
  justify-content: space-between;
}

#search-filter-modal .aria-modal-document .aria-modal-footer .search-filter-modal-clear-btn {
  background: none;
  border: none;
}

.search-filter-list .search-filter-list-item {
	margin-bottom: 60px;
}

.search-filter-list .search-filter-list-item:last-child {
	margin-bottom: 0;
}

.search-filter-list .search-filter-list-item .filter-label {
	margin-bottom: 10px;
}

.search-filter-list .search-filter-list-item .filter-label label {
	font-size: 1.25rem;
	line-height: 1rem;
	font-weight: 600;
	display: inline-block;
}

.search-filter-list .search-filter-list-item .keys-list {
	display: flex;
  flex-wrap: wrap;

  /* TODO: Remove this */
  margin-bottom: 0;
}

.search-filter-list .search-filter-list-item .keys-list .keys-list-item label {
  font-size: 16px !important;
}

.search-filter-list .search-filter-list-item .keys-list .keys-list-item label:after {
  content: "";
}

.search-filter-list .search-filter-list-item .keys-list .keys-list-item {
	flex: 0 0 50%;
}

.search-filter-list .search-filter-list-item .keys-list .hidden {
	display: none;
}