#search-filter-modal {
  overflow: unset;
}

#search-filter-modal .aria-modal-document {
  max-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

#search-filter-modal .aria-modal-document .aria-modal-header,
#search-filter-modal .aria-modal-document .aria-modal-footer {
  padding: 20px;
}

#search-filter-modal .aria-modal-document .aria-modal-content {
  padding-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}

#search-filter-modal .aria-modal-document .aria-modal-content::-webkit-scrollbar {
  width: 8px;
  border: none;
}
#search-filter-modal .aria-modal-document .aria-modal-content::-webkit-scrollbar-track {
  
}
::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 5px;
  transition: all 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: #808080;
  transition: all 0.5s;
}

#search-filter-modal .aria-modal-document .aria-modal-footer {
  border-top: 1px solid #e6e6e6;
  display: flex !important;
  justify-content: space-between;
}

#search-filter-modal .aria-modal-document .aria-modal-footer .search-filter-modal-clear-btn {
  background: none;
  border: none;
  text-decoration: underline;
}

#search-filter-modal .aria-modal-document .is-icon-btn {
  right: 45px;
  top: 28px;
}

.search-filter-list .search-filter-list-item {
	margin-bottom: 60px;
}

.search-filter-list .search-filter-list-item:last-child {
	margin-bottom: 0;
}

.search-filter-list .search-filter-list-item .filter-label {
	margin-bottom: 10px;
}

.search-filter-list .search-filter-list-item .filter-label label {
	font-size: 1.25rem;
	line-height: 1rem;
	font-weight: 600;
	display: inline-block;
}

.search-filter-list .search-filter-list-item .keys-list {
	display: flex;
  flex-wrap: wrap;

  /* TODO: Remove this */
  margin-bottom: 0;
}

.search-filter-list .search-filter-list-item .keys-list .keys-list-item label {
  font-size: 16px !important;
}

.search-filter-list .search-filter-list-item .keys-list .keys-list-item label:after {
  content: "";
}

.search-filter-list .search-filter-list-item .keys-list .keys-list-item {
	flex: 0 0 50%;
}

.search-filter-list .search-filter-list-item .keys-list .hidden {
	display: none;
}

.search-filter-list .search-filter-list-item .keys-list input {
  margin-top: 5px;
  margin-right: 5px;
  width: 20px;
  float: left;
}

#search-filter-modal,
.search-filter-list .search-filter-list-item .search-filter-autocomplete,
.search-filter-list .search-filter-autocomplete-list {
  width: 60%;
}

.keys-list label {
  float: left;
  width: 90%;
}

@media (max-width: 800px) {
  .keys-list label {
    width: 85%;
  }
}

@media screen and (max-width: 850px) {
  #search-filter-modal,
  .search-filter-list .search-filter-list-item .search-filter-autocomplete,
  .search-filter-list .search-filter-autocomplete-list {
    width: 90%;
  }
}