#search-filter-modal {
  overflow: unset;
  height: calc(100VH - 90px);
}

.search-filter-modal__document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}

.search-filter-modal__header {
  padding: 15px 15px 0 15px;
}

.search-filter-modal__footer {
  border-top: 1px solid #e6e6e6;
  min-height: 75px;
}

.search-filter-modal__footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.search-filter-modal__content {
  overflow-y: scroll;
  flex: 1;
  padding: 15px;
  margin-right: 15px;
}

.search-filter-modal-clear-btn {
  background: none;
  border: none;
  text-decoration: underline;
}

.search-filter-list-item {
	margin-bottom: 60px;
}

.search-filter-list-item:last-child {
	margin-bottom: 0;
}

.search-filter-list-item .filter-label {
	margin-bottom: 10px;
}

.search-filter-list-item .filter-label label {
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 600;
	display: inline-block;
}

.search-filter-list-item .keys-list {
	display: flex;
  flex-wrap: wrap;

  /* TODO: Remove this */
  margin-bottom: 0;
}

.search-filter-list-item .keys-list .keys-list-item label {
  font-size: 16px !important;
}

.search-filter-list-item .keys-list .keys-list-item label:after {
  content: "";
}

.search-filter-list-item .keys-list .keys-list-item {
	flex: 0 0 50%;
}

.search-filter-list-item .keys-list .hidden {
	display: none;
}

.search-filter-list-item .keys-list input {
  margin-top: 5px;
  margin-right: 5px;
  width: 20px;
  float: left;
}

.search-filter-list-item .search-filter-autocomplete,
.search-filter-autocomplete-list {
  width: 60%;
}

.keys-list label {
  float: left;
  width: 90%;
}

@media screen and (max-width: 850px) {
  .search-filter-list .search-filter-list-item .search-filter-autocomplete,
  .search-filter-list .search-filter-autocomplete-list {
    width: 90%;
  }
  .search-filter-list .search-filter-list-item .keys-list .keys-list-item {
    flex: 0 0 100%;
  }
}

@media (max-width: 800px) {
  .keys-list label {
    width: 85%;
  }
}

@media screen and (max-width: 700px) {
  #search-filter-modal {
    height: calc(100VH - 90px);
  }
}

/* hack to make sure show results button is visible on mobile safari */
@media screen and (max-width: 500px) and and (-webkit-min-device-pixel-ratio: 2) {
  .search-filter-modal__footer-inner {
    margin-bottom: 45px;
  }
}
