.static-view {
  margin-bottom: 120px;
}

.static-view section {
  margin-bottom: 30px;
}

.video-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 30px 0;
}

.video-embed-container iframe,
.video-embed-container object,
.video-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.people dt {
  font-weight: 600;
}

.people dd {
  margin-left: 0;
}

@media (max-width: 1000px) {
  .static-view.full-width-container .left-col {
    width: calc(33% - 20px);
  }
  .static-view.full-width-container .middle-col {
    width: 50%;
  }
  .static-view.full-width-container .right-col {
    display: none;
  }
}

@media (max-width: 850px) {
  .static-view.full-width-container .left-col {
    display: none;
  }
  .static-view.full-width-container .middle-col {
    width: 100%;
    margin-left: 0;
  }
  .static-view.full-width-container .right-col {
    display: none;
  }
}
