@charset "UTF-8";

@import url("/css/vendor/normalize.css");

@import url("/css/icons.css");

@import url("/css/header.css");

@import url("/css/footer.css");

@font-face {
  font-family: "Fakt";
  src: url("/fonts/FaktPro-Medium.ttf");
  font-weight: 800;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Fakt";
  src: url("/fonts/FaktPro-Normal.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fakt";
  src: url("/fonts/FaktPro-Blond.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Fakt", serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #000;
  -webkit-overflow-scrolling: touch;
}

/* Typography */
body {
  font-size: 1rem; /* 16px */
  font-weight: 300;
  line-height: 1.5; /* 24px */
}
h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 1.1; /* 44px */
  font-weight: 600;
}
h2 {
  font-size: 1.75rem; /* 28px */
  line-height: 1.875rem; /* 30px */
  font-weight: 600;
}
h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.4; /* 28px */
  font-weight: 600;
}
h4 {
  font-size: 1rem; /* 16px */
  line-height: 1.5; /* 24px */
  font-weight: 600;
}
h5 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 600;
}
.large {
  font-size: 12rem; /* 19.2px */
  line-height: 1.875rem; /* 30px */
  font-weight: 300;
}
small,
.small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 300;
}
b,
strong {
  font-weight: 600;
}

/* Layout */
main section {
  display: flex;
  justify-content: center;
}

aside {
  flex: 0 0 25%;
  max-width: 25%;
  background-color: cornsilk;
  order: 1;
}

.case-nav {
  flex: 0 0 25%;
  max-width: 25%;
  background-color: palegreen;
  order: 3;
}

article {
  background-color: lightcyan;
  flex: 0 0 50%;
  order: 2;
}

.sr-only {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

/* Buttons */
.button {
  background-color: #fff;
  color: #222;
  border-radius: 2px;
  text-decoration: none;
  min-width: 60px;
  align-items: center;
  justify-content: center;
  height: 39px;
  padding: 0 15px;
  display: flex;
}

.button i {
  font-size: .75em;
  padding-right: .5em;
  height: 1.15em;
  vertical-align: middle;
  display: inline-block;
}

.white-button {
  background-color: #fff;
  color: #222;
}

.dark-grey-button {
  background-color: #4D4D4D;
  color: #fff;
}
