/* tabs */
.tab-panels {
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
}

.tab-panels > [role="tabpanel"] {
  display: none;
}

.tab-container input {
  display: none;
}

.tab-container label {
  padding: .5rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.tab-container label:hover,
.tab-container input:checked + label {
  border-bottom: 2px solid #ec2024;
}

#tab-all:checked ~ .tab-panels .tab-all,
#tab-cases:checked ~ .tab-panels .tab-cases,
#tab-methods:checked ~ .tab-panels .tab-methods,
#tab-organizations:checked ~ .tab-panels .tab-organizations,
#tab-contributions:checked ~ .tab-panels .tab-contributions,
#tab-bookmarks:checked ~ .tab-panels .tab-bookmarks {
  display: block;
}
