/* tabs */
.tab-panels {
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
}

.tab-panels > [role="tabpanel"] {
  display: none;
}

.tab-container input {
  display: none;
}

.tab-container label {
  padding: .5rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.tab-container label:hover,
.tab-container input:checked + label {
  border-bottom: 2px solid #ec2024;
}

#tab-all:checked ~ .tab-panels .tab-all,
#tab-cases:checked ~ .tab-panels .tab-cases,
#tab-methods:checked ~ .tab-panels .tab-methods,
#tab-organizations:checked ~ .tab-panels .tab-organizations,
#tab-contributions:checked ~ .tab-panels .tab-contributions,
#tab-bookmarks:checked ~ .tab-panels .tab-bookmarks {
  display: block;
}

.tab-select-container {
  display: none;
}

 /* cards and card layout */
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-card {
  width: calc(25% - 20px);
  margin-bottom: 30px;
  overflow: hidden;
}

.article-card a {
  text-decoration: none;
}

.article-card-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.article-card-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.article-card-meta h5 {
  margin: 0;
  font-weight: normal;
}

.article-card button {
  padding: 0;
}

.article-card-title {
  margin: 0;
}

.article-card .close-card-btn {
  display: none;
}

.article-card-description {
  display: none;
}

[data-card-layout="list"] .cards-container .article-card {
  width: 100%;
  height: unset;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 0;
  padding-bottom: 30px;
}

[data-card-layout="list"] .cards-container .article-card a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

[data-card-layout="list"] .cards-container .article-card-content {
  flex: 1;
}

[data-card-layout="list"] .cards-container .article-card-img {
  width: 280px;
  margin-right: 30px;
}

[data-card-layout="list"] .cards-container .article-card-description {
  display: block;
}

[data-card-layout="list"] .cards-container .article-card-meta {
  margin-top: 0;
}

[data-card-layout="list"] .cards-container .article-card-title,
[data-card-layout="list"] .cards-container .article-card-description {
  margin-right: 30px;
}

/* PopOver on map */
.pop-over .article-card {
  background-color: #fff;
  padding: 15px;
  height: 290px;
  width: 290px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-over .bookmark-btn {
  display: none;
}

.pop-over .article-card-img {
  width: 100%;
  height: 155px;
}

.pop-over .close-card-btn {
  display: block;
  float: right;
}

/* toggle layout buttons */
.card-layout-btns {
  display: flex;
  flex-direction: row;
  width: 50%;
  float: right;
  flex-flow: row-reverse;
  margin-top: -4px;
}

[data-card-layout="grid"] .toggle-grid-layout-btn .icon-fill {
  fill: #EC2024;
}
[data-card-layout="grid"] .toggle-list-layout-btn .icon-fill {
  fill: #B3B3B3;
}
[data-card-layout="list"] .toggle-grid-layout-btn .icon-fill {
  fill: #B3B3B3;
}
[data-card-layout="list"] .toggle-list-layout-btn .icon-fill {
  fill: #EC2024;
}

/* pagination */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.pagination-nav {
  display: flex;
  flex-direction: row;
}

.pagination-nav li {
  margin-right: 5px;
}

.pagination-nav li:last-child {
  margin-right: 0;
}

/* button with dropdown menu */
.menu-button-container {
  position: relative;
}

.menu-button-container .menu-button-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -120px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.menu-button-container:hover .menu-button-menu {
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.menu-button-container:hover svg {
  transform: rotate(180deg);
}

.menu-button-container .menu-button-menu a {
  justify-content: flex-start;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.menu-button-container .menu-button-menu a:last-of-type {
  margin-bottom: 0;
}

.menu-button-container .menu-button-menu a:hover {
  color: #808080;
}

@media (max-width: 1000px) {
  .cards-container .article-card {
    width: calc(33% - 15px);
  }
}

@media (max-width: 850px) {
  .cards-container .article-card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 650px) {
  .cards-container .article-card {
    width: 100%;
  }
  /* hide toggle layout button */
  .card-layout-btns {
    display: none;
  }

  /* change tabs to select dropdown */
  .tab-select-container {
    display: block;
  }

  .tab-container label {
    display: none;
  }

  .tab-panels {
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  .pagination {
    flex-direction: column;
  }
}
