.video-con {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}

.video-con iframe,
.video-con object,
.video-con embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}